[2017-03-17 21:54] digitalinfinity opened #6 "Write documentation for C++ APIs"

[2017-04-05 19:39] sampsongao opened #11 "Conflict of class name and member function?"
Seeing these errors on linux. Consider changing the member function name to be Env GetEnv()/Arraybuffer GetArrayBuffer, or changing return types to be Napi::Env Env() and Napi::ArrayBuffer ArrayBuffer().

../node_modules/napi/napi.h:90:15: error: declaration of ‘Napi::Env Napi::Value::Env() const’ [-fpermissive]
     Env Env() const;
               ^
../node_modules/napi/napi.h:58:9: error: change

[2017-04-05 19:42] jasongin commented on #11
I'd rather not change the names. These just need a namespace prefix to make the compiler happy, for example:

[code]

[2017-04-05 20:08] sampsongao opened #12 "_NOEXCEPT or noexcept"
The keyword seems to be "noexcept" on linux.

../node_modules/napi/napi.h:452:24: error: expected ‘;’ at end of member declaration
     const char* what() const _NOEXCEPT override;
                        ^
../node_modules/napi/napi.h:452:30: error: ‘_NOEXCEPT’ does not name a type
     const char* what() const _NOEXCEPT override;
                              ^

[2017-04-05 20:09] jasongin commented on #12
Hmm, I'm pretty sure this worked when I built with GCC on macOS.

Anyway, we need to figure out a cross-platform way to do this. I don't think `noexcept` will work everywhere.

[2017-04-05 20:18] gabrielschulhof commented on #12
#ifdef?

On Wed, Apr 5, 2017 at 11:09 PM, Jason Ginchereau <notifications@github.com>
wrote:

[2017-04-05 20:26] sampsongao commented on #12
Do ou mean
[code]

[2017-04-05 20:31] gabrielschulhof commented on #12
Yeah, or something platform-based.

On Wed, Apr 5, 2017 at 11:26 PM, Sampson Gao <notifications@github.com>
wrote:

[2017-04-05 20:35] sampsongao opened #13 "Exception handling disabled and adding "'cflags_cc': ['-fexceptions']" in binding.gyp doesn't solve it."
Not sure if I am missing something here. What else should I do to enable exception handling in module?

../node_modules/napi/napi-inl.h: In function ‘void Napi::RegisterModule(napi_env, napi_value, napi_value, void (*)(Napi::Env, Napi::Object, Napi::Object))’:
../node_modules/napi/napi-inl.h:40:23: error: exception handling disabled, use -fexceptions to enable
   catch (const Error& e) {

[2017-04-05 20:42] jasongin commented on #13
Did you follow the instructions about enabling exceptions in the [README](https://github.com/nodejs/node-api/blob/master/README.md)?

[2017-04-05 22:26] sampsongao commented on #13
That is not working for some reason.

[2017-04-05 22:30] jasongin commented on #13
Can you share a link to your `binding.gyp`?

[2017-04-05 22:37] sampsongao commented on #13
https://github.com/sampsongao/node-nanomsg/blob/napi-wrapper-port-3.2.4/binding.gyp

[2017-04-05 22:41] jasongin commented on #13
The cflags settings you added are not taking effect because they are inside a conditional block with the condition `use_system_libnanomsg=="true"`, but that variable defaults to false.

[2017-04-06 14:18] sampsongao commented on #13
Thanks, moving it into the use_system_libnanomsg=="false" block works.

[2017-04-06 14:18] #13 closed

[2017-04-06 18:37] sampsongao opened #14 "String::Length missing"
Is there any reason why we don't have Length method for Napi::String?

[2017-04-06 19:42] jasongin commented on #14
Most of the time what you want is the length of the utf8 or utf16 encoding:  `value.Utf8Value().size()` or `value.Utf16Value().size()`.

Maybe there should be a `Napi::String::Length()` method that calls `napi_get_value_string_length()` to get the character length. Or maybe we should remove `napi_get_value_string_length()`, since it's not very useful and a potential source of localization bugs if

[2017-04-06 22:32] sampsongao opened #15 "Buffer finish callback with c type"
Probably want to wrap napi_finalize as well to avoid mixing c api types with wrapper's.

    static Buffer<T> New(napi_env env, T* data,
                         size_t length,
                         napi_finalize finalizeCallback = nullptr,
                         void* finalizeHint = nullptr);

[2017-04-06 22:34] sampsongao opened #16 "Symbol class missing"
Are we using String class for both string and symbol use cases?

[2017-04-06 22:36] jasongin commented on #15
Agreed. It should probably be a `std::function` like `Napi::FunctionCallback`.

[2017-04-06 22:37] jasongin commented on #16
There should definitely be a `Napi::Symbol` class.

Feel free to make PRs. :)

[2017-04-07 17:35] sampsongao opened #17 "Function::New ambiguity"
[code]

[2017-04-07 17:37] jasongin commented on #17
What is the code that produced this error message?

[2017-04-07 18:11] jasongin commented on #17
You must be using an older version of the code. In the latest version, the type of the `env` parameter is `napi_env`. I don't know if that is related to the error though.

[2017-04-07 19:11] sampsongao commented on #17
I guess it just the compiler is confused about which of the four Napi::Function::New it should be using.

[2017-04-07 19:16] jasongin commented on #17
Yes, but it shouldn't get confused unless the type of `S` is not exactly one of the allowed callback types.

[2017-04-11 01:31] addaleax commented on #17
I *think* this would be fixed by 52c1aa9.

[2017-04-12 22:47] #11 closed

[2017-04-12 22:47] #12 closed

[2017-04-13 16:18] addaleax commented on #17
@sampsongao can you check whether this is still a problem with the current `master`? If not, I agree with @jasongin, it would be good to have a bit more context around that error message.

[2017-04-14 18:44] jasongin opened #23 "Symbol class"
There should be a `Napi::Symbol` class, implemented with `napi_create_symbol()`. And probably also a `Napi::Name` class that is a common base class for `Symbol` and `String`, because there are several APIs that can accept either a string or symbol.

[2017-04-14 18:45] jasongin commented on #14
See https://github.com/nodejs/abi-stable-node/issues/226 about removing `napi_get_value_string_length()`.

[2017-04-14 18:45] addaleax commented on #23
#16? ;) I might be able to do this over the weekend.

[2017-04-14 18:46] jasongin commented on #23
Oops closing as duplicate of #16

[2017-04-14 18:46] #23 closed

[2017-04-14 18:47] jasongin commented on #16
Also a `Napi::Name` class that is a common base class for `Symbol` and `String`, because there are several APIs that can accept either a string or symbol.

[2017-04-17 17:10] jasongin commented on #15
I'm working on updating all finalize callbacks to use a templatized callback similar to what @addaleax did for function callbacks.

[2017-04-25 17:52] sampsongao opened #28 "IsConstructCall missing in class CallbackInfo"
I just realize we don't have something equivalent to IsConstructCall for our wrapper class.

[2017-04-27 18:14] jasongin commented on #14
Closing because `napi_get_value_string_length()` was removed in https://github.com/nodejs/node/pull/12496

[2017-04-27 18:15] #14 closed

[2017-04-27 18:19] jasongin commented on #16
Added with https://github.com/nodejs/node-api/pull/27

[2017-04-27 18:19] #16 closed

[2017-04-27 18:34] jasongin commented on #28
I had been thinking this was not needed because [`Napi::ObjectWrap` automatically does the check](https://github.com/nodejs/node-api/blob/master/napi-inl.h#L1925).

However, there could be scenarios not using `ObjectWrap` that may make use of this information. It will be easy to expose.

[2017-04-27 18:36] jasongin commented on #17
@sampsongao Is this still an issue?

[2017-04-28 01:49] sampsongao commented on #17
I don't see the error message. It should to be fixed.

[2017-04-29 00:32] jasongin opened #31 "A Napi::Error may become invalid if it is thrown out of a handle scope"
When a `Napi::Error` is constructed, it acquires a handle to a JS error object via `napi_get_and_clear_last_exception()`. Then the `Napi::Error` instance is intended to be thrown and caught as a C++ exception. But if any stack frame between where it is thrown and where it is caught has set up a handle scope, then the error object handle gets released as the exception propagates up the stack.

One

[2017-05-02 20:06] #17 closed

[2017-05-04 22:52] #31 closed

[2017-05-05 12:29] ealib opened #35 "N-API Documentation not present in "View on single page""
If you click on [View on single page"](https://nodejs.org/dist/latest-v7.x/docs/api/all.html) from [N-API](https://nodejs.org/dist/latest-v7.x/docs/api/n-api.html), then **N-API** chapter is *not* present.

[2017-05-05 12:35] addaleax commented on #35
Yeah, there’s a weird bug – the N-API docs should not be there anyway yet, see https://github.com/nodejs/node/issues/12833

[2017-05-16 17:27] gabrielschulhof opened #40 "Move repo to node-addon-api"
... or change README.md to show the package.json dependency as `github:nodejs/node-api` rather than `github:nodejs/node-addon-api`.

[2017-05-16 18:11] gabrielschulhof opened #41 ".defines instead of isNodeApiBuiltin"
Would it make more sense to have a `require( "node-addon-api" ).defines` instead of `.isNodeApiBuiltin`? Conditionally adding the `EXTERNAL_NAPI` preprocessor directive is my only use case for examining the value of `.isNodeApiBuiltin`, and on Windows the define is required, otherwise there will be unresolved symbols.

[2017-05-16 18:14] gabrielschulhof commented on #41
Also, all the other `node-addon-api` exports can be added unconditionally to either the `"include_dirs"` or `"dependencies"` of a dependent target, because the conditionality is encapsulated in `index.js`.

[2017-05-16 18:16] gabrielschulhof commented on #41
I guess it doesn't really cost that much to keep `.isNodeApiBuiltin` so we export something that can be used as a condition statement for unforeseen use cases, but we should definitely have the `.defines` in addition.

[2017-05-16 18:28] jasongin commented on #41
The `.isNodeApiBuiltin` export was meant to be exposed as a runtime flag in case anybody wanted to write code to check that. But it's not used anywhere today, and there should be no need to use it at build time.

Did you follow the instructions in the README? You shouldn't need to define `EXTERNAL_NAPI` anywhere in _your_ module's `node.gyp`. That is taken care of by these two lines to be added to

[2017-05-16 18:30] gabrielschulhof commented on #41
I don't use the C++ API.

[2017-05-16 18:31] gabrielschulhof commented on #41
https://github.com/gabrielschulhof/iotivity-node/blob/node-addon-api/binding.gyp#L221-L232

[2017-05-16 18:36] gabrielschulhof commented on #41
OK, I guess I can include `napi.h` directly, because I'm doing C++ anyway.

[2017-05-16 18:41] gabrielschulhof commented on #41
I can't use napi.h because that requires exception handling to be enabled, which, for the plain C API I don't need.

[2017-05-16 18:42] jasongin commented on #41
Hmm... using only the C APIs via this package wasn't a scenario I considered.

[2017-05-16 18:44] gabrielschulhof commented on #41
Well, adding `.defines` and a mention in the `README.md` should cover plain C.

[2017-05-16 18:45] jasongin commented on #41
Yes that will work. I had wanted to minimize the amount of stuff you have to add to your `.gyp` file. But one more line won't hurt.

[2017-05-16 18:47] gabrielschulhof commented on #41
Although perhaps you could do the path juggling as you do now, but instead of including `napi.h` after defining EXTERNAL_NAPI, you include `node_api.h`.

[2017-05-16 18:52] gabrielschulhof commented on #41
... and then, when napi.h includes node_api.h, it will receive it from the appropriate directory.

[2017-05-17 22:13] digitalinfinity commented on #6
@jasongin should this issue be considered completed?

[2017-05-17 22:18] jasongin commented on #6
No. Neither API docs nor conceptual docs are anywhere near complete.

[2017-05-18 06:12] ealib commented on #35
Thanks. I see it was fixed with #12957.

[2017-05-18 06:12] #35 closed

[2017-05-18 17:51] gabrielschulhof commented on #40
Done now.

[2017-05-18 17:51] #40 closed

[2017-05-23 16:26] #41 closed

[2017-05-30 17:40] jasongin opened #48 "Abort with fatal error when error-handling fails"
If we encounter another error while handling an error, the best thing to do would be to abort with a fatal error message. We'll need a `napi_fatal_error()` or similar API for that, which doesn't exist yet. Currently the error-handling code just has asserts, which are only helpful in debug mode.

See also:
 - https://github.com/nodejs/node-addon-api/pull/43#discussion_r117292553
 - https://github.c

[2017-05-31 13:17] gabrielschulhof commented on #48
We've been down this road before. How can we abort portably without replicating node::FatalError()?

[2017-05-31 17:22] jasongin commented on #48
Previous discussion was about being able to call `node::FatalError()` (or equivalent) in the implementation of some functions in `node_api.cc`. But that wasn't really necessary since they could return error codes instead.

In this case, if N-API functions fail when handling an error, then the options are:
 - Silently ignore the error on release builds (assert on debug builds)
 - Throw some other k

[2017-06-04 14:25] RReverser opened #51 "Documentation mismatch for napi_property_attributes"
Documentation on the N-API page describes `napi_property_attributes` as following:

[code]

whereas [src/node_api_types.h](https://github.com/nodejs/node-addon-api/blob/3c06bba3ea699963a21af518eb4c955cf452390a/src/node_api_types.h#L21-L30) describes it as:

[code]

Basically, values of all bit flags were inverted.

Given the last commit, it seems it's the documentation that is outdated here but wo

[2017-06-05 10:25] RReverser commented on #51
Note: `napi_property_descriptor` also mismatches.

[2017-06-05 10:55] #51 closed

[2017-06-05 10:55] RReverser commented on #51
Moved to node repo.

[2017-06-08 18:50] jasongin opened #53 "node-addon-api repo description"
The top of the main page for this repo says "No description, website, or topics provided."

@mhdawson As a repo owner, can you add a suitable description?

[2017-06-08 19:34] sampsongao opened #55 "String::Concat functionality"
Do we have any plan to implement String::Concat function?

[2017-06-08 21:41] jasongin commented on #15
This was fixed a while ago, in ce9f0d98537ac8305fcd1ec8c2e348a32d6928f3

[2017-06-08 21:41] #15 closed

[2017-06-09 22:37] mateodelnorte opened #56 "Failure building on node v6.9.4, windows 7, for --msvs_version= 2012, 2013, and 2015"
2012: https://gist.github.com/mateodelnorte/67f124196377a0ca0815c66644bf1082
2013: https://gist.github.com/mateodelnorte/5475b1d28f902e501a29686cf7c91082
2015: https://gist.github.com/mateodelnorte/8c49520a883d7fb20ef8be784ac10a9a

I'm using the a basic, unmodified project created using the yoeman [generator napi module plugin](https://github.com/digitalinfinity/generator-napi-module).

Here's my

[2017-06-09 22:54] mateodelnorte commented on #56
After

- adding C:\Program Files (x86)\MSBuild\14.0\Bin;%PATH% to PATH
- and setting VCTargetsPath="C:\Program Files (x86)\MSBuild\Microsoft.Cpp\v4.0\V140"

I'm able to build with 2015. Can't speak to ability to build with previous versions, but my problem is solved so far. I may run into an issue again, depending on whether some client libs I need require 2013. Will reopen the issue if that becom

[2017-06-09 22:54] #56 closed

[2017-06-09 22:55] jasongin commented on #56
The errors in the 2013 build are due to the use of C++11 language features that are not supported before VS 2015.

The errors in the 2012 and 2015 build are in `v8.h`, in the node headers downloaded by `node-gyp`. I think V8 in Node v6.x requires at least VS 2013, and based on your last comment it looks like an older compiler was used.

[2017-06-09 22:59] jasongin commented on #56
Feel free to open an issue about VS 2013 support if you need it. At least that can be a place where others can add a +1 so we know whether or not it's something we should work on.

[2017-06-09 23:02] jasongin commented on #55
No plans. Obviously this can be done externally if needed. I guess it might be convenient to be part of the API? I don't see any string concat APIs in either V8 or ChakraCore, so there would be no performance benefit to adding it to the C API.

[2017-06-12 20:18] sampsongao opened #57 "More special types check"
node-sqlite3 uses val.IsDate(), val.IsRegExp(), val.IsInt32(). I think we need to think about how to support these.

[2017-06-12 20:22] jasongin commented on #57
For the first two, is it possible to use napi_instanceof? You'd have to first obtain the constructor functions for Date and RegExp.

Whether a number value is an int32 vs some other kind of number is an engine-specific optimization that probably doesn't belong in N-API. Is there a way to workaround that in node-sqlite3?

[2017-06-12 20:24] addaleax commented on #57
That doesn’t do the same thing; for Date objects from other contexts, it won’t work, see e.g. https://github.com/jasnell/proposal-istypes

[2017-06-12 21:07] mateodelnorte opened #58 "VS 2013 Support"
Hi all. This issue is for VS 2013 support.

I've got a client who has a number of 3rd party libraries that only compile under VS 2013. This is a continuation of https://github.com/nodejs/node-addon-api/issues/56. There are some additional notes there.

Here's a gist of the build errors I get when building with `--msvs_version=2013`: https://gist.github.com/mateodelnorte/7ea8c72e3b2b664ba37da7a0e6e

[2017-06-12 21:15] mhdawson commented on #57
@sampsongao can you check what the full list of val.IsXXX methods is ? It would be interesting to see how what the full list is as part of this discussion.

[2017-06-12 21:16] mhdawson commented on #57
Can you also paste a snippet of an example of val.IsInt32() being used so we can see the pattern being applied.

[2017-06-13 15:20] sampsongao commented on #57
So the current list of type check API's are:
IsEmpty, IsUndefined, IsNull
IsNumber, IsString, IsSymbol, IsObject, IsFunction
IsArray, IsArrayBuffer, IsTypedArray, IsBuffer

And **node-sqlite3** uses _IsInt32_ in the following method
[code]
I guess removing the _IsInt32_ case wouldn't affect its functionality, but might fail some of their tests. But _IsDate_ and _IsRegExp_ seems crucial to me in th

[2017-06-13 15:40] sampsongao opened #59 "Method to get all property names?"
node sqlite3 uses the object.GetPropertyNames. We have the napi_get_property_names api, but we haven't include it in the C++ API.

[2017-06-13 19:54] jasongin commented on #57
JSRT doesn't offer any good way to:
 - Check if a number (or any value) is an integer
 - Check if a value is a Date or RegExp

Maybe we could add that functionality to the [JSRT API](https://github.com/Microsoft/ChakraCore/wiki/JavaScript-Runtime-%28JSRT%29-Reference). And maybe in these cases that is justified. But we should always consider whether additional APIs are actually necessary, so we do

[2017-06-13 21:18] jasongin commented on #59
Done as https://github.com/nodejs/node-addon-api/commit/3aab97b2bd19563a851ac223c8220e3ca3d05661

[2017-06-13 21:18] #59 closed

[2017-06-14 15:29] sampsongao opened #61 "Compile failure after pull request #52"
After the commit 09c7b71274cf3cf6d18a8c9ea15e5ebfab653645
, I see this build error when porting node-sqlite3 on linux.
[code]

Any clue what is the fix here?

[2017-06-14 16:20] jasongin commented on #61
What is at `database.cc:24` referenced in the error?

Looking through uses of `WrapCallback()` referenced in the error there, I do see what looks like a problem at `napi-inl.h:2435`. There should be a `return nullptr;` statement there. That could be the cause of that compile error.

[2017-06-14 18:27] sampsongao commented on #61
[code]

[2017-06-14 18:36] sampsongao commented on #61
Adding return nullptr after line 2435 works. Thanks!

[2017-06-16 18:50] sampsongao commented on #61
Closed #62

[2017-06-16 18:50] #61 closed

[2017-06-16 18:57] sampsongao opened #63 "ObjectWrap construction flow"
In node-sqlite3, they have code call Ref() on Database in the Database::New. Similar to node-canvas port, I change the Database::New to Database::Database. So the problem is in the ConstructorCallbackWrapper, Ref() is called before the ref is set in the ObjectReference.
[code]

So I guess better way to go is to have Database::Database() for creating napi_ref and then call a Database::New (callback

[2017-06-17 18:34] zandaqo opened #64 "Getting the size of a string for napi_get_value_string_utf16"
Hi guys,

`napi_get_value_string_utf16` expects to a buffer of fixed size to fill with the string from JS engine. I'm wondering if there is a method to get the size of the string before creating that buffer. My current workaround does the job so far, but I'm sure if it portable or correct in general:
[code]

[2017-06-17 18:37] addaleax commented on #64
You can call `napi_get_value_string_utf16` with the `buf` argument set to `NULL` – in that case, `copied0` would still be filled with the size of the string.

(In your example, `sizeof(args[0])` doesn’t seem correct – it will give you the size of `args[0]` as a pointer, not of the JavaScript value that it refers to.)

[2017-06-17 18:43] zandaqo commented on #64
@addaleax So in that case I do two calls to `napi_get_value_string_utf16`, the first one with buf set to NULL to get the size of the string, and the second one get the string itself, correct?
[code]

[2017-06-17 18:47] addaleax commented on #64
@zandaqo In C++ that should work, yup. :) You don’t need the extra `copied0`, though, since you already know the string size.

[2017-06-17 18:50] zandaqo commented on #64
@addaleax Thank you! That's a lot of code to get a string, to be honest, but NAPI is still more readable than  v8 bindings, I guess.

[2017-06-17 18:50] #64 closed

[2017-06-17 18:52] addaleax commented on #64
@zandaqo Keep an eye on the C++ wrapper API in this module here (https://www.npmjs.com/package/node-addon-api) – it’s a lot more readable than the raw C APIs exposed by NAPI, and much more so than the V8 API itself.

[2017-06-17 19:22] zandaqo commented on #64
@addaleax I didn't notice that his repository was for a different API :) Google led me hear when I was looking for N-API. The wrapper API seems quite nice, if I understand it correctly, getting a string with it should be as simple as `new Napi::String::String (env, args[0])` and it can be then converted with `std::u16string()`. That's nice indeed. Thank you!

[code]

[2017-06-17 19:27] addaleax commented on #64
If you’re creating your functions using this wrapper API it gets even easier than that. :) Something like this should work:

[code]

[2017-06-17 20:00] zandaqo commented on #64
@addaleax Now that's impressive! It took me some 50 locs of N-API  to expose a single function that takes two strings and returns an integer; this API reduces that to mere handful locs. it's almost too easy.

[2017-06-19 15:02] sampsongao commented on #63
So the idea here is that the whatever function the original code use to initialize a new instance (in this case is the Database::New) should be the last thing get called in the ConstructoCallbackWrapper. By the time we call it, all preparation should have been done.

[2017-06-19 20:07] mateodelnorte commented on #58
Looks like this issue quickly pooled some +1's. Any ideas on ETA of a PR landing? Trying to prioritize whether I should wait for this, or chug ahead using nan.

[2017-06-20 01:24] nschonni commented on #58
I'm not sure if node-gyp still supports 2013 https://github.com/nodejs/node-gyp#option-2

[2017-06-20 19:18] mateodelnorte commented on #58
I'd be *very* surprised if that was the case: https://github.com/nodejs/node-gyp/blob/f6eab1f9e4b160b60b2736bb01a09c83785ba979/gyp/pylib/gyp/MSVSVersion.py#L228-L255

Those are just default instructions for getting running.

[2017-06-20 21:28] mhdawson commented on #57
You don't show  IsInt32  in the the full list, is that the only one omitted ?

[2017-06-20 21:34] mhdawson commented on #57
@jasongin I assume that JSRT does have a way to do the conversion, if so what happens if you pass in a reference that is not the correct type to the conversion functions ?  For example you pass in a string and ask it to convert to an Integer or Float ?

[2017-06-20 22:29] jasongin commented on #57
@mhdawson You can see the available conversion APIs in the link above:
 - `JsConvertValueToBoolean`
 - `JsConvertValueToNumber`
 - `JsConvertValueToObject`
 - `JsConvertValueToString`

Also it allows getting a number value as either an int32 (`JsNumberToInt`) or double (`JsNumberToDouble`).

But those don't get around the limitations I mentioned in my previous comment.

[2017-06-20 22:52] mhdawson commented on #57
In the case of JsNumberToInt it says it will fail if the argument is not a number but what happens if the value is bigger than what fits into a 32bit value.  If return an error code then it could be used to implement  IsInt32, but if it silently truncates then maybe not.

[2017-06-20 22:57] mhdawson commented on #57
In terms of things like IsDate() could we do something like stash the prototype for Date somewhere and do a comparison without direct support from the Runtime? I know it may not be optimal.

@sampsongao I think I asked my question incorrectly last time.  What I wanted to know was what the full list of IsXXX methods supported by V8.

[2017-06-20 22:58] jasongin commented on #57
If it's a number that is not an int32, `JsNumberToInt ` converts it to int32: https://github.com/Microsoft/ChakraCore/blob/d3b6d103bbfa6207d18b74cbf77ca9a48455b8e6/lib/Jsrt/Jsrt.cpp#L1127

[2017-06-21 00:36] kfarnung commented on #58
@mateodelnorte I'm taking a look this, but I don't have a timeline for support.  I'll let you know when I have some further information.

[2017-06-21 15:03] sampsongao commented on #63
To clarify this problem:
So in [Database::New()](https://github.com/mhdawson/node-sqlite3/blob/master/src/database.cc#L137) it creates a new Baton, which calls [ObjectWrap->Ref()](https://github.com/mhdawson/node-sqlite3/blob/master/src/database.h#L42). However, if we change Database::New to be Database::Database (similar to what is done in Canvas), then in the [ConstructorCallbackWrapper](https:/

[2017-06-21 17:20] jasongin commented on #63
This is tricky. The `napi_ref` is created by the `napi_wrap()` call, and _that_ can't be called until the class instance is constructed (or at least allocated).

I think the fix should be to move the call to `napi_wrap()` and reference assignment from `ObjectWrap::ConstructorCallbackWrapper()` to the `ObjectWrap::ObjectWrap()` constructor, where it would execute after the instance is allocated but

[2017-06-21 17:25] mateodelnorte commented on #58
awesome @kfarnung. thanks!

[2017-06-21 18:00] sampsongao commented on #63
Sure, I can try to implement it.

[2017-06-22 18:28] mhdawson commented on #63
Unrelated to fixing the current issue, Sampson mentioned that because it does not support the 2 step flow used with Nan, the conversion script cannot make the substitutions automatically and it takes some work to do it manually.  Would it make sense to support that flow in addition or instead to make conversion easier ?

[2017-06-23 00:11] kfarnung commented on #58
@mateodelnorte I think we're pretty close now, take a look at PR #65.

[2017-06-23 17:33] jasongin opened #66 "Add JSON APIs"
Add JSON APIs to provide a migration path from `v8::JSON` / `Nan::JSON`.

For now, it will have to be implemented by calling into JS. Eventually N-API could add more optimized versions if there is a need.

[2017-06-23 18:34] mateodelnorte commented on #58
Fantastic! Thanks @kfarnung

[2017-06-26 19:40] jasongin commented on #58
Merged as https://github.com/nodejs/node-addon-api/commit/617dbb69776fa937e6d4d2f7fba1580d7319e613, and published to npm as `node-addon-api@0.3.5`

[2017-06-26 19:40] #58 closed

[2017-07-01 15:46] cosinusoidally opened #71 "Example usage for existing napi addon binaries"
Would it be possible for you to please provide some documentation explaining how to use this compatibility code to load napi modules into older node.js versions? I'm on Ubuntu 14.04 x64. I'm having a bit of trouble using the code here to add support for napi module binaries to node.js 4.X.

For example, I have built the hello world example napi module from here: https://github.com/nodejs/abi-stabl

[2017-07-02 13:57] langxiong opened #72 "Reference: copy-initialization miss _suppressDestruct(false)"
`Reference` member variable `_suppressDestruct` is only initialized in default constructor.
It should be initialized in other constructor.
See [code](https://github.com/nodejs/node-addon-api/blob/master/napi-inl.h#L1619)

If `_suppressDestruct` is not initialized to `false`, the destructor may not call `napi_delete_reference`, then the gc is not work as expected.

[2017-07-02 15:20] zandaqo opened #73 "Converting Value into TypedArrayOf"
Hi guys,

Is there any way to convert `Value` instance received from JS into an appropriate `TypedArrayOf` without converting it into a `TypedArray` first and switching on `TypedArray::TypedArrayType()`?

[2017-07-03 16:36] jasongin commented on #73
If you know the array type in advance, then you can convert directly to it, for example `.As<TypedArrayOf<uint8_t>>()`. Otherwise, yes you do need to convert to `TypedArray` and call `TypedArray::TypedArrayType()` first, before converting to the appropriate `TypedArrayOf<T>` type.

In most cases conversions between `Napi::Value` types using `.As<T>()` are cheap because they are effectively just ca

[2017-07-03 16:45] jasongin commented on #71
The backward compatibility provided by this library for node versions < 8 is only *source*-level compatibility. Binary compatibility is only possible with node versions that have N-API built-in, so that is node 8.x *and above*. (N-API _may_ get back-ported to node 6.x LTS eventually, but probably only after it is no longer experimental.) **You'll need to rebuild the module when switching from Node

[2017-07-03 17:42] zandaqo commented on #73
@jasongin I should have clarified that I'm talking about the second scenario you mentioned: when we don't know the type of an array in advance. In that case, converting to `TypedArray` and then to `TypedArrayOf` not only takes an extra call to `napi_get_typedarray_info()` that could be avoided, but also forces us to add extra interfaces when we have a function that accepts any type of a typed arra

[2017-07-03 17:54] jasongin commented on #73
Can you give an example of what you mean by "extra interfaces"?

I'm still not sure I understand what you're suggesting. How can the "right" type be returned unless you do a `switch` on the type enum first? Consider the following (hypothetical) API that can do the conversion in one step:

    TypedArrayOf<T> Value::AsTypedArrayOf<T>();

You'd have to know what `T` is before calling it.

[2017-07-03 18:35] zandaqo commented on #73
I see. What I'm suggesting is probably more in the line of hiding that switching from the api consumer (perhaps implemented as a factory function) since `TypedArrayOf` might be more useful than just `TypedArray`.

[2017-07-03 18:40] jasongin commented on #73
But such a factory function could not return a `TypedArrayOf<T>` without the caller already knowing what `T` is.

(If these objects were allocated on the heap, the factory could return a base class pointer (`TypedArray*`), and then the caller could down-cast that pointer at a later time. But for efficiency all these objects are allocated on the stack, so that wouldn't work.)

[2017-07-03 20:45] kkoopa commented on #66
What about a header-only json library, e.g. https://github.com/kazuho/picojson?

[2017-07-03 20:49] addaleax commented on #66
I am not so sure about this either – it’s not that hard to call the `JSON.stringify` and `JSON.parse` JS functions with N-API, so this is reasonably easy to do in userland.

[2017-07-03 20:54] kkoopa commented on #66
My only concern with that is the cost of transitioning from C++ to JS and back to C++ for every call, but perhaps it is not significant compared to the time requried for parsing?

[2017-07-03 23:10] jasongin commented on #66
Yes. From the Node.js point of view, everything in `node-addon-api` _is_ userland. My suggestion is that we could add convenience methods in the C++ API here, that just call into those JS functions. Then if it is a performance problem we can later consider adding N-API functions and switching the implementation here.

[2017-07-04 09:35] zandaqo commented on #73
Oh I get it. Yes, that point juggling is what I had in mind, but I missed the stack/heap part in my reasoning, too much JavaScript I guess. Thanks for clarifying this, and sorry for bothering with it.

[2017-07-04 09:35] #73 closed

[2017-07-05 19:19] jasongin commented on #72
Fixed by https://github.com/nodejs/node-addon-api/commit/b0f2c6fe59d08f2b0c0bd44a43f3362640b84059

[2017-07-05 19:19] #72 closed

[2017-07-06 10:37] cosinusoidally commented on #71
Thanks for the info, I understand.

I think I'll try and convert the existing compatibility code into a shared library. Incidentally has this previously been attempted? If so, were there any technical issues that meant that it was not feasible? For Linux, I think I could probably build the compatibility code as a shared library and then load it in to node with a small addon that ``dlopen``s the sh

[2017-07-06 17:30] sampsongao commented on #63
Commited https://github.com/nodejs/node-addon-api/commit/d45ba728340e1a06e54f5b827273b23deef4e6ac

[2017-07-06 17:30] #63 closed

[2017-07-06 19:41] jasongin commented on #71
I don't recommend using N-API via a shared library that way. We actually considered that approach. The problem is you need to consider versioning of the library. Different native add-ons may be built using different versions of the N-API library. While there should never be breaking changes between versions, new APIs will be added. So if one module loads an older version of the library as shared,

[2017-07-07 12:11] skibz opened #75 "async_work executor signalling"
using the c api, how would one signal to the async work executor that an invocation of a `napi_async_execute_callback` has failed? so that when the corresponding `napi_async_complete_callback` is invoked, it has a `napi_status` value that indicates a failure?

i am a total c(++) greenhorn, so i'm sorry if this question is inane or a waste of your (collective) time. please let me know if this is an

[2017-07-07 23:27] jasongin commented on #75
When using the C APIs, the `void* data` parameter is the way to do it, as you described. The `napi_status` parameter to the `napi_async_complete_callback` is not intended to be an indication of whether the execution callback was successful, merely whether the execution was scheduled and ran (or was cancelled).

However, I'd recommend looking at [the `AsyncWorker` class in the C++ API](https://gith

[2017-07-08 16:39] skibz commented on #75
thanks @jasongin !
i'll have a crack at `AsyncWorker` 💃

[2017-07-08 16:39] #75 closed

[2017-07-08 17:23] cosinusoidally commented on #71
I've created a repository containing an implementation of N-API as a shared libary (using a slightly tweaked version of the code in this repo). The repo is  https://github.com/cosinusoidally/node-napi-compatibility-module . In my repo I have a wrapper script (node-napi) that allows users to start up node.js with N-API support loaded. This would allow users of node.js 4.X and 6.X to load unmodified

[2017-07-10 14:22] mcollina opened #76 "markdown docs"
I think documentation in markdown is more user-friendly than the autogenerated one. Given that the API in this modules would likely be very stable, we should probably put the effort.

[2017-07-10 23:52] jasongin commented on #71
With a shared library, all N-API modules in a process must use the same version of the library, even if some of them were built against a different version. Without a way to guarantee that the single selected version is >= all referenced versions, there can be compatibility problems.

How is it installed? If it's installed separately, how is it kept up to date? If it's pulled in as a dependency by

[2017-07-12 20:16] cosinusoidally commented on #71
For my purposes I think I'll just try and work towards supporting the 1st stable release of N-API (whenever that may be). I'll keep an eye on this repo (and the main node.js repo) and port across patches as necessary. It might not make sense to retrofit any subsequent versions of N-API to node.js 4.X or 6.X . That would neatly sidestep versioning issues since any future versions of the API would s

[2017-07-13 19:34] #28 closed

[2017-07-13 19:38] sampsongao opened #80 "Napi runtime flag causing include path error for node-addon-api"
After I `export NODE_OPTIONS=--napi-modules` and invoke `npm install` on module including node-addon-api module. npm always complain with this error message.
[code]

[2017-07-14 19:02] mhdawson opened #81 "Publish new version of NPM"
I've landed the outstanding PRs include the one to fix breakage due to the errors change in node core.  We should publish an update npm package

@kfarnung  @jasongin  we might want to get this one reviewed/landed as part of that:

https://github.com/nodejs/node-addon-api/pull/77

@sampsongao how do you usually test the conversion script ?

I'm done for today but if nobody beats me to it I'll look

[2017-07-14 19:14] mhdawson commented on #81
@jasongin can you add me (mhdawson1 on npm) as a collaborator on https://www.npmjs.com/package/node-addon-api so that I can publish if necessary.  I could dig out the foundation id/password and do it myself but that would take me longer to do.

[2017-07-17 21:09] jasongin commented on #81
@mhdawson I added you as a package owner. Sorry for the delay.

[2017-07-17 21:11] jasongin commented on #48
This was done in https://github.com/nodejs/node-addon-api/pull/70

[2017-07-17 21:11] #48 closed

[2017-07-18 16:22] mhdawson commented on #81
landed updated conversion script and published to npm

[2017-07-18 16:22] #81 closed

[2017-07-19 01:43] langxiong opened #83 "Building N-API module with cmake-js."
`node-gyp` is really hard to use.
Since [cmake-js](https://github.com/cmake-js/cmake-js) is based on `CMake` build system.
It's easy for me to integrate with other `c++` libraries, such as `gtest rapidjson`.
And right now it's work.

I think it's a good start for using `cmake-js` instead.

[2017-07-19 02:07] langxiong commented on #83
See cmake-js/cmake-js#84

[2017-07-19 11:42] stek69 commented on #83
Hi, I also ran into problems using gyp. Almost all have used libraries CMake.
How to build a project addon using CMake? After all, she's going to the library during the build of my addon.

[2017-07-19 14:26] mika-fischer opened #84 "Error default constructor initializes string member with nullptr causing crash"
https://github.com/nodejs/node-addon-api/blob/28fad43c20d8fff69cfb47434a997344bf81aafa/napi-inl.h#L1487

[2017-07-20 08:44] mika-fischer opened #85 "MSVC needs -D _HAS_EXCEPTIONS=1 for exceptions to work properly"
This should be added to the instructions in the README.

[code]

[2017-07-20 12:36] langxiong commented on #83
@stek69 ,
## Installation

[CMake.js](https://github.com/cmake-js/cmake-js) is a Node.js/io.js native addon build tool which works exactly like node-gyp, but instead of gyp, it is based on CMake build system.

[code]

To compile a native module that uses only the
[plain `C` N-API calls](https://github.com/nodejs/node/blob/v8.x/src/node_api.h),
follow the directions for plain `node` native modules.

[2017-07-20 15:02] mika-fischer opened #86 "Object::PropertyLValue<>::operator= chooses wrong overload of Set for const char* argument"
`Object.Set(key_type, bool)` is called instead of `Object.Set(key_type, const char*)`.

[2017-07-20 15:09] addaleax commented on #86
I assume you’re right about this but can you post an example piece of code since you seem to already have that?

[2017-07-20 15:19] mika-fischer commented on #86
[code]

Yields
[code]

instead of

[code]

This is with node 8.2.0, node-addon-api 0.4.0 (can't use master because of the error API changes) and MSVC 2015 Update 3

[2017-07-20 15:19] bnoordhuis commented on #86
I bet it's something like this:
[code]
There are Set() overloads that take `const char*` or `const std::string&` but not a mix of both.  Since pointers can be coerced to bool, the compiler will pick the overload that takes a bool as the second argument.

[2017-07-20 15:23] mika-fischer commented on #86
@bnoordhuis Yes, that's probably it, `PropertyLValue` always uses `string` as key type...

[2017-07-20 22:53] sampsongao opened #87 "Missing assert header"
In the https://github.com/nodejs/node-addon-api/commit/28fad43c20d8fff69cfb47434a997344bf81aafa, the `cassert` header is removed. However, modules using assert now have to include this header. Should we include assert in module code or should we add that header back to napi-inl.h?

[2017-07-20 22:55] jasongin commented on #87
The header was removed because `napi-inl.h` no longer calls `assert()`.

If module code still needs assert, it should include the header separately.

[2017-07-20 22:55] #87 closed

[2017-07-20 23:21] jasongin commented on #87
Generally, `.c/.cpp` files should not rely on external headers including other headers for them anyway.

[2017-07-21 00:15] jasongin commented on #85
Why? Can you explain what problem you're seeing without that define? There are [tests ](https://github.com/nodejs/node-addon-api/blob/master/test/error.cc) of the exception behavior that seem to work fine without it.

As far as I know, `_HAS_EXCEPTIONS=1` is the default for MSVC. Some projects may override it to 0. But in that case, they'd probably want `'NAPI_DISABLE_CPP_EXCEPTIONS` instead.

[2017-07-21 06:13] mika-fischer commented on #85
Thing work to some degree without it but there are subtle memory errors. I don't understand exactly what this flag causes but the effect is that objects are freed to early when handling an exception.

For instance try this with `_HAS_EXCEPTIONS=0` and `_HAS_EXCEPTIONS=1`:
[code]

For me with MSVC 2015 this reliably prints `''` with `_HAS_EXCEPTIONS=0`. But I've also encountered garbage memory in o

[2017-07-21 18:35] jasongin commented on #85
Interesting. Thanks for the details. And I didn't realize node `common.gypi` set `_HAS_EXCEPTIONS=0`. I agree then it should be added to the README.

[2017-07-30 17:18] mcollina opened #88 "convert.js: FunctionCallbackInfo not converted to CallbackInfo in the header"
As titled, the conversion above is only done in the `.cc`  files, but not in `.h`.

[2017-07-30 17:19] mcollina opened #89 "NAN to N-API conversion guide"
As titled, a write would be highly useful to solve common errors and problems.

[2017-08-01 10:21] mcollina opened #90 "Prebuild story on Node 8 with flag"
If we do a prebuilt module using node-addon-api and Node 8.2.1, could this run without the flag?

Or do we always need a flag on Node 8 (until it's disabled)

[2017-08-01 15:11] mcollina opened #91 "Missing documentation for C++ wrappers"
As titled, a node-style documentation is needed, also the current doxygen is empty.

[2017-08-01 15:21] mcollina opened #92 "Porting FunctionTemplate to N-API"
How do I port `FunctionTemplate` to N-API?

[code]

This is the best I could do be

[code]

But it still did not work.

[2017-08-01 15:24] mcollina opened #93 "Missing tests for FunctionReference"
as titled, part of #92

[2017-08-01 15:29] jasongin commented on #92
Templates are a V8-specific concept. There is no equivalent in N-API. Just create a `Napi::Function` directly.

`Napi::FunctionReference` is equivalent to a `v8::Persistent` reference to a `v8::Function`.

[2017-08-01 15:34] jasongin commented on #91
This package is not part of node core, so its documentation does not belong at https://nodejs.org/api. I'm not sure node-style markdown documentation is required.

The doxygen-generated docs are incomplete, but far from empty. We're definitely aware that the docs are incomplete. Contributions welcome. :)

See also #6

[2017-08-01 15:36] mcollina commented on #92
That is a very common pattern everywhere in native module authoring. It's definitely **not clear** how to port something like https://github.com/mcollina/native-hdr-histogram/blob/master/hdr_histogram_wrap.cc#L12-L28.

The `convert.js`  automatically replaced my `FunctionTemplate` with a `FunctionReference`. Was it wrong?

[2017-08-01 15:40] jasnell commented on #92
FunctionTemplate is definitely something that we make fairly extensive use of within core so it's likely going to need to be something N-API supports at some point. Having a `Napi::FunctionTemplate` would be important, even if there is no concept of it in Chakra-Core or other VMs.

[2017-08-01 15:41] mcollina commented on #92
Currently I was able to port it to:

[code]

Not sure if it's correct, but I was able to move on to the next build error.

[2017-08-01 15:42] jasongin commented on #92
This is where we need [a conversion guide](https://github.com/nodejs/node-addon-api/issues/89). The code you linked is defining a class with a bunch of methods. For that, you should definitely use `Napi::ObjectWrap` and its `DefineClass()` method. See for example https://github.com/jasongin/node-canvas/blob/napi/src/Canvas.cc#L36 and https://github.com/jasongin/node-canvas/blob/napi/src/Canvas.h#L

[2017-08-01 15:43] jasongin commented on #92
We've converted a lot of code so far (which has used v8::FunctionTemplate) and haven't really needed it. The N-API implementation uses it internally where necessary.

[2017-08-01 15:46] jasongin commented on #92
Maybe not. There's a common pattern commonly used where a `Napi::FunctionReference` can be used instead of a `v8::FunctionTemplate`, though not in exactly the same way. That is when the constructor function of a class is persisted for later `instanceof` checks.

[2017-08-01 15:49] jasongin commented on #90
Yes, it could be made to work that way, though currently the scripts are set up to link to the built-in version of N-API on node >= 8.

[2017-08-01 15:50] mcollina opened #94 "Nan::SetPrototypeMethod converted to InstanceMethod"
and then?

I'm getting:

[code]

[2017-08-01 15:55] mcollina commented on #91
If we want to get adoption, the documentation for this needs to be equal to the one of NAN. I think we should port things almost 1-1: https://github.com/nodejs/nan.

[2017-08-01 15:58] addaleax commented on #91
Can you be more specific? Equal documentation for different APIs doesn’t usually make sense.

I’m going to disagree here. N-API has different goals than NAN does; in particular, NAN is and always has been very V8-specific, which means both that it won’t cover other engines as well, and also that it inherits a lot of the V8 API usability flaws. This C++ wrapper is already much more usable than the

[2017-08-01 16:03] jasongin commented on #91
I assume @mcollina meant "equal in quality/completeness". And I agree that is necessary for broad adoption.

But @addaleax is correct that there are many APIs that don't have direct 1-1 equivalents between V8/NAN and N-API, almost always for good reasons. (That's part of why the automatic conversion script can't do a great job.)

[2017-08-01 16:03] mcollina commented on #91
I am supposed to do *the same things* with them. So, yes, the documentation **should be very similar**.

You are right. However the benchmark here is against NAN, not against the V8 API. Currently this is definitely harder than NAN to use. I can't figure it out easily how to port things, while I built and maintained several modules using NAN. If we all want the ecosystem to update and move to n-ap

[2017-08-01 16:07] jasnell commented on #92
Ok, then yeah, I think a conversion guide is definitely needed :-) It appears the case is covered, it's just not immediately clear *how*. Great work and thank you for the patience as we feel our way around

[2017-08-01 16:57] mcollina opened #95 "how to allow classes to be called without new"
This is currently possible with NAN, is it possible with N-api?

[2017-08-01 17:06] jasongin commented on #95
It's certainly possible using the N-API C functions. But currently it is blocked in the C++ wrapper at https://github.com/nodejs/node-addon-api/blob/master/napi-inl.h#L2477. We could change that code to (optionally?) allow it.

[2017-08-01 17:28] mcollina opened #96 "Initialize object wrap from C++"
How do I do that?

I have this code in https://github.com/mcollina/native-hdr-histogram/blob/master/hdr_histogram_wrap.cc#L154-L158, and there seem no clear way on how to port it.

[2017-08-01 17:44] jasongin commented on #96
1. The `HdrHistogramWrap` class should extend `Napi::ObjectWrap<HdrHistogramWrap>`. See https://github.com/jasongin/node-canvas/blob/napi/src/Canvas.h#L52 for an example.

2. The `Napi::ObjectWrap::DefineClass()` method returns a `Napi::Function` that is the class constructor. You should save that constructor for later use. Typically that is done using a `Napi::FunctionReference` static member. Se

[2017-08-01 17:57] sampsongao commented on #96
I think the canvas need to be updated to current ObjectWrap constructor.

[2017-08-01 17:58] jasongin commented on #96
@sampsongao You're right, it is out of date, since we recently changed the constructor.

[2017-08-02 07:16] mcollina commented on #96
That worked. All the steps above should be in an example or (better) a unit test.

[2017-08-02 07:17] mcollina commented on #95
I'm conflicted on this. There is a substantial amount of code that use that pattern in the wild, however it will become less relevant while `class`  become more common.

[2017-08-02 07:32] mcollina opened #97 "Following instructions, depending module do not compile on Node 6.11"
[code]

(and others)

Launching `npm test`  from this module works, so maybe there is something to be updated in the README about the instructions on how to update `binding.gyp`.

Here is my `binding.gyp`:

[code]

[2017-08-02 07:33] mcollina opened #98 "convert.js does not add node-addon-api to the dependencies in binding.gyp"
As titled, after launching `covert.js`  the updated `binding.gyp` is not trying to build this specific module, resulting in missing symbols at runtime (in Node 6.11).

[2017-08-02 07:36] mcollina opened #99 "Not building on node 8.2.1"
[code]

I think this is due to a semver-major change happening in core for the new error codes. In case such events happen again, this module should be released to NPM after the change lands in a release.

[2017-08-02 18:00] jasongin commented on #99
The `node-addon-api` is in sync with the latest in node master. The problem is that breaking change didn't make it into an 8.x release yet. This will resolve itself in time.

[2017-08-02 22:23] jasongin commented on #97
Did you modify `util-inl.h`? It is not supposed to have any references to `Napi::String`.
https://github.com/nodejs/node-addon-api/blob/master/src/util-inl.h

[2017-08-02 22:30] jasongin commented on #99
What I meant was, the change was [merged into the node 8.x branch last week](https://github.com/nodejs/node/pull/14453), so it should be in the v8.3.0 release.

[2017-08-02 23:05] mcollina commented on #97
convert.js did it!

[2017-08-02 23:55] digitalinfinity commented on #96
@mcollina thanks a lot for your valuable feedback- this has been awesome, please keep it coming! (and we welcome PRs too 😉)

[2017-08-03 09:11] mcollina commented on #89
I will do a writeup once I manage to complete the port of my little library.

[2017-08-04 04:04] demohi opened #100 "napi_throw_type_error arguments is different with Node 8 N-API"
![image](https://user-images.githubusercontent.com/1209159/28953753-d8f6a954-790c-11e7-842f-81466e9216bb.png)

#### node 8 api doc
[code]

[2017-08-04 04:11] jasongin commented on #100
Duplicate of https://github.com/nodejs/node-addon-api/issues/99

Currently this package works against the latest node nightly builds, and will work with the node 8.3.0 release that is expected soon.

N-API is still experimental, so there are occasional breaking changes. It should stabilize very soon though.

[2017-08-04 05:42] demohi commented on #100
@jasongin  Thanks

[2017-08-04 05:42] #100 closed

[2017-08-04 11:31] mcollina opened #101 "EXC_BAD_ACCESS with Node 8.3, works with Node 6.11"
I've ported https://github.com/mcollina/native-hdr-histogram/tree/napi to node-addon-api. The tests passes with Node 6.11, but they fail with the following error on Node 8.3.0-rc.0:

[code]

to reproduce, run `node --napi-modules test.js` after downloading and building the linked branch: https://github.com/mcollina/native-hdr-histogram/tree/napi

[2017-08-04 11:42] mcollina opened #102 "3x overhead on Node 6"
I've benchmarked https://github.com/mcollina/native-hdr-histogram/tree/napi on Node 6.11 against the NAN implementation with https://github.com/mcollina/native-hdr-histogram/blob/napi/bench.js.

The result is that the NAPI version takes 167ms to complete, vs 67ms to the NAN version.
This might be related to _this_ specific implementation, as I have not tested it yet on Node 8.3.0 (I'm blocked on #

[2017-08-04 11:45] mcollina commented on #102
This is the flamegraph with NAN. There are some notable differences, so check them out.

[flamegraph.html.zip](https://github.com/nodejs/node-addon-api/files/1200224/flamegraph.html.zip)

[2017-08-04 16:49] jasongin commented on #102
That's surprising, as I have not seen more than about 20% overhead even in the most extreme cases.

I'd like to look into it, but it might be a few days before I have time.

[2017-08-08 00:22] kfarnung commented on #101
Thanks @mcollina for the report.  I tried Windows and Ubuntu, but I'm not seeing that crash.  I don't have a Mac handy right now to verify with, but I'll try to track one down.

[2017-08-12 10:14] gabrielschulhof commented on #101
I did this:
* `nvm install v8.3.0`
* `npm install`
* `node --napi-modules test.js`

So far, it's stuck on "# Subtest: create an histogram arguments checks\nok 1 - expected to throw"

[2017-08-12 10:16] gabrielschulhof commented on #101
This is on "macOS Sierra Version 10.12.2"

[2017-08-12 10:45] gabrielschulhof commented on #101
Still stuck ... I'm going to interrupt it.

[2017-08-12 11:15] mcollina commented on #101
Yes, and if you run that with lldb, you will get the error above.

[2017-08-12 12:41] gabrielschulhof commented on #101
Aaah, OK. Will do.

[2017-08-12 13:26] gabrielschulhof commented on #101
Reproduced.

[2017-08-12 16:30] gabrielschulhof commented on #101
Built 8.3.0 with debug symbols and it runs successfully LOL

[2017-08-12 16:30] gabrielschulhof commented on #101
That is, inside lldb.

[2017-08-12 16:33] gabrielschulhof commented on #101
So it only happens with the official version.

[2017-08-12 21:56] gabrielschulhof commented on #101
@jasongin the instability may arise from the fact that the constructor for the `HdrHistogramWrap` class throws an error during its construction. I've noticed that the C++ wrapper doesn't have any tests for `ObjectWrap`. We should add a test that implements an object wrapping such that the constructor throws a JS error.

[2017-08-12 22:00] jasongin commented on #101
Yes, I agree test coverage is needed. It just hasn't been a top priority for me so far because `ObjectWrap` was tested fairly well already via the ported modules that use it (like canvas).

[2017-08-12 22:04] addaleax commented on #101
@gabrielschulhof What you’re saying makes a lot of sense. I think this would be the fix for it:

[code]

The code should look like that anyway, I think. In its current state, `wrapper` would always be unitialized if the constructor threw.

[2017-08-13 20:15] koenkivits opened #107 "AsyncWorker OnOk / OnError never called for subclasses"
Hi! 👋  First off, I wanted to say thanks for this module. I started developing my first native module a small time ago and just ported it to use this instead of Nan, and while the transition took me some work, the resulting code is much cleaner (to me, at least). :)

Here's an issue I ran in though:
The `AsyncWorker` class has the methods `OnOk` and `OnError`. Both these methods are virtual, seemi

[2017-08-13 20:20] jasongin commented on #107
Yes, that appears to be a bug. Thanks for reporting it!

We should add some test cases for subclassing `AsyncWorker`.

[2017-08-15 14:53] mhdawson commented on #102
@jasongin have you had a chance to take a look yet ?

[2017-08-15 21:04] #101 closed

[2017-08-15 21:09] gabrielschulhof opened #108 "Next release"
@nodejs/n-api we should release, because 8.3.0 is out with `napi_create_number()` gone, and I can't reliably continue porting iotivity-node when node-addon-api has `napi_create_number()` and none of the other number-creating functions, and 8.3.x has all the others but not `napi_create_number()`.

[2017-08-15 23:26] jasongin commented on #102
Sorry I have not had time to look at this, and will not anytime soon. I will be on vacation 8/17 - 9/4.

[2017-08-16 10:43] koenkivits commented on #107
I'm actually kind of ashamed to be admitting this, and I'm facepalming pretty hard right now, but I made a mistake:
It's `OnOK`, not `OnOk`. It works fine. 🤦‍♂️
(`OnError` not working was an assumption based on the fact that `OnOk` wasn't being called)

Sorry for any time wasted

[2017-08-16 15:20] #107 closed

[2017-08-17 14:52] TimothyGu opened #109 "Make Buffer extend Uint8Array?"
It's this way in JS, so might be appropriate to make the C++ class extend Uint8Array as well.

[2017-08-17 18:49] bennycooly opened #110 "Correct way to use EventEmitter and emit events from addon"
So I've been looking around and see many different ways people have tried to use EventEmitter with C++ addons. I first tried to pass the `EventEmitter.emit` method directly to a C++ ObjectWrap constructor and invoke that method using `Napi::Function::Call({args})` but the C++ code cannot see the actual EventEmitter object and thus fails since `emit()` accesses the EventEmitter class variables. Thi

[2017-08-17 21:56] mhdawson commented on #66
Starting with methods that just call into the JS functions to start sounds like the right first step to me.  I expect the parsing will be more significant in terms of cycles than the transitions.

[2017-08-17 22:14] mhdawson commented on #97
@mcollina so the conversion script ended up changing our own files as well ?  @sampsongao can you take a look to see how we can present that.

[2017-08-17 22:25] mhdawson commented on #91
@mcollina a list of things you had trouble figuring out how to port from NaN would be useful.  We can prioritize documenting those cases, possibly using examples.

I think we can all agree we want complete and useful documentation, time is the main problem.  So if we can identify the things that will help the most it would be a great help in doing the right parts first.

[2017-08-17 22:26] mhdawson commented on #89
Thanks, that would be super useful.

[2017-08-17 22:28] mhdawson commented on #100
@demohi , just to check that its now ok for you using 8.3.0 ?

[2017-08-17 22:30] mhdawson commented on #108
I can look at doing that tomorrow (Friday)

I assume the wrapper has been updated ?

 @nodejs/n-api @nodejs/addon-api any reason we'd not want to do a release now ?

[2017-08-17 22:34] mhdawson commented on #99
Thats probably my fault as I'm generally using master versus the releases but most module maintainers are going to be using the official releases.  An earlier version would probably work, but its not necessarily easy for maintainers to know.  We should only have 1-2 more cases where this happens as we should be locking things down within a few weeks.

[2017-08-17 22:39] mhdawson commented on #92
@mcollina just following up to see if there is still an open question here or you have the info you needed to do the conversion.

[2017-08-18 06:41] demohi commented on #100
@mhdawson  yes, it's ok now

[2017-08-18 07:44] mcollina commented on #97
@mhdawson yes. The problem is that the README suggest to:

[code]

But in https://github.com/nodejs/node-addon-api/blob/master/tools/conversion.js#L224 we do not blacklist for `node_modules`. I would recommend we depend on https://www.npmjs.com/package/glob, and even we ship the conversion tool as a separate npm package.

[2017-08-18 07:46] mcollina commented on #99
We should have a strategy to support node versions until we freeze the API.

[2017-08-18 07:52] mcollina commented on #91
1. How to setup a class and export it to JS, i.e. `Napi::ObjectWrap`, which is also not covered by unit tests, and very scarcely documented.
2. Scopes: no-one understands them on first pass, and https://github.com/nodejs/nan/blob/master/doc/scopes.md is great.
3. Error handling, including all the flags in the README. Let's not assume the reader is a C++ expert.

[2017-08-18 08:08] mcollina opened #111 "CI and release process for this module"
As this module will get more popular, a more formal release process is needed, and we need to catch bugs before release.

Plus, we need to take #106 into account.

[2017-08-18 15:03] mhdawson commented on #91
Thanks, @nodejs/addon-api we should discuss in our next meeting how we get started on this.

[2017-08-18 16:30] mhdawson commented on #108
I'd like some feedback from the rest of the team and I'm done for today so I'll look at this on Monday.

[2017-08-18 17:03] mcollina commented on #91
@mhdawson when is that happening? I'd like to join.

[2017-08-21 12:49] gabrielschulhof commented on #111
To cover Linux and OSX we might use Travis' secure environment variable mechanism to create prebuilds - meaning we use Travis infrastructure.

OTOH, if we want to cover and test more platforms than that, we need to use Node's infrastructure, however, that means we need a secure mechanism for storing GH credentials.

@mhdawson is it possible to create a sort of clean-slate-job on ci.nodejs.org that

[2017-08-21 12:57] mcollina commented on #111
Travis cannot be used on the nodejs github organization for security reasons. It's very complicated.

[2017-08-21 14:38] mhdawson commented on #111
@gabrielschulhof we can setup whatever Jobs that we need.  It sounds like we are actually discussing 2 things here.

1) Testing/releasing the npm module itself which I agree it would be good to have a Node.js CI job that can help on that from.
2) Distributing pre-builds to help support earlier versions of Node.js.  The option of bundling it with the earlier versions that we ship sounds interesting

[2017-08-21 14:50] mcollina commented on #111
We need to build them as part of CI of this repo, as it's tied to the code in here, not on the one on Node.js. Or we might want to split the two things, and have a N-API layer for old node.js with a prebuilt, and have the C++ part of this not be prebuilt.

[2017-08-22 15:32] mcollina opened #116 "node-addon-api broken on node 6"
[code]
We really need a CI system in place.

[2017-08-22 15:55] gabrielschulhof commented on #116
Yeah, and I mistakenly thought that `v8::Private` is available on 4. I have a PR for both of these issues.

[2017-08-22 16:09] mcollina commented on #98
I'm trying to see how do add this. Is it fine if I parse `binding.gyp`? I also need to add this module within the dependencies in `NAPI_CPP_EXCEPTIONS`.

[2017-08-22 18:02] sampsongao commented on #98
Can you post an example of the output binding.gyp?

[2017-08-22 21:56] mcollina commented on #98
Here it is:

[code]

What it's missing is the line in `dependencies`, like so:

[code]

[2017-08-22 22:53] #116 closed

[2017-08-24 20:21] mhdawson commented on #108
This release went out last week.

[2017-08-24 20:21] #108 closed

[2017-08-24 21:05] mhdawson opened #119 "tests failing after landing PRs for next release"
Just landed 117, 115, 114, 112 after talking with @gabrielschulhof about putting out a new release.

Unfortunately when I went to run the tests as a check before doing the release I'm getting:

[code]

I manged to get the tests to compile by make sure that `--napi-modules` was not set when the module was built, and then set when it is built,  but it looks like this commit is causing problems if yo

[2017-08-24 21:07] mhdawson commented on #119
@gabrielschulhof

[2017-08-24 21:08] mhdawson commented on #119
It used to run when using

[code]

and making sure `NODE_OPTIONS` was NOT set.

[2017-08-24 21:17] mhdawson commented on #119
Just updating to latest version of master to make sure I see the same behavior there.

[2017-08-24 21:23] mhdawson commented on #119
Recreates with latest master.

My guess is problem is related to updates in getNodeApiBuiltin that were part of 114.

@gabrielschulhof can you take a look its pretty much of the end of my day.

[2017-08-25 09:29] gabrielschulhof commented on #119
@mhdawson I can't reproduce this. I made sure that all paths point to my node repo in `/home/nix/node/node`. In a fresh terminal, I can paste
[code]
and it will run successfully. NODE_OPTIONS is not present in the environment.

[2017-08-25 09:31] gabrielschulhof opened #120 "Buffer.alloc is unavailable on Node 4"
[code]
This is `npm test` on Node 4.

[2017-08-25 09:33] gabrielschulhof commented on #119
`npm test` works on released versions 6 and 8, but on 4 and 5.5.0 it attempt to use `Buffer.alloc()` which is not present (#120).

[2017-08-25 09:53] mcollina commented on #120
You should use http://npm.im/safe-buffer

[2017-08-25 10:11] gabrielschulhof commented on #120
@mcollina thanks!

[2017-08-25 10:27] gabrielschulhof commented on #120
@mcollina actually, I can't use safe-buffer because we need the built-in buffer object, since we're testing the N-API bindings. So, I've wrapped the test in `if ('alloc' in Buffer) {...}`, meaning it will be skipped on Node 4, which makes sense.

[2017-08-25 10:30] mcollina commented on #120
https://github.com/feross/safe-buffer/blob/master/index.js#L47 returns a built-in `Buffer`

[2017-08-25 10:46] gabrielschulhof commented on #120
@mcollina the test uses N-API to instantiate a buffer and AFAICT safe-buffer cannot be used to augment an existing built-in Buffer after the fact.

[2017-08-25 10:53] gabrielschulhof commented on #120
Hmmm ... the test works if I do `safeBuffer.Buffer.alloc(...)`. I'll do that.

[2017-08-25 11:00] gabrielschulhof commented on #119
@mhdawson the tests should pass on all versions of node including master after you add #121 and #122.

[2017-08-25 17:50] #119 closed

[2017-08-25 17:52] #120 closed

[2017-08-25 17:54] mhdawson commented on #119
Landed 121 and 122, tests now pass will create release later this afternoon

[2017-08-25 18:46] mhdawson commented on #119
Ok new release published.

[2017-08-25 18:47] mhdawson commented on #111
Work to setup initial CI job under: https://github.com/nodejs/build/issues/844

[2017-08-26 22:00] jasongin commented on #86
Yes, I think so.

[2017-08-28 16:11] addaleax commented on #86
I've suggested what I would consider a proper fix (rather than adding a gazillion more overloads) in #123, could you try that? :)

[2017-08-30 06:33] davedoesdev opened #124 "Passing value back from AsyncWorker"
It seems at the moment the only way to get the result back is to set it on the receiver. Is that correct?
There is `SetError` for indicating an error. What do you think about a `SetResult` which then causes the callback to be called with the result as the final arg (`null` or the error as the first)?

[2017-08-31 21:25] davedoesdev commented on #124
Actually it looks like I can do this by overriding `OnOK`.

[2017-08-31 21:25] #124 closed

[2017-09-02 12:55] koistya commented on #75
@jasongin How to pass "data" back to the caller from under the `Execute()` method?

[2017-09-02 15:38] koistya opened #126 "Add API for working with Promises"
How hard would it be to implement APIs allowing writing Promise-based N-API addons?

[2017-09-03 22:23] jasongin commented on #75
If you have some result data to pass back from `Execute()`, I'd suggest saving it to a member variable of your `AsyncWorker` subclass. Then in your `OnOK()` override you can pass that result data back to a JavaScript function.

I suppose we could add to the library something like an `AsyncWorker<TResult>` class, that has a `TResult Result()` and maybe a `SetResult(TResult result)` method. But I do

[2017-09-03 22:27] jasongin commented on #126
A C API for promises was just recently implemented at https://github.com/nodejs/node/pull/14365

Now it definitely makes sense to expose that in the C++ wrapper. @gabrielschulhof are you planning to do that? Otherwise I might get to it eventually. Or someone else interested may pick it up.

[2017-09-03 22:34] jasongin commented on #110
Sounds like you just need to [bind](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function/bind) the `emit` function to the emitter instance:

[code]

(And that is essentially what your adapter function does. But `Function.bind()` already exists for that purpose.)

[2017-09-05 22:29] MSLaguana opened #129 "What is the intended usage of napi_get_value_string_utf8 with truncation"
I was looking at making some improvements to chakracore's utf8 handling, and when I came to fixing our implementation of `napi_get_value_string_utf8` I saw that it is permitted to call that function with a buffer that is too small to fit the utf8 string, and the expectation is that the string is truncated.

What is the reason for this, rather than returning an error? There is no way that I could s

[2017-09-05 22:34] addaleax commented on #129
Iirc that matches the behaviour that V8’s own methods for this expose. Not saying that’s a good or a bad thing, just, somebody already made the same call. :)

Fwiw, that’s not true if the offset is zero…

[2017-09-05 22:49] MSLaguana commented on #129
Sure, you can start from the start of the string again, but my first though at seeing that the result could be truncated was that there would be some form of pagination possible. It doesn't look like that is the case though.

Thanks for the quick response! Just wanted to make sure that I wasn't missing some use-case with my internal refactor.

[2017-09-06 07:15] levimm opened #130 "Any APIs related to V8::ScriptCompiler?"
I'm trying to migrate an old addon using Nan to Napi.

In Nan, there's API called Nan::CompileScript which will invoke v8::ScriptCompiler::Compile to compile the source javascript code. But I couldn't find any related to compile script in Napi.

I guess I have to use both v8 part code and Napi part in the addon. However, I don't know how to convert v8::Value type to Napi::Value.

Please advice.

[2017-09-06 08:18] gabrielschulhof commented on #130
@nodejs/addon-api looks like we might need to implement https://github.com/nodejs/abi-stable-node/issues/51

[2017-09-06 08:19] gabrielschulhof commented on #130
@levimm would a C++ wrapper around the API proposed in https://github.com/nodejs/abi-stable-node/issues/51 help you out?

[2017-09-06 08:21] gabrielschulhof commented on #130
@levimm specifically, do you need support for simply executing a script, or do you need access to the intermediate step of compiling the script as well? Can you give us a link to the module you wish to port so we can have a look at your API usage pattern?

[2017-09-06 08:31] levimm commented on #130
@gabrielschulhof Executing the script is enough for my situation. It's a self addon. Basically, related part of logic just compiles and runs the script.
Btw, is it possible to convert construct the Napi object or value from v8 handle?

[2017-09-06 08:48] gabrielschulhof commented on #130
@levimm we do not expose the details of the underlying engine. After all, you may not be running on V8 at all. For example, you may be running ChakraCore, or some other JavaScript engine.

[2017-09-06 22:15] MSLaguana opened #131 "What are the semantics / guarantees of a napi_value?"
In particular, are there any assumptions about whether a `napi_value` is necessarily a reference to an object, or potentially a value in and of itself?

I ask this as someone implementing part of napi for chakracore: some chakracore values exposed through the native interface are primitive values, e.g. tagged integers. In general this is not observable, but when implementing the `napi_create_refer

[2017-09-07 01:53] levimm commented on #130
@gabrielschulhof Thanks for your effort. Your commit helps me a lot.

[2017-09-07 01:53] #130 closed

[2017-09-07 05:47] gabrielschulhof commented on #131
A `napi_value` is a reference to a JavaScript value that is valid from the time control passes from the engine into N-API until the time that control passes from N-API back to the engine. This happens in three places (that I can think of):
0. During module initialization
0. When a native binding gets called from JS
0. When a callback that wishes to make use of the engine gets called from the event

[2017-09-07 16:18] MSLaguana commented on #131
Thanks for the explanation of the intent of `napi_value`!

That approach sounds reasonable to me, except that the reason I came across this case is because it is hit in one of node's tests: https://github.com/nodejs/node/blob/master/test/addons-napi/test_general/test.js#L72 passes a number `25` to a napi module which tries to create a reference to the number https://github.com/nodejs/node/blob/mas

[2017-09-07 16:53] gabrielschulhof commented on #131
We should probably change the test so that it wraps an object rather than a
primitive.

On Thu, Sep 7, 2017 at 7:18 PM, Jimmy Thomson <notifications@github.com>
wrote:

[2017-09-07 17:34] gabrielschulhof commented on #131
Actually, I think taking the reference of the value is unnecessary there
because the only reason it does that is so it has something to wrap. We can
just as easily malloc something and then free it in the callback.

On Thu, Sep 7, 2017 at 7:53 PM, Schulhof, Gabriel <
gabriel.schulhof@intel.com> wrote:

[2017-09-07 21:58] MSLaguana commented on #129
Yes, thanks.

[2017-09-07 21:58] #129 closed

[2017-09-08 18:26] mhdawson commented on #97
I think we can close this since https://github.com/nodejs/node-addon-api/pull/112 landed. Please let me know if that is not the case.

[2017-09-08 18:26] #97 closed

[2017-09-08 18:28] mhdawson commented on #91
I think this is being covered in https://github.com/nodejs/node-addon-api/issues/91#issuecomment-323285659

@mcollina you can join the weekly meeting any time.  Its at 1:30 EST on Thursdays.  If you'd like an invite just ping @sampsongao

[2017-09-08 22:00] corymickelson commented on #96
@jasongin Is there any examples of how the new ObjectWrap constructor is used?
I have tried to follow along with node-canvas, and I cant figure out the right way to create a new object from a "parent" object. I have a PdfDocument class which is wrapped in an ObjectWrap and has a method GetPage(int n) which gets the underlying PoDoFo::PdfPage. This PdfPage is what I have attempted to wrap in the co

[2017-09-08 22:14] jasongin commented on #96
You can use a `Napi::External` to pass an arbitrary pointer as the first argument to the constructor. Something like this:

[code]

And then extract the pointer from the callback info's first argument in the constructor:

[code]

I am painfully aware that there is not enough documentation for `Napi::ObjectWrap` at this time.

[2017-09-08 22:15] sampsongao commented on #91
The event link is [here](https://plus.google.com/u/0/events/c0eevtrlajniu7h8cjrdk0f56c8?authkey=COH04YCalJS8Ug). And you can join directly through this hangout [link](https://hangouts.google.com/hangouts/_/event/c0eevtrlajniu7h8cjrdk0f56c8?hl=en&authuser=0).

[2017-09-08 22:38] cjihrig commented on #91
Is there any chance of getting that information put on the official calendar?

[2017-09-08 23:12] corymickelson commented on #96
@jasongin Thank you so much. Im not sure if this is related or just my lack of knowledge on the right way to be doing this. With the code you provided above everything is now compiling, again thank you. When I try to make this call from my code im erroring out. If this is the wrong place for this type of thing I apologize, please let me know a better place for this type of discussion.
[code]

[2017-09-08 23:18] corymickelson commented on #96
@jasongin Thank you very much. Quick note for anyone else, `External` requires a template parameter: `External<T>`

[2017-09-08 23:21] jasongin commented on #96
Ahh, sorry I had forgotten we made the change to have that class templated on the pointer type. I'm surprised it compiled without the template parameter then.

So it's working now? Or are you still getting the fatal error?

[2017-09-08 23:25] corymickelson commented on #96
@jasongin no, your correct, it needs the template parameter to compile, but yes it work!! Thank you. The error was just due to me forgetting to initialize it in the module.

[2017-09-08 23:31] jasongin commented on #96
OK, great. I'm just a little concerned about one thing. While I would expect an error if the `constructor` wasn't initialized, it shouldn't have been a fatal error. (It should have been thrown as a C++ exception, if you have exceptions enabled in the module.) That fatal error there means `napi_get_last_error_info()` failed _while trying to construct an Error instance_, which is very bad and should

[2017-09-08 23:40] corymickelson commented on #96
@jasongin Well bummer... It seems to be reproducible by removing Initialize
[code]

[2017-09-08 23:43] jasongin commented on #96
Are you able to use a debugger to check the value of the `status` code at the point of the fatal error? Here's the line in `napi-inl.h`: https://github.com/nodejs/node-addon-api/blob/master/napi-inl.h#L1427

[2017-09-08 23:46] jasongin commented on #96
Hmm, it would have to be `napi_invalid_arg`, except the only way that could happen is if the `env` is null, and I don't know how that could be.

[2017-09-09 01:35] corymickelson commented on #96
@jasongin So, I am not really sure how to debug this, this is my first attempt at a native node module, and my usual means of debugging are not cooperating. The code is still very small (~200LOC) which your more than welcome to look over [here](https://github.com/corymickelson/npdf). I will continue to work on setting up a debugger ( will need one regardless, any suggestion?)

[2017-09-11 13:49] mhdawson commented on #91
I can add it

[2017-09-13 16:29] anisha-rohra opened #133 "Short term conversion tool fix for known issues"
For aspects of the conversion tool where it is known that the conversion is inaccurate, leave some form of an indicator for the user that changes are required.

Potential indicators can be as simple as a comment in the form of a TODO or whitespace where the change is expected.

An example of such a situation is the "Nan::New" conversion to "Napi::New" as a default when no concrete type match is fo

[2017-09-13 20:52] anisha-rohra opened #135 "When converting from Nan using the tool, C++ exceptions should be enabled/disabled by default"
Seems like a relatively straightforward but welcome addition for the conversion tool to enable or disable the C++ exceptions in binding.gyp. Have them disabled by default but allow for a flag to enable them or vice versa.

[2017-09-18 18:37] mhdawson opened #139 "Always uses build in node_api.cc and node_api.h files"
It looks to me like the wrapper is always building off the copies of the node_api.cc and node_api.h files which are in this project, as opposed to using node_api.h which comes from a node install...

Just want to discuss to confirm we believe that is the right thing to be doing.

[2017-09-18 18:37] mhdawson commented on #139
@jasongin  @gabrielschulhof

[2017-09-25 09:26] gabrielschulhof opened #142 "node-addon-api fails to build against node 4.x"
[code]
Observe build failure.

[2017-09-25 09:41] gabrielschulhof commented on #142
I tweaked the node-test-node-addon-api job a bit:

https://ci.nodejs.org/job/node-test-node-addon-api/1/ (nightly - good)
vs.
https://ci.nodejs.org/job/node-test-node-addon-api/2/ (v4 - bad)

[2017-09-25 15:43] gabrielschulhof commented on #142
v6 is also bad: https://ci.nodejs.org/job/node-test-node-addon-api/3/

[2017-09-25 16:06] mhdawson commented on #142
@gabrielschulhof can I assume you are investigating ?   It is possible that its related to the async changes that were landed in master/head but I doubt have been backported to 4/6

[2017-09-25 16:06] mhdawson commented on #139
@gabrielschulhof I think we discussed in the last N-API weekly meeting that you were going to investigate this one.

[2017-09-25 16:07] gabrielschulhof commented on #142
Is this #144?

[2017-09-25 16:31] gabrielschulhof commented on #142
@mhdawson almost certainly, since it's precisely async that is tripping things up.

[2017-09-25 17:51] NickNaso commented on #76
Hi everyone,
I agree with @mcollina that have a markdown documentation is better than the autogenerated one. If you want in next month I'll available start writing the documentations. What do you think about? In case have you some specifications to follow?

[2017-09-27 08:10] koistya opened #145 "Fails to compile on Node.js 8.6.0"
[code]

[2017-09-27 13:18] mhdawson commented on #145
Was just checking this morning to confirm that 8.6 went out last night.

Creating release now.

[2017-09-27 13:31] mhdawson commented on #145
Created version 1.0.0 which should have all of the changes needed to sync up with 8.6.0.

Please check it out an let us know if it resolves your issues.

[2017-09-27 14:11] koistya commented on #145
There are lesser amount of errors this time:

[code]

[2017-09-27 14:13] koistya commented on #145
https://github.com/koistya/nodejs-api-starter/tree/node860

[2017-09-27 16:18] gabrielschulhof commented on #142
Actually, node-addon-api fails to build against nov 8.4.0 too. So AFAICT it's basically broken against any version of node other than the latest.

[2017-09-27 20:43] mhdawson commented on #145
I think the problem you are seeing is most likely because the signature for the Init method changed.  I see this:

[code]

in binding.cc.  The the module parameter should be removed as the signature is now:

 napi_value regfunc(napi_env env,  napi_value exports)

[2017-09-27 20:44] mhdawson commented on #145
I tried validating but it told me I was missing an include for sodium

[2017-09-27 21:08] koistya commented on #145
@mhdawson you would need to run:

[code]

During the install, `node-addon-api` fails with the error above trying to compile `/binding.cpp` in the root of the project.

[2017-09-27 21:12] mhdawson commented on #145
Can you try updating binding.cc as suggested, I don't have a docker environment handy right now.

[2017-09-27 21:20] koistya commented on #145
@mhdawson thank you, that worked! No more errors.

[2017-09-28 05:12] gabrielschulhof commented on #145
@koistya @mhdawson I think we can close this. If not, please reopen!

[2017-09-28 05:12] #145 closed

[2017-09-28 16:22] corymickelson opened #147 "1.0.0 compiler errors"
Hello, just updated to the 1.0 version. I am getting some errors though that I am not sure how should be handled.

[code]
this error just repeats over and over for each objectwrapper
Here is the class that the above is erroring out with
[code]
Thanks, and thanks for taking the time to write this, it has been an overall very  pleasant experience for writing native node addons with.

[2017-09-28 16:28] jasongin commented on #147
The 1.0 release requires node 8.6.

[2017-09-28 16:29] corymickelson commented on #147
oh, ok, thats simple enough. Thank you

[2017-09-28 16:44] corymickelson commented on #147
@jasongin yup that worked. I had to change my addon.cc NODE_API_MODULE from
[code]
to
[code]
but other than that it seems to be good.

[2017-09-28 16:45] jasongin commented on #147
Yes, that was a recent breaking change.

As indicated by the 1.0 version number, we're not planning to make any more breaking changes going forward.

[2017-09-28 19:14] gabrielschulhof commented on #142
I'm starting to go through the errors, and I've noticed that we've introduced a call to `v8::FunctionCallbackInfo`'s `NewTarget()` method. This method is not available in previous versions of V8, so can we fall back onto `This()`? Can `NewTarget()` be something other than `This()` when `IsConstructCall()` is true? @nodejs/addon-api

[2017-09-28 21:21] sandeepmistry commented on #147
What's the recommend path for those targeting older Node.js releases? The readme still states:

[2017-09-28 21:28] jasongin commented on #147
The intention is that this package can use its external copy of the N-API implementation when built with versions of node that don't have it built-in. That should include 8.0 - 8.5.x, 6.x, and 4.x versions. (The disadvantage of that back-compat support is that you have to recompile when switching between older versions, just as with any classic node native addon.)

However, there are some issues c

[2017-09-29 08:49] mika-fischer opened #149 "Alternative to creating references to non-objects"
https://github.com/nodejs/node/pull/15289 removed the possibility to create references to values that are not objects.

My use-case is the following. I want to store arguments given to my function persistently. Then some time later I want to call a callback function with those parameters. In the past I just used a `vector<Reference<Value>>`. Now I don't quite understand how I'm supposed to do it..

[2017-09-29 09:27] gabrielschulhof commented on #149
How about storing the arguments in a JS array and then creating a reference
to the array. Below is the pseudocode skeleton:

[code]

On Fri, Sep 29, 2017 at 11:49 AM, Mika Fischer <notifications@github.com>
wrote:

[2017-09-29 10:17] mika-fischer commented on #149
OK, fair enough, that's slightly inconcenient, but not too bad...

But just so I understand: There's now no way at all to just hold onto say a string literal across calls into C++?

[2017-09-29 10:33] bnoordhuis commented on #142
Yes, see https://github.com/nodejs/node/pull/15681.  You could back-port https://github.com/nodejs/node/pull/11652 to v4.x.

[2017-09-29 10:37] gabrielschulhof commented on #149
There is. You can convert it to a `char *` and then pass the `char *` to
`napi_wrap()`. In general, you need to convert to a native type, store the
data in a heap-allocated buffer, and use `napi_wrap()`.

On Fri, Sep 29, 2017 at 1:17 PM, Mika Fischer <notifications@github.com>
wrote:

[2017-09-29 10:51] mika-fischer commented on #149
Sure, I meant keeping the JS string without converting to C++. That seems impossible now, right?

And while converting a string to C++ by itself is not that bad, in cases like this where you get passed a `Value` and you don't care what it is, you just want to hold on to it for later use, things are a lot more complicated than before if you don't want to use this boxing trick...

[2017-09-29 10:55] gabrielschulhof commented on #149
It is indeed more complicated. Nevertheless, it is necessary, because not
all engines support making references to non-object types.

On Fri, Sep 29, 2017 at 1:51 PM, Mika Fischer <notifications@github.com>
wrote:

[2017-09-29 10:57] mika-fischer commented on #149
Ah I see, that makes sense then. Thanks for the explanations!

[2017-09-29 10:57] #149 closed

[2017-10-01 16:45] facekapow opened #150 "Arrays don't play nice with wrapped objects"
I'm not sure what's going on here, but when I try to set a wrapped object into an array (from native code), Node throws up an error: `Invalid pointer passed as argument`. I tried debugging it a bit and it appears that when the instance is fetched from the array, it's a non-type. `napi_typeof` on the result from `result.Get(i)` gives an `invalid_arg` error. So instances essentially disappear when t

[2017-10-01 17:20] jasongin commented on #150
[code]

Change the assignment to: `result[i] = val.Value();`

The wrapped object instance in C++ is actually a _reference_ to the JavaScript value. References cannot be stored directly in arrays. The `Value()` method retrieves the referenced value.

I can understand the confusion, since this isn't documented well. We're planning to work on that.

[2017-10-01 17:22] jasongin commented on #150
We might also consider updating array assignment (and property setters) to automatically dereference references. I'm not sure how well that would work though, without actually trying it out.

[2017-10-01 17:46] facekapow commented on #150
Nope. Won't let me build, saying that  `.Value()` is not a method on `Napi::Object`. Thanks for the suggestion, though.

I can use the class if I directly unwrap the newly created instance, but I can't unwrap the instance you get from the array after assigning it to the array.

[2017-10-01 18:39] jasongin commented on #150
Sorry, I skimmed the code too quickly before replying.

I think the problem is in the `WrappedController::New()` method. Because it declares a `HandleScope`, the object allocated within its scope will be released when the method returns. That's why it is invalid at the point of assigning to the array.

Assuming the number of controllers is going to be reasonably small, you can just delete that `Ha

[2017-10-01 18:45] facekapow commented on #150
Removed the HandleScope like you said and voila! It works perfectly. I guess I should've looked into *when* to use a HandleScope. I just saw it used throughout some of the examples but I didn't really know what for.

Anyway, thanks for your help.

[2017-10-01 18:45] #150 closed

[2017-10-02 16:42] krystianity commented on #75
Sorry for adding momentum to a closed issue, but I was trying to implement the suggested solution that @jasongin mentioned above. Using non Napi::Object values like Napi::Boolean works fine, but I am trying to call the callback function with an object as second parameter and it results in segfaults and funky promises resolving in error messages :dancer:

Any idea what I (not that strong at C++) am

[2017-10-02 18:44] jasongin commented on #75
The `_test` value is invalid by the time `OnOK()` runs because it got collected by the GC. To prevent that, you should store it as a `Napi::ObjectReference`:

[code]

Or you can use the `Receiver()` `ObjectReference` that is already attached to the `AsyncWorker` instance, and set/get properties on it:
[code]

[2017-10-02 19:22] mhdawson commented on #147
I think this can probably be closed now as the original issue was resolved ? @sandeepmistry

[2017-10-02 19:23] mhdawson commented on #147
Sorry just meant to ask the question not close, @sandeepmistry please close if you agree.

[2017-10-02 19:23] mhdawson commented on #139
@gabrielschulhof I think you may have landed some changes to address this, are there still more to come ?

[2017-10-02 19:40] krystianity commented on #75
Thanks for the super fast reply @jasongin , passing the object to as callback param works now.
But I still cannot do any actions inside of Execute()

`Receiver().Get("any");` is a segfault already :(

[code]

[2017-10-02 19:45] jasongin commented on #75
Oh, yes I forgot to mention an important detail. The `Execute()` method does not run in a JavaScript context, so you can't access any JS types from there. Instead you should save any results as (non-JS) member variables, and convert the results to JS values in the `OkOK()` callback.

[2017-10-02 20:26] krystianity commented on #75
@jasongin thanks for the hint :100:  got it now :)

[2017-10-02 22:55] sandeepmistry commented on #147
@mhdawson yes, this can be closed, as @jasongin mentioned above my concern is tracked in #142.

[2017-10-03 16:12] mhdawson commented on #147
Thanks, closing.

[2017-10-03 16:12] #147 closed

[2017-10-09 01:06] corymickelson opened #153 "ObjectWrapper with async methods?"
Sorry, this is not really a bug or anything like that. I am trying to figure out how to, or if it's possible to add async methods to a class implementing ObjectWrap?
[code]

Can async methods exist within ObjectWrap? If not, what would be the best practice for creating an async method for an ObjectWrapped class?
Thank you.

[2017-10-09 04:44] NickNaso commented on #153
Hi @corymickelson ,
I'm starting use node-addon-api and I had the same problem. If you want you can take a look here:
https://github.com/NickNaso/conf-ni-2017/blob/master/7-vedis-napi/
The code is not perfect, but works. Maybe you can take inspiration from it.
Please report me if it will useful for you.

[2017-10-09 18:36] corymickelson commented on #153
@NickNaso  thank you, the examples you provided were very helpful.

[2017-10-11 19:51] mhdawson commented on #98
@sampsongao have you had a chance to look at this ?

[2017-10-12 02:46] sampsongao commented on #98
So currently the script find a <!(node -p "require('nan')") and replace it with node -p "require('node-addon-api').include"). Maybe we can do find the "dependencies" key and insert the include for node-addon-api and remove nan's if found.

[2017-10-12 06:19] #86 closed

[2017-10-13 07:10] gabrielschulhof commented on #142
Hmmm ... on node 8.0.0 it's building our copy of node_api.cc and it's creating node-api.a, but then the linker resolves calls to node's own version, meaning the ABI is mismatched, running into segfaults as a result.

[2017-10-13 09:54] gabrielschulhof commented on #142
The problem can be solved with `__attribute__((visibility("protected")))` but then you get the error "/usr/bin/ld: Release/obj.target/binding/error.o: relocation R_X86_64_PC32 against protected symbol `napi_create_error' can not be used when making a shared object"

[2017-10-13 10:04] bnoordhuis commented on #142
Static linker or dynamic linker?  What do `nm -C` and `ldd` print for `build/Release/*.node`?

My first hunch is that it's a link order issue.  What does `env V=1 node-gyp rebuild` print?

[2017-10-13 12:55] gabrielschulhof commented on #142
@bnoordhuis
[nm -C](https://gist.github.com/gabrielschulhof/0fe4442360f119facc48654b6c3710f9)
ldd:
[code]
[V=1 npm test](https://gist.github.com/gabrielschulhof/e7c8148e748f1b609499a8de631b22d5)

I think it's a library load time issue. The symbols are available both locally (via node-api.a) and from Node.js, and the dynamic linker is resolving the needed symbols using Node's symbols rather than th

[2017-10-13 13:14] gabrielschulhof commented on #142
Wow! Another weird consequence. The Node.js async execute callback gets called, even though the async work item is created inside node-api.a.

[2017-10-13 13:16] gabrielschulhof commented on #142
That is, the version of uvimpl::Work::ExecuteCallback available inside node gets called, not the one available inside node-api.a.

[2017-10-13 13:47] gabrielschulhof commented on #142
I have to qualify uvimpl::Work::ExecuteCallback and uvimpl::Work::CompleteCallback with NAPI_EXTERN in order for them to get resolved correctly.

[2017-10-16 19:44] bnoordhuis commented on #142
I also left a comment on #16234 but if you look at the output from nm, there are a lot of symbols in there that probably have no business being weak:
[code]

[2017-10-17 18:02] #142 closed

[2017-10-17 19:34] #153 closed

[2017-10-18 16:08] corymickelson opened #157 "object.set, value::from, build failure"
Hello, I've been trying to build from master and can see at what commit on node-addon-api my code stop building, but I can't figure out what I'm missing. I've tried using the new Value::From for setting object values but it has made no difference
[code]
[code]

[2017-10-18 22:25] corymickelson commented on #157
@addaleax Im not sure if the above is a bug or just my lack of know-how, I seem to be breaking on the object properties refactor commit. If it is a bug I would like to take a stab at it, would you be available to show me around the code, mentor me through a pull request?

[2017-10-18 22:35] sampsongao commented on #157
@corymickelson  try changing `target.Set("Ref", constructor);` to `target.Set("Ref", ctor);`

[2017-10-18 22:51] corymickelson commented on #157
@sampsongao It doesnt error, but If I do that, when am trying to create an instance of this in my code via Class::constructor.New({}) my constructor is no longer a referenced function.
This is how i'm using the above
[code]

Is there another way I should be instantiating objectwrapped classes from within other objectwrapped classes? Or am I completely backwards ( I would not be surprised if I was

[2017-10-19 11:21] addaleax commented on #157
@corymickelson That last example sounds about right, yes?

[2017-10-19 14:53] sampsongao commented on #157
@corymickelson That's weird. `constructor = Napi::Persistent(ctor);` should keep referenced to ctor.
Another thing I notice here is that the Initialize function should have a return value of Napi::Object where you return the target.

[2017-10-19 15:26] corymickelson commented on #157
@sampsongao Ok, l will try again. There's a lot of code im not showing here. The target it the exports object, you can see the rest of the work [here](https://github.com/corymickelson/npdf).

[2017-10-19 15:36] corymickelson commented on #157
@sampsongao well.. i feel foolish. Thanks :)

[2017-10-19 15:40] #157 closed

[2017-10-22 18:05] sampsongao commented on #98
@mcollina  can you try https://github.com/nodejs/node-addon-api/pull/158 to see if it work for your case?

[2017-10-23 15:54] mhdawson commented on #102
@digitalinfinity volunteered to look at this as a priority in the N-API weekly meetin glast week.

[2017-10-23 15:54] mhdawson commented on #99
I think we can close this, please re-open if that is not the case.

[2017-10-23 15:54] #99 closed

[2017-10-23 15:56] mhdawson commented on #76
There is an effort stated do add documentation. You can follow it here: https://github.com/nodejs/abi-stable-node/issues/280

[2017-10-24 20:57] gabrielschulhof opened #162 "Documentation: Mention that Napi::Reference must not be stored in a global static instance"
This must be avoided because `Reference` calls `napi_delete_reference()`, which in turn calls `Reset()` on the persistent stored inside, which ends up crashing because it runs from the library destructor, which in turn runs after the `Isolate` has already been disposed of.

See [the source](https://github.com/nodejs/node/blob/master/src/node_api.cc#L340-L348).

[2017-10-25 18:41] anisha-rohra opened #163 "Comprehensive node-addon-api test suite"
- [ ] Array
  - [ ] Array
  - [x] TypedArray
  - [ ] TypedArrayOf
- [x] ArrayBuffer
- [x] AsyncWorker
- [ ] Boolean
- [x] Buffer
- [ ] CallbackInfo
- [ ] Constructor
- [ ] Conversions
- [x] Error
  - [x] Error
  - [x] RangeError
  - [x] TypeError
- [x] External
- [x] Function
- [ ] FunctionReference (@NickNaso)
- [ ] HandleScope
- [x] Name
- [ ] Number
- [x] Napi Child
- [x] Object (@romandev)
- [

[2017-10-25 21:02] mhdawson opened #164 "Code cleanup -warnings"
There are a bunch of warnings when I run the tests on linux with `npm test`

Would be great to clean these up:

[code]

[2017-10-26 18:41] jschlight commented on #163
I'm working on the documentation and it would be helpful for my work to have test cases for Reference.

[2017-10-26 22:02] romandev commented on #164
@mhdawson Can I take this issue?

[2017-10-27 13:33] mhdawson commented on #164
@romandev sure, would be great :)

[2017-10-27 13:35] mhdawson commented on #163
@anisha-rohra can you prioritize adding the test for Reference ?

[2017-10-27 13:35] mhdawson commented on #164
@romandev if you are looking for other things to pick up as well check out https://github.com/nodejs/node-addon-api/issues/163.

[2017-10-27 13:41] romandev commented on #164
@mhdawson Thank you for reply. I'll check it and write remaining tests.

[2017-10-27 21:40] gancev opened #170 "node-addon-api conversion script converting to blank cpp and h files"

[2017-10-28 22:55] devsnek opened #172 "`Error: Invalid argument` when calling Napi::Function"
I'm working on a native EventEmitter, and i'm getting invalid argument when calling the handlers in a loop, but nowhere else. see the comments in the screenshots for more info.

![](https://gc.gy/裂❟⟸.png)
![](https://gc.gy/⟴ɀ凌.png)

[2017-10-29 09:19] bnoordhuis commented on #172
Can you post a more complete code example?  It's impossible to tell what the issue is right now.

[2017-10-29 15:18] devsnek commented on #172
The problem code is here
https://github.com/devsnek/eventemitter-native/blob/66902e3806359f2cec219aae62fcaa984aaeaf17/src/EventEmitter.cc#L84-L91

[2017-10-30 11:59] foxhound87 opened #173 "errors after upgrade to node 8"
All was working good on node 7.

I've got 2 errors after upgrading from node 7 to node 8.

How can I fix this?

Thanks

Using Python 2.7

I get different errors (in Docker container or locally)

[code]

[code]

[2017-10-30 12:06] NickNaso commented on #173
@foxhound87  Please could you specify which version of **node.js** and **node-addon-api** you use (ex: 8.8.1) ?

[2017-10-30 12:39] foxhound87 commented on #173
I was using `node-addon-api@0.6.3` with node js `7.0`

The errors appears using  `node-addon-api@1.0` with node js `8.0`

[2017-10-30 13:32] mhdawson commented on #170
@anisha-rohra, @sampsongao  can you take a look at this.

[2017-10-30 13:40] mhdawson commented on #173
There were some changes in the N-API in 8.6 which included the 'last' of the planned breaking changes.  For  example a code was added when creating Errors.  I wonder if you need to make sure to fully clean artifacts from past compilations.  It is also possible that we missed some changes needed in the wrapper as we don't have complete testing yet.

Is your code public somewhere (ex a github repo w

[2017-10-30 14:13] foxhound87 commented on #173
It's a private project and I cannot show the full code, but I can show a small part which is the export/init of the function I want to use in node.

[code]

This code needs to be updated?

Thank You.

[2017-10-30 14:19] foxhound87 commented on #173
And the `binding.gyp` file:

[code]

[2017-10-30 15:25] bnoordhuis commented on #172
Don't know if it's the cause but by the looks of it, the `once` and `every` collections can get mutated while they're being iterated over (loop calls into JS, JS can call mutator methods.)

[2017-10-30 15:41] NickNaso commented on #173
For the moment try to take a look here when I came back to home I can  provide more useful examples
https://github.com/NickNaso/conf-ni-2017/blob/master/7-vedis-napi/src/binding.cc

[2017-10-30 15:41] devsnek commented on #172
@bnoordhuis so is this an n-api issue or should i close this

[2017-10-30 16:37] bnoordhuis commented on #172
I'd close it unless you've conclusively established it's a napi issue.

[2017-10-30 17:01] dashersw commented on #173
I have the same problem, and here's my previous installation that worked with Node 7.x and node-addon-api 0.6.3: https://github.com/dashersw/brain-bits/blob/master/lib/bindings.cc

[2017-10-30 17:41] devsnek commented on #172
@bnoordhuis i guess this is out of scope of the issue, but do you have any knowledge of how to fix this? i'm not very experienced with any of the addon apis

[2017-10-30 17:54] bnoordhuis commented on #172
Iterate over a copy of the list.  The built-in EventEmitter does the same thing.

[2017-10-30 20:43] NickNaso commented on #173
@foxhound87 Have you been solved your problem or do you need help?

[2017-10-30 21:00] devsnek commented on #172
@bnoordhuis i tried making a copy but it has the same error, i'm hopeful i just did this completely wrong
[code]

[2017-10-30 21:23] dashersw commented on #173
@NickNaso I certainly need help ^^

[2017-10-31 03:19] devsnek commented on #172
after talking with my friend who actually knows c++, i'm gonna repoen this, seems like undefined behavior

[2017-10-31 03:44] sampsongao commented on #170
@gancev can you post an example of such file, or point me to your project so that I can give it a try?

[2017-10-31 10:27] foxhound87 commented on #173
@NickNaso thank you for the prompt reply.

I will change my code according to your code sample and I will let you know asap.

[2017-10-31 10:52] bnoordhuis commented on #172
UB how and where?

[2017-10-31 11:29] NickNaso commented on #173
@dashersw This evening I will try to take a look at your repo

[2017-10-31 19:42] guymguym opened #174 "NAPI_THROW_IF_FAILED -Wgnu-zero-variadic-macro-arguments - uses non standard syntax"
Hi

I'm compiling a c++ source file that includes "napi.h".
The compiler issues 19 warnings on lines with `NAPI_THROW_IF_FAILED(_env, status);`.
I use the compiler flag `-Werror` to fail on warnings.
I copied one message below.

Looking up this warning I learned that according to the standard, a macro with variadic arguments (...) is not allowed to be called without passing any arguments matching

[2017-11-01 17:53] #164 closed

[2017-11-01 21:45] mhdawson commented on #173
This needs  an update

[code]

The 'module' parameter was removed from the Init function.  1.0 had the 'last' of the breaking changes and this was one of them.

[2017-11-01 21:46] mhdawson commented on #173
This is an an example of using the new signature:

https://github.com/nodejs/abi-stable-node-addon-examples/blob/master/4_object_factory/node-addon-api/addon.cc

[2017-11-02 05:49] thepatrick opened #175 "HasOwnProperty missing from the C++ wrappers"
There's a `napi_has_own_property`, but no `HasOwnProperty()`

I also couldn't find a `GetOwnPropertyNames` (that nan has), nor a napi_get_own_property_names.

[2017-11-02 14:48] simon-p-r opened #176 "va_arg function"
Hi

Is it possible to make a napi_call_function with a C va_arg function?

Thanks

[2017-11-02 15:15] #139 closed

[2017-11-02 15:24] mhdawson commented on #174
Seems reasonable to me.  Would you like to submit a PR ?

Based on these comments in the code:
[code]

I think it would just be a matter of adding undefined as an additional parameter to the instances in question.

[2017-11-02 15:47] mhdawson commented on #173
@dashersw  I  tried to recreate with your module but I get this error while doing the npm install.

[code]

I updated the package json to use the 1.0.0 version of node-addon-api and am using Node.js 8.9.0

[2017-11-02 15:50] mhdawson commented on #163
@jschlight talked to @anisha-rohra earlier in the week to get her up to speed on Reference, should be working on it now.

[2017-11-02 15:52] mhdawson commented on #110
#bennycooly did  Jason's suggestion resolve your issue ?  Just wondering if we can close this issue ?

[2017-11-02 17:54] gabrielschulhof opened #178 "CI: Failures on Windows"
https://ci.nodejs.org/nodejs/node-addon-api

On Windows the failure seems related to the build infrastructure because it's failing with
[code]

[2017-11-02 17:55] gabrielschulhof opened #179 "CI: SmartOS: SIGABRT while running tests"
On SmartOS the tests abort at test/error.js.

[2017-11-02 17:56] gabrielschulhof opened #180 "CI: Missing AIX from list of platforms"

[2017-11-02 17:56] mhdawson commented on #98
ping @mcollina any chance you can try this out ?

[2017-11-02 18:24] guymguym commented on #172
@devsnek I might be off here, but seems to me like you keep the functions in your class members after the javascript scope that contained them (the scope of the On() function) already returned, and the local reference you had is invalidated.

In order to keep values after the local scope returns you will need to create a reference, which for convinience has an Napi::FunctionReference class you can

[2017-11-02 18:26] guymguym commented on #174
Sure

[2017-11-02 21:59] #175 closed

[2017-11-02 22:11] romandev commented on #163
@mhdawson, @anisha-rohra Can I also work on this issue together? (but I don't want to get in the way)

[2017-11-02 22:17] romandev commented on #163
Also, can we split a large test into smaller tests?
For example, if we are writing tests for Object wrapper, there are too many methods in Object class.
So, if we put all tests into one file, I think readability will be poor and complexity will increase.

[2017-11-03 08:42] guymguym commented on #172
@bnoordhuis I think this issue can be closed. Hope that helps.

[2017-11-03 10:48] simon-p-r commented on #176
I will close for now as not sure what it would look like, I was hoping to use rest parameters.

[2017-11-03 10:48] #176 closed

[2017-11-03 12:44] #172 closed

[2017-11-03 16:03] mhdawson commented on #163
@romandev absolutely.  Splitting out if there are a lot of tests also makes sense to me.

To grab one of the sections, just post a comment here with the ones you are working on so that other people wont' work on them at the same time.  We'll try to periodically update the top part with that information as well.

[2017-11-03 16:05] mhdawson commented on #180
I went ahead and added to the job, ran/passed here: https://ci.nodejs.org/view/x%20-%20Abi%20stable%20module%20API/job/node-test-node-addon-api/

[2017-11-03 16:05] mhdawson commented on #180
Closing

[2017-11-04 10:02] romandev commented on #163
@mhdawson Sure, if so, I'll start to write a test for Object first. It has been marked as complete but still missed many APIs.

[2017-11-05 04:03] JamesMGreene commented on #126
This issue should be closed now.

[2017-11-05 04:06] JamesMGreene opened #181 "Publish a new 1.1.0 release with Promises"
Since the Promise implementation was integrated into the current mainline branch via PR #137, I would really like to see a new minor release (`v1.1.0`) published to NPM.  That way, I would be able to change the dependency in one of my N-API example modules to use `"node-addon-api": "^1.1.0"` instead of `"node-addon-api": "rolftimmermans/node-addon-api#promise"`.

Please consider it.  Thanks!

[2017-11-05 20:25] koistya commented on #126
It would be great to have some docs/examples ([`/doc/promises.md`](https://github.com/nodejs/node-addon-api/blob/e6430c2/doc/promises.md))

[2017-11-05 21:00] NickNaso commented on #126
@koistya  We are working on documentation. Thanks for your feedback!

[2017-11-07 17:08] mhdawson commented on #163
@romandev sounds good.

[2017-11-09 11:20] JamesMGreene commented on #181
I can wait.

[2017-11-09 18:39] digitalinfinity commented on #98
@mcollina we believe this issue should have been resolved with #158- please reopen or file another issue if you still have problems here

[2017-11-09 18:39] #98 closed

[2017-11-16 19:44] #180 closed

[2017-11-17 00:56] addaleax commented on #181
It might be nice if the process was documented somewhere (or maybe it even is)? Just got caught by `node-addon-api@1.0.0` not working on <= Node v6.x

[2017-11-17 21:08] mhdawson commented on #181
@addaleax which process ?  The process for releases ?

[2017-11-17 21:09] mhdawson commented on #181
My current goal is to do a release Monday Nov 20

[2017-11-17 22:45] addaleax commented on #181
@mhdawson yes, exactly that :)

[2017-11-20 15:59] mhdawson commented on #181
Release created/published.

[2017-11-20 15:59] #181 closed

[2017-11-20 16:04] mhdawson commented on #181
@addaleax it has been pretty add-hoc so far in terms of creating release.

I've created this PR as a first step to document the process: https://github.com/nodejs/node-addon-api/pull/187

[2017-11-20 21:26] mhdawson opened #189 "New OSX testing - test failures"
We are in the process of adding OSX testing across different OSX versions from 10.08 to 10.13. See https://github.com/nodejs/build/issues/756.

We have this temporary job to run the tests on the new machines:

https://ci.nodejs.org/view/All/job/node-test-commit-osx-macstadium/

The tests seem to pass on 10.11 and 10.12  but we are seeing failures on 10.09 and 10.10  (we still need to work on getti

[2017-11-20 21:35] mhdawson commented on #189
Failures may be related to https://github.com/nodejs/build/issues/773

[2017-11-20 22:12] mhdawson commented on #189
2 extra failures on 10.10 seem to be resolved by solution in https://github.com/nodejs/build/issues/.  But still see failure of `not ok 2065 sequential/test-inspector-port-zero` on both 10.09 and 10.10

[2017-11-20 22:13] mhdawson commented on #189
Got the wrong repo, going to close and open issue in node core repo

[2017-11-20 22:15] mhdawson commented on #189
Proper issue: https://github.com/nodejs/node/issues/17164

[2017-11-20 22:15] #189 closed

[2017-11-22 14:16] adambabik opened #191 "Compilation errors in node 8.2.1 while 8.9.1 works fine"
Hi,

I am trying to build a native module for node v8.2.1. It's because it must work with electron. I managed to do so with v8.9.1 as it's the newest LTS, however, I am getting a lot of errors when trying to build against node v8.2.1.

I am using node-addon-api in version 1.1.0.

[code]

This is just a fragment of all errors.

Is there a `node-addon-api` version that is supposed to work with 8.2.1

[2017-11-22 14:20] mhdawson commented on #191
We made some breaking changes in N-API in 8.6 (the last expected) which are likely related.

I know that @gabrielschulhof has been  looking at backwards compatibility and I remember he mentioned issues with earlier versions of 8.x.  What I can't remember is if it was just that we could not address those earlier versions of 8.x or if he had some ideas.  @gabrielschulhof can you comment.

[2017-11-22 14:22] mhdawson commented on #191
As context its actually easier for us in 4.x and 6.x since they don't have an implementation of N-API so providing one though the npm module is straight forward.  For 8.X there are possible conflicts with the version that was present in those Node.js versions.

[2017-11-22 14:51] adambabik commented on #191
@mhdawson thanks for the quick response! Appreciate it! I will wait a bit for @gabrielschulhof's comment.

In the meantime, as you suggested, I tried to go with node v7.9.0 as it's the one used by the latest stable electron release. I assume it's pretty close to 6.x. It compiled correctly, but when I tried to execute JS code using my native module, I got:
[code]

[2017-11-23 17:03] #109 closed

[2017-11-25 01:15] devsnek opened #193 "getting promise result and state"
are there plans to expose a promise's result and state?

[2017-11-28 12:51] romandev commented on #163
Is anyone working on `Reference` test? If there is no one, can I take it?

[2017-11-28 15:37] anisha-rohra commented on #163
@romandev I'm taking a look at it at the moment! Should be done in a couple of days.

[2017-11-29 11:23] romandev opened #196 "Add support for DataView feature"
`DataView` objects provide an array-like view over an underlying data buffer, but one which allows items of different size and type in the ArrayBuffer.

So, we should provide wrapper implementation for the following APIs.

- napi_is_dataview() [1]
- napi_create_dataview() [2]
- napi_get_dataview_info() [3]

[1] https://nodejs.org/dist/latest-v8.x/docs/api/n-api.html#n_api_napi_is_dataview
[2] http

[2017-11-29 11:27] romandev commented on #196
@mhdawson Can I start to work on this? or If we need discussions or agreements, where can I see the process for adding these new APIs?

[2017-11-29 23:10] mhdawson commented on #196
Sounds good.  We should have coverage for all of the things you can do in the core N-API.

[2017-11-29 23:41] romandev commented on #196
Okay, I'll take this :)

[2017-12-05 20:37] andreek commented on #191
@adambabik maybe ```binding.gyp``` is missing ```'dependencies': ["<!(node -p \"require('node-addon-api').gyp\")"]```. I've got the same error some days ago. Did you use the conversion tool?

[2017-12-06 00:22] simon-p-r opened #199 "napi_make_callback"
Hi

I cannot find any examples of napi_make_callback api, I would like to use it to invoke a js function on an event from native code.  Is this possible?

Thanks

[2017-12-06 08:39] adambabik commented on #191
@andreek I had it included for sure but I didn't use any conversion tool as far as I remember. I followed `N-API` examples from the beginning so I thought I didn't need it.

Finally, I decided to go with raw C++ code and it worked fine. It wasn't a complicated addon anyway.

[2017-12-06 17:02] mhdawson commented on #179
@cjihrig would you be able to help investigate this problem on SmartOS ?

[2017-12-07 02:52] cjihrig commented on #179
I'll try to take a look tomorrow.

[2017-12-07 19:13] cjihrig commented on #179
My current setup is:
- `uname -a` - 5.11 joyent_20170202T033902Z i86pc i386 i86pc Solaris
- `node -v` - v9.2.0
- Fresh clone of master of `node-addon-api`

`npm test` and `node test/error.js` both succeed for me. Any ideas on the configuration needed to trigger the abort?

[2017-12-07 23:28] mhdawson commented on #179
This is the text from the job

ls
[code]

[2017-12-07 23:29] mhdawson commented on #179
Build on version 8 https://ci.nodejs.org/view/x%20-%20Abi%20stable%20module%20API/job/node-test-node-addon-api/69/ to validate it is still failing.

[2017-12-07 23:34] mhdawson commented on #179
Actually it runs every night and fails on the last v9 nightly although that should now b 10.  Fixed that.

[2017-12-08 00:48] cjihrig commented on #179
@mhdawson I'm assuming [this comment](https://github.com/nodejs/security-wg/pull/57#issuecomment-350128923) was meant for this issue, so I'll repeat it here:

If that is intended for this issue, then @misterdjules comment [here](https://github.com/nodejs/node/issues/16528#issuecomment-341582318) might apply:

Is the SmartOS 14 machine using a Node binary that is built on a newer version?

[2017-12-08 16:14] mhdawson commented on #179
I see its passed on smartos15 and smartos16, so maybe its just that the versions of Node.js that we are testing don't run on smartos14 and we should just remove that. @cjihrig what is the oldest version of Node.js that runs on smartos 14 ?

[2017-12-08 16:20] mhdawson commented on #179
@cjihrig yes was for this issue.  So main question is if we are ok just removing SmartOS 14 from the testing for N-API as N-API support will at most go back to 4.X (just not sure if SmartOS 14 supports 4.X or not)

[2017-12-10 20:22] digitalinfinity opened #201 "Issues with the conversion tool"
I was trying out the conversion tool to port an existing module and ran into a couple issues. I opened https://github.com/nodejs/node-addon-api/pull/200 to fix some of the easier issues but wanted to capture the one's that I didn't fix:
- Binding.gyp handling seems to be flaky. The import of node-addon-api's binding.gyp doesn't seem to work. Removing it unblocked me but it would be good to fix bec

[2017-12-11 03:40] cjihrig commented on #179
Based on the [CI run of the most recent Node 4.x release](https://github.com/nodejs/node/pull/17534#issuecomment-350093423), it appears that SmartOS 14 runs the Node test suite fine.

[2017-12-11 23:02] mhdawson commented on #179
Ok updated job by taking logic from release job for smart os.  Should now only run node versions that are supported on SmartOS versions and otherwise just pass.

[2017-12-11 23:02] #179 closed

[2017-12-12 11:30] #199 closed

[2017-12-12 15:02] mhdawson commented on #199
@simon-p-r did you find your answer ? Sorry nobody responded more quickly.

[2017-12-12 15:10] simon-p-r commented on #199
No not yet @mhdawson I am using the c api which is why I closed this issue.  My main problem is raising events from c and passing them to js, I believe I have to use uv_async_send however I think I now need to queue the callbacks as libuv doesn't fire them individually.  Hopefully I will be able to get napi_make_callback to work after that!

[2017-12-13 18:33] #135 closed

[2017-12-18 19:45] frabert opened #204 "[question] How to bind function to certain object?"
I would need the ability to create an object value in C++ and a number of functions, all of which need to be bound to said object, something like this:

[code]

How can I achieve this effect? Otherwise, is there an easier way to create OOP-style objects, _without the need of creating a constructor?_ i.e. I need these objects to only be able to be created from the C++ interface.

[2017-12-18 19:50] NickNaso commented on #204
I don't know if I understand but do you want export something like that from C++?
[code]

[2017-12-18 19:53] frabert commented on #204
Yes, and those functions need `this` to be bound to the object itself

[2017-12-18 20:08] NickNaso commented on #204
Ok I will try to find a solution in the mean time you can take a look at the following examples if you didn't see yet:
https://github.com/nodejs/abi-stable-node-addon-examples/tree/master/4_object_factory/node-addon-api
https://github.com/nodejs/abi-stable-node-addon-examples/tree/master/6_object_wrap/node-addon-api

[2017-12-18 20:13] frabert commented on #204
The "object factory" is what I am currently using for "plain" objects, while the object wrapper forces me to provide a constructor, that I don't want to expose.

[2017-12-18 20:37] guymguym commented on #204
@frabert Just wondering - why do you need the functions to be bound to a specific object?
If you use napi to create a function and then simply assign it to the object then calling it "through" the object will have this assigned to the object.

For example:
[code]

Then if you export `createObject` from your addon and call it from JS you will get an object looking like this:
[code]

However this is

[2017-12-18 20:40] frabert commented on #204
@guymguym This seems to be what I need! Thanks!

[2017-12-18 20:40] #204 closed

[2017-12-28 03:37] michaelfig opened #206 "Build failure with Node v6.12.1 on CentOS 7"
First, thanks for node-addon-api: it allowed me to port old code to v8.9.1.

I'm trying to backport my module to v6.12.1, and I'm getting compile errors after following the steps in the Setup guide (and having it work perfectly under Node v8.9.1).

They all seem related to async_context not existing in v6.

Your help is appreciated,
Michael.
[compile-errors.txt](https://github.com/nodejs/node-addo

[2017-12-28 03:40] michaelfig commented on #206
BTW, I used node-addon-api@1.0.0 for both compiles.

[2017-12-28 14:12] foxhound87 commented on #173
In my case using node `8.9`, "bindings": "1.3.0", "node-addon-api": "1.1.0",

I solved using this code:

[code]

then in node:

[code]

thanks for the support.

[2017-12-28 14:12] #173 closed

[2018-01-02 19:38] addaleax opened #207 "Make IsObject() allow functions?"
Hi everyone!

I’ve just received my first PR from somebody else on a N-API project 🎉 https://github.com/node-ffi-napi/weak-napi/pull/3

I’m wondering whether it makes sense to change `IsObject()` in the wrapper so that `napi_function` is also allowed, because functions are objects in the JS sense and any N-API operation that expects an object should also work on a function. What do you think?

[2018-01-02 19:50] jasongin commented on #207
I agree, it seems like a bug. `IsObject()` should be true for functions.

[2018-01-03 11:00] NickNaso commented on #206
Hi @michaelfig,
If I understood you had problem with version 1.1.0  of node-addon-api while with 1.0.0 all worked well for you.
About that I'm curios so if your addon is a public addon please post the link at your code. I want try to take a look.
Nick

[2018-01-03 18:54] mhdawson commented on #206
I can see that we define some of the functions reported as missing in:

[2018-01-03 19:09] mhdawson commented on #207
I agree as well.  IsObject() should return true for a function.

[2018-01-03 21:29] guymguym commented on #207
Hey, sounds good to me.
btw you might consider having the original IsObject meaning as IsObjectLike the same as done by lodash:
https://lodash.com/docs/4.17.4#isObject
https://lodash.com/docs/4.17.4#isObjectLike

[2018-01-04 00:20] michaelfig commented on #206
Ah, thanks!

The installation and usage guide says to reference "1.0.0" in the package.json, but when I changed it to "^1.0.0" and npm update node-addon-api, I got 1.1.0 which adds the necessary support to v6.

Node-gyp has problems with v0.10 due to c++ flags, but at least 6.x works!

[2018-01-04 01:00] NickNaso commented on #206
@mhdawson We need to change the reference in the installation and usage documentation.

[2018-01-04 18:21] michaelfig commented on #206
I've tested it successfully for node v4.8.7 as well.

Thanks.

[2018-01-04 21:28] ptgolden commented on #75
If JavaScript types can only be accessed in the `OnOK` callback, that means that `AsyncWorker` cannot handle progressively calling a JS function, correct? For example, calling an `onData` callback each time a new piece of information is available.

(I'm trying to write an addon that produces (or interfaces with) a Node readable stream).

[2018-01-05 17:44] mhdawson commented on #206
Sounds like we can close this.  If not please let me know and I'll re-open.

[2018-01-05 17:44] #206 closed

[2018-01-05 17:46] mhdawson commented on #193
We are making additions to N-API based on need, so we don't have any plans to add new functions unless we find modules that need them or there is a use case that justifies their addition.

Do you have a use case in mind where APIs to get these are necessary and/or its hard to work around ?

[2018-01-05 17:48] mhdawson commented on #191
@adambabik sorry we could not answer your questions quickly enough to get you going.  Is electron still at 8.2.1 or has it moved up to a newer Node.js version ?

[2018-01-05 17:50] mhdawson commented on #178
Have fixed up the build related issues, tests pass on 8, 9 etc. but not 10.x nightlies see https://github.com/nodejs/abi-stable-node/issues/289 for more details.  I think we can close this issue and track the remaining problem in the issue in abi-stable-node.

[2018-01-05 17:50] #178 closed

[2018-01-05 17:50] mhdawson commented on #174
@guymguym are you still planning to submit a PR to cover this ?

[2018-01-05 17:51] mhdawson commented on #170
@gancev wondering if you will be able to provide some sample files that we can use to investigate ?

[2018-01-05 17:55] mhdawson commented on #163
@romandev I know you contributed a number of tests for Object. Should I mark it as complete above ?

[2018-01-05 21:13] devsnek commented on #193
I made a "syncify" module while trying to learn v8 and node's apis. I wanted to do it with napi but I had to use raw v8 instead. more to the point is it that unlikely that at some point someone will need the state/result of a promise? when that happens they shouldn't have to wait for the next release of node.

[2018-01-07 20:39] adambabik commented on #191
@mhdawson no worries! As I said, my module was simple enough so I could write raw C++ code. As far as I know, they will continue building version 1.8.2 on node 8.2.1 :(

[2018-01-08 14:46] romandev commented on #163
@mhdawson Yep, I think we can mark it as complete :) Thank you.

[2018-01-09 19:13] anisha-rohra commented on #201
Can you point me to the module you were porting? Would like to replicate and attempt to fix the binding.gyp handling issue you ran into.

[2018-01-09 19:56] digitalinfinity commented on #201
This one: https://github.com/pierreinglebert/node-zopfli - I have it ported and I'm investigating some performance issues with the port

[2018-01-11 22:22] mhdawson opened #210 "New release Jan 11 2018"
In today's N-API meeting a new release was requested.

[2018-01-11 22:24] mhdawson commented on #210
* Validated that all test pass on master
*  CI runs to validate master against nightly 10, 9, 8, 6, 4
https://ci.nodejs.org/view/x%20-%20Abi%20stable%20module%20API/job/node-test-node-addon-api/150/
https://ci.nodejs.org/view/x%20-%20Abi%20stable%20module%20API/job/node-test-node-addon-api/151/
https://ci.nodejs.org/view/x%20-%20Abi%20stable%20module%20API/job/node-test-node-addon-api/152/
https:/

[2018-01-11 23:13] mhdawson commented on #210
Release published to npm @gabrielschulhof

[2018-01-11 23:13] #210 closed

[2018-01-14 08:30] guymguym commented on #174
I would love to but won't be able to do it in the next few weeks.

[2018-01-16 13:15] Globik opened #215 "How to publish a n-api module that based on your node-addon-api?"
I mean, can I publish that package standalone without javascript version of package/ traditional addon c++?

[2018-01-16 20:20] gabrielschulhof commented on #215
https://gist.github.com/gabrielschulhof/153edf2819362b8b50758d5ab4ff5e0e provides the skeleton for a N-API-based package which only uses plain C.

[2018-01-16 23:29] Globik commented on #215
@gabrielschulhof  thank you, this is what exactly I need in package.json:
"scripts": {
    "install": "node-gyp rebuild"
}

[2018-01-17 01:11] gabrielschulhof commented on #215
Hmmm, weird - I didn't know you *needed* to have `"install": "node-gyp rebuild"` and `"gypfile": true` in your package.json. I thought npm behaved differently depending on whether a `binding.gyp` file was present.

[2018-01-17 07:12] Globik commented on #215
I did not try yet, just a thaught how it must to be. I think by default npm builds a target if there is gyp file in the folder. Explicitly "gypfile": false brings npm to not to touch binding.gyp
And else one thing. One need to tag one's package with "n-tag" .
npm publish --tag n-api
As is in
https://nodejs.org/en/docs/guides/publishing-napi-modules/

[2018-01-17 11:52] NickNaso commented on #215
Hi @Globik you need to add the tag only if you have a pre-existent addon implemented with classic Node API or NAN and you want maintain both versions specially at beginning. So developers that use your addon can install new version implemented with N-API  as reported below:

[code]

In the mean time if you install the addon without indicating the tag **npm** will install the  previous version.

If

[2018-01-17 12:02] Globik commented on #215
@NickNaso hi, oh, thank you for your helpful info. Now I see how to be. it'sOK, just like any other module if it's a new addon. It's great. No need extra tags.

[2018-01-17 14:32] gabrielschulhof commented on #215
The `n-api` tag is also useful for existing addons. If you wish to release an experimental N-API version of your addon along with the classical V8 or Nan version, then you would use the tag. When you are ready to commit to N-API, you would publish a newer version of your addon without the tag, and that would continue the string of releases now with N-API.

[2018-01-18 14:47] mhdawson commented on #215
@Globik anything more needed in this issue or can it be closed ?

[2018-01-18 14:49] mhdawson commented on #191
@gabrielschulhof you made a change to fix compatibility with earlier 8.X versions. Would it have addressed this issue?

[2018-01-18 14:52] mhdawson commented on #111
Job is now running and greed so I think we can close this.

https://ci.nodejs.org/view/x%20-%20Abi%20stable%20module%20API/job/node-test-node-addon-api/ runs on master nightly, and as part of our release process, we run against LTS lines and current master - https://github.com/nodejs/node-addon-api/blob/master/doc/creating_a_release.md

[2018-01-18 14:52] #111 closed

[2018-01-18 14:52] mhdawson commented on #102
@digitalinfinity can you add the info you reported in a meeting a while back so that we can close this issue.

[2018-01-18 16:53] Globik commented on #215
Оne can close. The only wish: to add a link for sceleton somewhere in a readme docs or in a wiki. Thank you.

[2018-01-18 18:20] #215 closed

[2018-01-29 20:33] kevinGodell opened #219 "Cast a c++ std::vector to a Napi::Array"
Is it possible to cast a vector created in C++ to be a compatible Napi Value that can be returned to JS? I have been stumped on this. I admit that I have very little experience with C++ and I am trying to learn as much as I can. In my code, I am iterating 2 buffers of pixels and measuring differences between them. If their difference exceeds the threshold, I add the  x, y values to a struct Point

[2018-01-29 21:14] bnoordhuis commented on #219
Short answer: you can't do that.

Long answer: use typed arrays if you want efficiency.  You won't be able to use compound types like your Point class, at least not easily.  Look at `napi_create_arraybuffer()` and `napi_create_typedarray()`.

Alternative long answer: you could turn each Point instance into a JS object with x and y properties but that's going to be exceedingly slow.

[2018-01-30 19:12] computerquip-streamlabs opened #220 "Version of Node.js Required"
I'm somewhat under the impression that this module was made to work with older versions of Node.js, but I can't seem to find any prerequisite information. Is it supposed to work with just any version of node?

[2018-01-30 21:11] mhdawson commented on #220
It works with older versions of Node.js but you get a different level of support.

Currently, if you build against 8.X the binary will be able to run with 8.X, 9.X etc.

If you build with older versions, it will use the N-API API files built into the module.  This allows your module to compile/run with earlier versions but does not let the binary run with later versions which support N-API nativel

[2018-01-30 21:12] mhdawson commented on #220
I should have also mentioned that the support for older versions only goes back to the LTS lines (4.X at this point).

[2018-01-31 04:03] computerquip-streamlabs commented on #220
Thanks, that cleared it up.

[2018-01-31 04:03] #220 closed

[2018-02-01 20:03] kevinGodell commented on #219
Thanks for the clarification.

[2018-02-01 20:03] #219 closed

[2018-02-01 20:29] kevinGodell opened #221 "Have to use napiArr.Get("0") instead of napiArr.Get(0) for index 0 of Napi::Array"
I am passing several args to a N-API function. My first 2 args are numbers, the 3rd arg is a JS array. Keeping it simple for now, data passed as 3rd arg is in the form `[10,20,30,40]`
[code]
So, I must be doing something wrong. If I wanted to iterate a Napi:Array to get the values, how would I access the items starting at index 0? Would I have to convert index value to string first and access it l

[2018-02-02 00:26] kevinGodell commented on #221
Forget it. It seems that passing 0 is probably being interpreted as false. If the 0 index passed is something such as an unsigned int, then it is just fine.

[2018-02-02 00:26] #221 closed

[2018-02-03 06:55] snowdream opened #222 "fatal error: 'functional' file not found #include <functional>"
when i compile, i failed.

node-libsecurity/node_modules/node-addon-api/napi.h:5:10: fatal error: 'functional' file not found
#include <functional>
         ^~~~~~~~~~~~
1 error generated.

version：
 node-addon-api： 1.2.0
 system: macos 10.13.2
node: v9.2.1

[2018-02-03 09:54] bnoordhuis commented on #222
Make sure you have Xcode Command Line tools installed.  `<functional>` is a system header (well, a STL header.)

[2018-02-04 03:16] snowdream commented on #222
@bnoordhuis The functional is in the following dir,but i can not reference it.

"/Library/Developer/CommandLineTools/usr/include/c++/v1/"

if i add the dir into the  "include_dirs":of gyp file.
errors occur :
bogon:lib snowdream$ node-gyp rebuild
gyp info it worked if it ends with ok
gyp info using node-gyp@3.6.2
gyp info using node@9.2.1 | darwin | x64
gyp info spawn /usr/bin/python
gyp info spaw

[2018-02-04 10:16] bnoordhuis commented on #222
What does `xcode-select -p` print?

As to the build error, `napi.h` is a C++ header; use `node_api.h` in C files.

[2018-02-04 16:16] snowdream commented on #222
xcode-select -p
/Applications/Xcode.app/Contents/Developer
bogon:Developer snowdream$

[2018-02-04 16:16] #222 closed

[2018-02-04 18:03] pronebird commented on #96
Is it possible to create an instance without going through the constructor at all? Just like in JS you can swap the prototype.

[2018-02-05 22:14] mhdawson opened #223 "Add support for callback scopes"
Now that https://github.com/nodejs/node/pull/18089 has landed we should add equivalent support in node-addon-api.

[2018-02-06 20:35] romandev commented on #223
I'll take this issue.

[2018-02-07 14:27] mhdawson commented on #223
@romandev thanks !

[2018-02-08 16:47] ebickle opened #224 "Error constructor initializes _message std::string to nullptr; Visual C++ Warnings"
In napi-inl.h, the Error:Error constructors initialize _message to nullptr.

In Visual Studio C++ with Static Analysis enabled ('VCCLCompilerTool: { 'AdditionalOptions': ['/analyze'] } in bindings.gyp)) a warning is given that the nullptr could be zero and doesn't adhere to the specification of std::basic_string.

_message is std::string and not a pointer; it doesn't make sense to assign a null po

[2018-02-08 22:35] ebickle opened #225 "Improvements to data type test functions on Napi::Value"
The Napi::Value class contains a number of "Is" functions that tests whether the value is a particular data type. Coverage is spotty for a few scenarios, making certain types of data type tests more complex than they need to be.

I'd like to propose the following additions:
- `bool Napi::Value::IsTypedArrayOf<T>() const;`
- `bool Napi::Value::IsInstanceOf<T>() const;`
- `bool Napi::Value::IsExtern

[2018-02-08 22:44] mhdawson commented on #225
@ebickle are these things you have time to help work on ?

@jasongin any objections ?

[2018-02-08 23:04] jasongin commented on #225
LGTM

[2018-02-09 22:18] ebickle commented on #225
I'll give it a go.

IsExternalOf<T>() will be IsExternal(), internally n-api uses void* so there's no type information to go off of. I'll look at submitting a PR for that and IsTypedArrayOf.

IsInstanceOf<T> will be trickier. If I come up with a clean solution I'll submit it in a separate PR given it may require changes to ObjectWrap<T>

[2018-02-19 14:39] romandev commented on #223
@mhdawson,

Sorry for delayed work. I was on a vacation until last week. I'm looking into this issue now but need your confirmation.

Shouldn't we need to implement the async hooks wrapper(e.g. napi_async_init) first before implementing this feature? I found the related comments in the PR[1] but didn't find any follow-up change in C++ wrapper side. Do you have a plan to make a followup change? Oth

[2018-02-19 17:02] MichaReiser opened #229 "Substitute for Inherit"
Hy

First of all, great work! I'm migrating a Nan based native addon to node-addon-api, and so far, the code is much cleaner than before. I do no longer need to copy past fragments as I now can remember the signatures and requires far less boilerplate code.

Right now I'm migrating my LLVM Wrapper for Node.js to napi and face the issue that I don't see a way to implement a class hierarchy using `N

[2018-02-19 17:42] addaleax commented on #229
I don’t think it’s explicitly part of the API right now, not even the C one. :/ What exactly do you need from such an API? Exact 1:1 correspondence to V8’s `Inherit`?

How far do you think you could get with classical JS inheritance, that is, extending the prototype chain and calling the superclass constructor from the subclasses?

Which project are you talking about? I’d be curious to look at it

[2018-02-19 17:51] MichaReiser commented on #229
Hy Anna,

Thanks for your super fast response.

No, I do not need a 1:1 correspondence to the V8 Inherit function.
From the consumer perspective, I would like that `instanceof` operator is working as expected. E.g. `ConstantInt instanceof Value` should return `true`.

As the maintainer, I would prefer if I can use `ObjectWrap` and that I do not have to reimplement the functions of the superclass,

[2018-02-19 18:32] addaleax commented on #229
Prototype manipulation should be able to do that. :)

I think that’s not quite working yet. Making the necessary adjustments to the C++ wrapper should be pretty doable, but I think there’s at least one thing we can’t emulate: How V8 does signature checking for the invoked methods.

When invoking a subclass method, I don’t think how we could easily tell that the `this` object actually *is* an insta

[2018-02-21 17:58] MichaReiser commented on #229
How would you do that? By setting the `Prototype` property on the constructor function and call the parents constructor in the subclasses constructor? If I know how to achieve this I could try it shortly if it is working.

I see the pros and cons we are facing with adjusting the ObjectWrap class and I think paying the overhead in all other cases where inheritance isn't needed is not really an opti

[2018-03-01 23:30] mhdawson commented on #223
@romandev that is a very good point.  If you can work on adding async hooks wrapper that would be great :)

[2018-03-05 13:32] #224 closed

[2018-03-05 13:40] ebickle commented on #223
Is there any way to use callback scopes from a napi_async_work? Normally an async worker would create it's Javascript values from within the scope of the complete_callback, but there's an issue right now around error handling - there's no way to return a Javascript error from the execute_callback, just a string or manual workarounds.

[2018-03-05 14:04] rolftimmermans commented on #223
What's the story for new features like this when running precompiled libraries against older versions of Node? Would this library provide a backport for older Node.js versions or would a library depending on https://github.com/nodejs/node/pull/18089 have to target Node.js 9.6.0+ only?

[2018-03-05 14:05] mhdawson opened #230 "node-addon-api test failures on linuxOne and AIX"
After I landed this on Friday https://github.com/nodejs/node-addon-api/commit/9c4d321b57327de69e1f95bff06256174f001153.  There have been failures in the nightly runs across platforms.

I'm seeing faliures on AIX and linuxOne.  Likely and issue with endianess as they are both big endian.

https://ci.nodejs.org/job/node-test-node-addon-api/MACHINE=rhel72-s390x/207/console

[code]

@jbarz, @romandev

[2018-03-05 14:31] ebickle opened #231 "AsyncWorker structural defects and limitations"
The current design of napi::AsyncWorker has a number of defects and limitations with it's current design

## Issues
### Unsafe Self-Destructing Behavior
Managing object lifetimes across multiple threads is a challenging problem. In the case of AsyncWorker, the caller that instantiates a new AsyncWorker instance has no control over when the work will be completed. To work around this problem, the A

[2018-03-05 14:34] romandev commented on #230
I'll investigate this issue.

[2018-03-05 20:42] mhdawson commented on #223
@rolftimmermans, in general not all new features would be backported to earlier versions.  However, I am hoping that we will backport what becomes non-experimental in 10.x to 8.x (and we'll have to look at 6.x) in order to accelerate initial adoption.

The complication is that not all versions of 8.x will have the feature, is that something you can work around by requiring Node.js 8.X or higher ?

[2018-03-05 20:43] mhdawson commented on #223
@ebickle I have a todo to look at the error issue with complete_callback, but I'm going to be travelling a fair amount over the next 3 weeks so I'm not quite sure how/when I'm going to get to it.

[2018-03-05 23:33] fivdi opened #233 "Async handles and Errors"
Async handles can be used to "wakeup" the event loop and get a callback called from another thread. However, if the callback throws an error it doesn't appear to be possible to handle the error and have it displayed to the user.

An example of such an async handle can be seen [here](https://github.com/fivdi/node-addon-api-experiments/blob/master/src/addon.cc#L6). This async handle is [initialized

[2018-03-06 19:51] mhdawson commented on #223
The issue is that if/when we backport, it will go into the latest 8.X release.  So it would be available in 8.Y or later and 9.6 and later.

[2018-03-06 19:52] mhdawson commented on #233
Thanks for the test case, this will help investigate and come up with an solution.

[2018-03-06 20:06] rolftimmermans commented on #223
I see. It's probably less than ideal because a lot of distros have already shipped with Node 8. So people who can easily install a future 8.X version can probably also install 9 or 10.

[2018-03-06 20:11] rolftimmermans commented on #223
Maybe this is useful for someone, but the following code is how I implemented a C++ wrapper in my code currently:

[code]

[2018-03-06 20:13] mhdawson commented on #223
@rolftimmermans thanks.

@romandev FYI, in case you are first to get to working on adding support to the wrapper for callback scopes.

[2018-03-06 20:27] ebickle commented on #231
## Low Level Implementation - Napi::AsyncWork

To solve some of the issues listed above, a low-level class that handles the lifetime of the napi_async_work is needed. Currently AsyncWorker creating and deleting the napi_async_work, but the design of AsyncWorker causes its lifetime to be shared across multiple threads in an unsafe manner.

My proposal is to create a new `AsyncWork` class that handl

[2018-03-06 20:28] mhdawson commented on #231
@nodejs/n-api  please review and comment.

[2018-03-08 17:46] mhdawson opened #234 "Add N-API to main CiTGM runs"
We should work on adding

    bcrypt-n-api - in Lexgenda Search engine
    node-zopfli in Microsoft Edge Developer Portal
    iotivity-node@1.3.1-0 in CANPIE

There is additional real world usage through:

    ffi-napi
    weak-napi
    ref-napi

to the main GiTGM runs

@addaleax can you confirm ffi-napi, weak-napi and ref-napi are suitable to add to CiTGM

@gabrielschulhof is it feasible to add i

[2018-03-08 17:49] mcollina commented on #234
@mafintosh has ported some of his modules to n-api too.

[2018-03-08 18:22] NickNaso commented on #234
@mhdawson I think that for **bcrypt** npm install/npm test should work

[2018-03-08 23:41] mafintosh commented on #234
https://github.com/mafintosh/turbo-net

[2018-03-09 09:37] fivdi opened #235 "Error messages and MakeCallback"
Lets say we have the below addon where `RunCallbackWithCall` uses `Call` to call a callback and `RunCallbackWithMakeCallback` uses `MakeCallback` to call a callback.
[code]
If the callback passed to `runCallbackWithCall` throws an Error like this:
[code]
Then the following is displayed:
[code]
Everything looks ok here. As is to be expected "`Error: Error in callback`" is displayed.

However, If th

[2018-03-13 20:33] fivdi opened #237 "Is node-addon-api@1.2.0 leaking memory?"
If the following addon:

my-object.h
[code]
my-object.cc
[code]
addon.cc
[code]
is tested with the following JavaScript:
[code]
then the memory usage of the node process keeps increasing and increasing and the process ends up crashing after the async `open` method has been called about 18 million times.

Here's the output of the program:
[code]
The complete addon can be seen [here](https://github.

[2018-03-14 11:27] mhdawson commented on #237
My first guess is that you may just be missing some required cleanup after your async event runs or you create so many objects so quickly that they just don't get to run fast enough and you get a large backlog an eventually run out of memory due to that backlog

I'm travelling today but will to take a closer look later in the week.

[2018-03-14 11:45] mhdawson commented on #235
Can youu attach a zip with the all of the files so that I can easily run/recreate?

[2018-03-14 12:05] mhdawson commented on #235
`Error: Unknown failure` is one of the messages used within the C n-api so either we are failing to preserve the original error message in the n-api call, or a later call to n-api is made while the exception is pending.

Travelling today but will try to investigate further later this week.  If you can give me a zip I can just unzip and run to recreate that will help get me started faster.

[2018-03-14 12:29] NickNaso commented on #235
Hi everyone,
I tried to recreate the same example proposed by @fivdi  and I got the same behaviour. I post my project in the zip file hope to be helpful.
[example-make-callback.zip](https://github.com/nodejs/node-addon-api/files/1810993/example-make-callback.zip)
I don't know if this is correlated with this issue https://github.com/nodejs/node/issues/15371

[2018-03-14 19:40] mhdawson commented on #235
I investigated on the plane today:

1) the c n-api is ok and we have good test coverage which validates it works ok on that side'
2)In node-addon-api it looks like we are overwriting the exception incorrectly and it should be an easy fix.

@NickNaso thanks, I'll use your files to validate the fix.

I believe it is unrelated to nodejs/node#15371

[2018-03-14 21:19] fivdi commented on #237
This would be good. Unfortunately I can't see anything that's missing although I've looked at everything many times.

Only one instance of MyObject is created from JavaScript and it's async `open` methods is called approx. 18000000 times. This means that approx. 18000000 instances of `OpenAsyncWorker` will be created. However, each call to the async `open` method (except the first call) occurs in

[2018-03-14 22:10] mhdawson commented on #235
Seems to be a bit more subtle than I thought, investigating further.

[2018-03-15 02:09] mhdawson commented on #235
Ok so there was a combination of factors here:

1) a bug in napi_make_callback.  The issue is that it was not checking to see if there was an exception pending after the callback, doing another call which set an error code so we ending up with the original pending exception but an error code other than napi_pending_error.
2) The existing unit test for napi_make_callback did not catch the problem b

[2018-03-15 02:22] mhdawson commented on #235
I'll have to take another look at https://github.com/nodejs/node/issues/15371 as well since I'm not sure its unrelated after all.

[2018-03-16 23:06] #235 closed

[2018-03-16 23:16] fivdi commented on #235
Nice :smile:

[2018-03-17 15:58] fluggo opened #239 "Exceptions thrown in Init don't make it to JavaScript"
I suspect the problem is with the underlying NAPI than this project, because when I trace the code, it looks like node-addon-api does everything it's supposed to do. But this is the API where I found the problem, so I'm reporting it here.

test.cpp:

[code]

binding.gyp:

[code]

index.js:

[code]

Output:

[code]

[2018-03-18 00:09] mhdawson commented on #233
Believe these are related: https://github.com/nodejs/node/issues/15371

[2018-03-18 08:05] mhdawson commented on #233
Made some progress on the plane today. Likely needs 2 PRs.  One to fix up escaping of handles when the handle is undefined and then one to add napi_throw_fatal.  Managed to to the test case to throw the expected error but still have work to validate what I have makes sense and then generate tests.

@fivdi thanks for the test case it was very helpful.

[2018-03-18 18:30] mhdawson commented on #233
This will add the function needed to get the exception to come out: https://github.com/nodejs/node/pull/19337, but there is still another fix needed for the right exception to come out in this test case.  I'll work on the PR for that.

[2018-03-18 22:46] mhdawson commented on #233
PR to address escape issue that was preventing the right exception from coming out.

https://github.com/nodejs/node/pull/19434

[2018-03-18 22:47] mhdawson commented on #233
Once the 2 PRs above land we can look at the PR to add a method in node-addon-api to be able to through an exception and validate the test case in this issue passes.

[2018-03-19 04:12] fluggo commented on #239
It looks like this may be a bug in NAPI itself. Running a modified version of [NAPI's hello world](https://github.com/nodejs/abi-stable-node-addon-examples/tree/master/1_hello_world/napi) which throws an exception after adding the `hello` method to `exports`, the exception gets reported on the `hello()` call:

[code]

Removing the call to hello causes no exception to be reported at all. Doing the

[2018-03-19 15:02] timarandras opened #240 "How to call an InstanceMethod programmatically?"
I have a C++ class wrapped in Napi::ObjectWrap<> as usual.
I need to call a wrapper member function from another wrapper member. Is this possible? How to construct the Napi::CallbackInfo object to hold a given set of parameters?

myobject.h
[code]

addon.js
[code]

Here, I want to call `setter(const Napi::CallbackInfo &info)` from `void fromJSON(const Napi::CallbackInfo &info)`.

Thank you for you

[2018-03-19 22:10] mhdawson commented on #239
Any chance you've confirmed it has the correct behaviour with a non n-api addon ?

[2018-03-20 02:41] fluggo commented on #239
Verified, it does work when not using N-API. In a pure V8-only addon:

[code]

I get:

[code]

[2018-03-20 02:44] fluggo commented on #239
Also, I did put this on the [main node tracker](nodejs/node#19437).

[2018-03-20 14:41] mhdawson commented on #239
@fluggo thanks for validating, will help narrow down where to start looking.

[2018-03-20 16:35] NickNaso opened #241 "Call function from worker thread"
Hi everyone,
I'm working on a native addon and from inside an **AsyncWorker** I need to call a function, in the specific I want call the function in the ```Execute``` method and I know that it's not possible. I want know if there's a simple way to do that and if my need is correlated with the following issue on **n-api**
https://github.com/nodejs/node/pull/17887
Thanks

[2018-03-20 18:19] gabrielschulhof commented on #241
If you want to call into JS from another thread, then you definitely need
https://github.com/nodejs/node/pull/17887.

On Tue, Mar 20, 2018 at 12:35 PM, Nicola Del Gobbo <notifications@github.com

[2018-03-20 18:47] NickNaso commented on #241
@gabrielschulhof Thank you for your quickly answer.

[2018-03-21 20:58] kfarnung commented on #240
Someone with a little more N-API experience can chime in, but I've just avoided the issue by using those methods as my interface and just using private methods to do the actual work.  The private methods can take any arguments I want/need without needing the complexities of JavaScript callbacks.

[2018-03-26 15:07] NickNaso commented on #110
Hi everyone,
today I worked at event emitter's usage with **N-API**.  The approach proposed by @jasongin work. I created some simple examples here:
**[Use emitter from a function](https://github.com/NickNaso/addon-event-emitter/tree/master/00])**
**[Extend event emitter using object wrap](https://github.com/NickNaso/addon-event-emitter/tree/master/01)**
If anyone has time and want take a look and

[2018-03-28 08:53] NickNaso opened #242 "Is it possible create Error and specify the error code?"
Hi everyone,
I'm porting a native addon from NAN.  In the specific when an error is created in it there is an error code that is passed to the error like reported below:
[code]
Is it possible create an Error and pass an error code to it?

[2018-03-29 00:59] jschlight commented on #162
The Reference `SuppressDestruct` method permits the user to set a private data member that avoids the `napi_delete_reference` call in `~Reference`. Would calling `SuppressDestruct` permit the Reference to be a global static instance?

[2018-03-29 08:45] NickNaso commented on #242
Hi I found the solution, I think:

[code]
Someone can confirm that my approach is right?

[2018-03-29 19:10] jschlight commented on #162
This issue can be closed when PR https://github.com/nodejs/node-addon-api/pull/243 lands.

[2018-04-02 07:06] yw662 opened #244 "misleading description in doc about `napi_get_typedarray_info`"
In https://nodejs.org/dist/latest-v9.x/docs/api/n-api.html#n_api_napi_typedarray_type

[out] byte_offset: The byte offset within the data buffer from which to start projecting the TypedArray.

It seems that the data is started from `&data[byte_offset]`,

but actually in `node_api.cc`,
[code]

So, the doc should clarify that the out arg `data` actually points to `&data[byte_offset]`.

[2018-04-02 21:33] mhdawson commented on #239
Believe this was fixed in https://github.com/nodejs/node/issues/19437. Please re-open if that is not the case.  @fluggo thanks for reporting.

[2018-04-02 21:33] #239 closed

[2018-04-03 00:21] mhdawson commented on #233
This along with the earlier PR (nodejs/node#19337).

https://github.com/nodejs/node-addon-api/pull/245

Will let you get the correct exception if you use:

  `` napi_fatal_exception(env, e.Value());```

Next step will be to add function to through the fatal exception with node-addon-api iteself.

[2018-04-03 02:42] mhdawson commented on #233
@fivdi I think we'll need a test case added to the node-addon-api test suite which is pretty much what you had.  Do you want to contribute a PR to add it to the test suite ?

[2018-04-03 17:56] NickNaso commented on #241
@gabrielschulhof Today I tried to call a JavaScript function from the ```Execute``` method of an ```AsyncWorker``` using ```uv_async_init``` and ```uv_async_send```.  All seems to work, but  I'm asking if the runtime is capable to well track my function call. What dou you think?

[2018-04-03 19:24] gabrielschulhof commented on #241
In the `uv_async_cb` on the loop thread you need a HandleScope followed by
a CallbackScope before you can call into JS.

[2018-04-03 20:12] fivdi commented on #233
@mhdawson I'll give it a go. When would the test be needed?

[2018-04-03 20:15] fivdi commented on #237
@mhdawson Were you able to verify whether or not there's a memory leak here?

[2018-04-04 21:15] mhdawson commented on #237
I've not had time to investigate yet.  Have a lot of things on my plate, sorry.

[2018-04-04 21:17] mhdawson commented on #233
There is no fixed time when it would be needed, but sooner than later would be better so that we have test coverage.  You can writ it using napi_fatal_exception and then can change that to the node-add-api method when its available.

[2018-04-04 22:10] NickNaso commented on #110
Ok in this week I will work to complete another two examples about the event emitter usage after that I can add them to the repo.

[2018-04-10 00:08] mhdawson commented on #237
Some investigation using the existing asyncworker

[code]

Running under valgrind  with 5000 and 1000 interations showed:

5000
LEAK SUMMARY:
==16094==    definitely lost: 5,008 bytes in 294 blocks
==16094==    indirectly lost: 80 bytes in 1 blocks
==16094==      possibly lost: 304 bytes in 1 blocks
==16094==    still reachable: 74,395 bytes in 1,153 blocks
==16094==         suppressed: 0 bytes in

[2018-04-10 01:58] mhdawson commented on #237
Existing asyncworker test case with use of object wrap integrated:

[code]

[code]

[2018-04-10 02:01] mhdawson commented on #237
Valgrind on 10000
[code]

Valgrind on 20000
[code]

[2018-04-10 02:12] mhdawson commented on #237
Running with `node --trace-gc --max_old_space_size=128 asyncworker.js`

and watching memory with top, memory increases and then stabilizes at ~

[code]

gc activity also stabilizes at frequenc gc's freeing about 4MB each time

[code]

[2018-04-10 02:13] mhdawson commented on #237
These were done with the lastest node master and current node-addon-api repo.

[2018-04-10 02:34] mhdawson commented on #237
@fivdi can you take a look at the code I used above, I think I integrated your example properly but it does not look like there is memory leaking to me.

I see you are on a raspberry pi which might not have as much memory as I do.  Can you try with  --max_old_space_size=128 to see if  the process still gets terminated?

[2018-04-10 20:00] mhdawson commented on #233
I just committed, https://github.com/nodejs/node-addon-api/pull/245.  You should now be able to build the test case using napi_fatal_exception(env, e.Value()); and it should pass with the latest node-addon-api.

[2018-04-11 19:14] fivdi commented on #237
@mhdawson

It looks like the examples was integrated correctly into `asyncworker.cc` but it still looks like there is a memory leak to me (see below.)

Yes, it's a Raspberry Pi 3 with 1GB of RAM. I tried --max_old_space_size=128 with my example from the original post, here's the output:
[code]
`leak.js` was modified to display `count` every 1e5 iterations rather than every 1e6 iterations. As can b

[2018-04-11 19:37] fivdi commented on #237
@mhdawson I did the last test with [v10.0.0-nightly2018040653aaa55a3a](https://nodejs.org/download/nightly/v10.0.0-nightly2018040653aaa55a3a/) and `npm i fivdi/node-addon-api-leak`.

[2018-04-12 17:24] fivdi commented on #237
@mhdawson When the example you posted above is integrated into asyncworker.cc and asyncworker.js is modified to:
[code]
The output is:
[code]
After `2300000 2018-04-11T20:39:14.743Z` was logged to the console the program ran for several hours before the fatal error "JavaScript heap out of memory" occurred.

[2018-04-12 17:54] mhdawson commented on #237
How much memory does your raspberry pi have ?

[2018-04-19 18:02] #241 closed

[2018-04-19 18:02] #242 closed

[2018-04-21 01:49] NickNaso commented on #110
Hi @bennycooly did you solved the problem? May we close this issue?

[2018-04-22 17:13] #193 closed

[2018-04-23 11:43] iclosure opened #246 "v8::FunctionTemplate inherit to Napi"
Can we implement v8::FunctionTemplate::Inherit in Napi ?

[2018-04-23 12:47] gabrielschulhof commented on #246
`FunctionTemplate` is a V8-specific concept, whereas we're trying to keep N-API VM-agnostic. The behaviour of `Inherit` can be achieved with existing APIs.

[2018-04-23 12:56] NickNaso commented on #246
Hi everyone,
@gabrielschulhof you're right, but I think that this is a duplicate issue, there is a discussion about ```Inherit``` **[here https://github.com/nodejs/node-addon-api/issues/229](https://github.com/nodejs/node-addon-api/issues/229)**

[2018-04-23 13:53] gabrielschulhof commented on #229
From https://github.com/nodejs/node/issues/4179 it seems that full inheritance can be accomplished with
[code]
This can be done with existing N-API calls (untested, and ignoring return status):
[code]

[2018-04-23 14:00] iclosure commented on #229
Thank you very much!

[2018-04-23 14:07] iclosure commented on #246
Can you show me the exmaple @gabrielschulhof . Thank you

[2018-04-23 16:05] iclosure commented on #246
But the method in 'super class' is invalid. How can I fix it?

[2018-04-23 16:18] gabrielschulhof commented on #246
@iclosure can you show me the code?

[2018-04-23 16:30] iclosure commented on #246
1) Super Init:
void BaseObject::Initialize(Napi::Env env, Napi::Object exports)
{
    Napi::HandleScope scope(env);
    std::vector<PropertyDescriptor> properties = {
        InstanceAccessor("objectType", &BaseObject::GetObjectType, nullptr),
        InstanceAccessor("id", &BaseObject::GetId, &BaseObject::SetId),
        InstanceAccessor("domain", &BaseObject::GetDomain, &BaseObject::SetDomain),

[2018-04-23 16:44] iclosure commented on #246
<img width="1280" alt="screen shot 2018-04-24 at 00 44 20" src="https://user-images.githubusercontent.com/11292223/39140921-a87faab2-4758-11e8-91cc-a53a26392271.png">

[2018-04-23 20:33] gabrielschulhof commented on #246
@iclosure I created an [example](https://github.com/nodejs/abi-stable-node-addon-examples/pull/20) using plain C N-API.

[2018-04-24 11:33] kanujkumar opened #247 "Creating a JS object for already created C++ object using Node API"
With the function definition set through `napi_define_class(...., new_instance_callback, &localFn)`, `napi_new_instance(...,localFn,....)` internally uses `v8::Function::newInstance()` to create the instance of the function, which will invoke the callback function new_instance_callback. I have defined `new_instance_callback` function to always create a new C++ object (i.e. `new AnotherObject()`).

[2018-04-24 11:38] iclosure commented on #246
It is helpful for static method to inherit and object's member properties!  But the member method of super object cannot be inherited by sub-class. The examples as bellow:
    The super-class method:
    `InstanceMethod("clearData", &BaseObject::ClearData)`
    I want to call the method "clearData" of super-class on sub-class in javascript, like this:
    `var obj = new addon.MySubObject();

[2018-04-24 12:45] NickNaso commented on #247
Hi @kanujkumar,
could you take a look at these examples? Maybe they could be helpful to you **[https://github.com/nodejs/abi-stable-node-addon-examples/tree/master/7_factory_wrap](https://github.com/nodejs/abi-stable-node-addon-examples/tree/master/7_factory_wrap)**

[2018-04-24 12:50] kanujkumar commented on #247
HI @NickNaso , I did go through examples and even went through node-api code, couldn't find a reference where `v8::FunctionTemplate::InstanceTemplate()::newInstance()` is used.

[2018-04-24 14:12] gabrielschulhof commented on #246
@iclosure I have reproduced the problem. I'll try and find the reason.

[2018-04-24 14:30] gabrielschulhof commented on #246
[code]

[2018-04-24 16:41] MichaReiser commented on #229
Thanks. This helps to set up the prototype chain correctly.

The issue that remains from my point of view is that I do not know how to call the super constructor from the child class. This is needed in my case to initialize some private fields that are then accessed in the methods.

[2018-04-24 16:52] gabrielschulhof commented on #229
@MichaReiser In my [example](https://github.com/nodejs/abi-stable-node-addon-examples/pull/20/files#diff-b7270a58078df064c71048f92b3bfb6eR117) I simply call one binding from the other.

[2018-04-25 17:05] MichaReiser commented on #229
@gabrielschulhof  thanks for your example. However, I'm using the node-addon api (C++ object wrappers) and I don't believe I can call the super constructor in any way (since I cannot inherit).

[2018-04-25 17:15] gabrielschulhof commented on #229
You could have the superclass constructor call a static function to do the
actual initialization. The subclass constructor could then call the same
static function to chain up.

[2018-04-25 17:18] MichaReiser commented on #229
I believe this is not possible when the constructor initializes private fields (these are not static). Except if you store these as JavaScript values (but then you lose the benefits of using `ObjectWrap` in the first place).

[2018-04-25 17:32] gabrielschulhof commented on #229
IIRC if the static function is part of the same class then it has access to the private fields:
[code]

[2018-04-26 18:49] ikokostya opened #249 "Macro NODE_API_MODULE doesn't work with namespace in regfunc"
**Environment info**

* Node.js version: v10.0.0
* node-addon-api version: 1.2.0

**Steps to reproduce**

Wrap functions from [hello example](https://github.com/nodejs/abi-stable-node-addon-examples/blob/master/1_hello_world/node-addon-api/hello.cc) to namespace:

[code]

**Actual behavior**

Compilation error

[code]

**Expected behavior**

No errors like with `nan` version.

[2018-04-27 00:48] gabrielschulhof commented on #249
`NODE_API_MODULE` prepends the string `__napi_` to whatever function name you pass into it to create a new function that will be called when the module is loaded by Node.js.

Thus, if you pass in a function called `FooInit`, the macro will create a function named `__napi_FooInit` which ultimately results in Node.js calling `FooInit`.

OTOH, if you pass a namespaced function such as `something::Foo

[2018-04-28 20:00] bennycooly commented on #110
Yes, we can close this. I got mine to work using the object wrap!

[2018-04-28 20:00] #110 closed

[2018-04-30 13:56] #249 closed

[2018-05-03 01:07] kfarnung opened #258 "External data lifetime for Buffer and ArrayBuffer"
While writing up the documentation for `Buffer` and `ArrayBuffer` I came across some suspicious looking factory methods:

[code]

Digging through the code a bit, it appears that these methods take in a pointer to data and then create an external wrapper object with no finalizer.

Looking at the [NAN documentation for buffers](https://github.com/nodejs/nan/blob/master/doc/buffers.md) it seems like

[2018-05-03 02:23] NickNaso opened #260 "Memory Management"
Hi everyone,
in my recent porting I had the need of using ```napi_adjust_external_memory``` See: [https://nodejs.org/dist/latest/docs/api/n-api.html#n_api_memory_management](https://nodejs.org/dist/latest/docs/api/n-api.html#n_api_memory_management) . What do you think if we add this function to **node-addon-api**? if you are agree I want try to add the function with some guide.

[2018-05-03 18:11] bsrdjan opened #261 "Get current environment?"
Is there a feature (planned?) to get the current environment and create escapable scope ? I try to migrate this:

[code]
to something like this:

[code]

[2018-05-03 21:36] kfarnung commented on #258
Per discussion today investigate mimicking the NAN behavior.

[2018-05-03 22:08] mhdawson commented on #260
Agreed.  Everything in the C n_api should be usable through node-addon-api, we just have not gotten them all in.  Would be great if you add it in.

[2018-05-04 19:40] gibranparvez opened #264 "Invalid export in Init Method"
Hi,
Up until a few days ago a wrapper for a C++ function I had made a few months back was working great. Now, when I compile, I consistently get

[code]

I see suggestions from @mhdawson  about simply removing the third parameter in the Init method but it doesn't seem to change anything.

The repo was originally using Node 6.11, bindings 1.3.0, node-gyp 3.6.2, and node-addon-api 0.6.3, and after u

[2018-05-04 20:08] gabrielschulhof commented on #264
You also need to change your return value to return a Napi::Object. In the
implementation you normally return exports.

On Fri, May 4, 2018 at 3:40 PM, gibranparvez <notifications@github.com>
wrote:

[2018-05-04 21:47] NickNaso commented on #264
Hi @gibranparvez,
@gabrielschulhof is right and I just looked at your code and I made a PR [https://github.com/venicegeo/geotrans-mgrs-converter/pull/3](https://github.com/venicegeo/geotrans-mgrs-converter/pull/3)
I hope it will help you.

[2018-05-05 22:33] NicoAiko commented on #191
I get these errors on Node v8.11.1... Is there a way to fix this?

[2018-05-05 23:15] NickNaso commented on #191
@NicoAiko Could you post your code or maybe a link  to it?

[2018-05-06 08:07] NicoAiko commented on #191
Actually, I can’t, because I’m not actively working with node-addon-api.
One of my dependencies, namely discord-rpc, uses it, but I found out that it is optional and can be ignored.

The version was, however, the latest.

The errors look just like the one in the first post of this issue.

[2018-05-06 09:26] NickNaso commented on #191
Hi @NicoAiko  I taken a look at discord-rpc and this modul uses as dependencies only one module implemented through **node-addon-api** ([register-scheme](https://github.com/devsnek/node-register-scheme)), while the others are implemented with the classical V8 API or with NAN.
I tried to install the reported module and it worked. Which operating system are you using? Could you attach the error log

[2018-05-06 09:50] NicoAiko commented on #191
I use macOS High Sierra 10.13.4

And yes, register-scheme is the one. That failed for me. Unfortunately, I can’t find the exact error log.

I only have the one that is saved from npm-debug.

[code]

[2018-05-07 10:47] bsrdjan opened #265 "Check if Napi::Value is integer number?"
How to check if Napi::Value is integer number?

[v8::Value](https://v8docs.nodesource.com/node-0.8/dc/d0a/classv8_1_1_value.html) offers `IsNumber`, `IsInt32` and `IsUint32` methods and [Napi::Value](https://nodejs.github.io/node-addon-api/class_napi_1_1_value.html) has only `IsNumber`. Would it make sense to add integer checks to Napi::Value?

[2018-05-07 18:20] gabrielschulhof commented on #246
A link to that commit: https://github.com/nodejs/node/commit/08a5b442e4

[2018-05-07 21:13] mhdawson commented on #265
How important/useful is it?  We don't necessarily need everything which is in V8 to be exposed through Napi.  As an example, if other JavaScript engines don't provide it we don't want to have to be building our own implementation.  However, on the other hand if its important enough we could consider it.

[2018-05-07 21:32] mhdawson commented on #261
This example shows how you can get the Env from the info object passed to all methods:

https://github.com/nodejs/abi-stable-node-addon-examples/blob/master/2_function_arguments/node-addon-api/addon.cc

[code]

[2018-05-08 03:19] bsrdjan commented on #261
Thanks. I have one older design using Isolate::GetCurrent(), without using info object. Passing the info object should not be a lot of redesign effort.

[2018-05-08 03:19] #261 closed

[2018-05-08 04:30] bsrdjan commented on #265
I am experimenting with [node-rfc](https://github.com/SAP/node-rfc) migration to Napi and my use-case is type check of JavaScript integer value, before passing to native C/C++ library:

https://github.com/SAP/node-rfc/blob/master/src/rfcio.cc#L208

The native lib cannot check if supplied value is really integer and if the float for example is sent instead, the decimals are silently ignored.

Catch

[2018-05-08 13:31] mhdawson opened #266 "Creating new release - May 8 2018"
As an FYI - plan to create new release after landing PR 263 which enables the use of built in N-API for the latest version of 6.x

[2018-05-08 13:41] NickNaso commented on #266
What do you think if we start writing the [CHANGELOG](https://github.com/nodejs/node-addon-api/blob/master/CHANGELOG.md) file?
But we need to know all the improvements that are on this release.

[2018-05-08 13:59] mhdawson commented on #266
@NickNaso would that just be the list of commits since the last release or something more ?

[2018-05-08 14:17] mhdawson commented on #266
Looked at changelog for NaN and Node, will use the node changelog make utility and do something along the lines that Node.js uses.

[2018-05-08 14:26] mhdawson commented on #266
have pushed changes for new release to repo and am just testing. @NickNaso if you can take a quick look at changelog that would be great.

[2018-05-08 14:34] mhdawson commented on #266
There is a problem with one of the tests for 6.x on sunos.  Investigating.

[2018-05-08 15:10] NickNaso commented on #266
@mhdawson It's ok for me maybe I think could be good add these information a the top of changelog

## Notable changes:

### Documentation
- Added documentation for Scopes
- Added documentation for migration from NAN
- Update documentation to better explain the use of NODE_ADDON_API

### API
- Implement data manipulation methods for dataview
- Use built-in N-API on Node.js >= 6.14.2
- Value
  - Add

[2018-05-08 19:32] mhdawson commented on #266
@NickNaso updated

[2018-05-08 19:39] mhdawson commented on #266
All tests passed, created the release.  Next step is to publish to npm.

[2018-05-08 19:44] mhdawson commented on #266
published to npm, closing.

[2018-05-08 19:44] #266 closed

[2018-05-08 19:44] NickNaso commented on #266
It' works I just downloaded and used on a native add-on. Great work!

[2018-05-08 22:11] mhdawson commented on #265
@digitalinfinity does ChakraCore provide similar check methods?
@gabrielschulhof how about JerryScript?

Just looking for additional data.

[2018-05-08 22:14] mhdawson commented on #265
Also @digitalinfinity if ChakraCore does provide the check does it use some information maintained on the Value to do the check efficiently?

[2018-05-10 13:08] NickNaso commented on #260
@mhdawson  @gabrielschulhof  I'm starting on this. I want add a function on Napi namespace as reported below:

[code]

This is the same approach that I found on NAN.
I don't know if could be useful create a class called for example **MemoryManagement** and attach to it a method **AdjustExternalMemory**.
What is your thinking about that?

[2018-05-10 13:12] NickNaso commented on #191
@NicoAiko Any news? At the end you solved the problem?

[2018-05-10 15:36] jiangyang commented on #237
I found this issue when trying to pinpoint my own memory leak, which I believe is caused by the same problem. While I am fairly new with native add-on things, I'd like to add one observation hoping it is helpful.

The same symptom can be observed on both my application and @fivdi 's https://github.com/fivdi/node-addon-api-leak repo. So I am using node-addon-api-leak as the example. By running `nod

[2018-05-10 16:32] gabrielschulhof commented on #237
I ran node-addon-api-leak on my laptop, and it seems to top off at 7.8% memory usage, and it stops printing after 26000000. It continues running at 100%.

[2018-05-10 16:33] gabrielschulhof commented on #237
While it prints, the CPU usage is stead, but after it stops printing it seems to spike and abate.

[2018-05-10 17:10] digitalinfinity commented on #265
ChakraCore doesn't today AFAIK- JSRT has generally aligned with the ECMAScript spec. I imagine we could implement the API but we've generally avoided adding APIs that are easily implementable by the embedder. We could implement this in N-API without implementing a new ChakraCore API but the ChakraCore API would be more efficient since we do support natively tagged integers/numbers.

cc @MSLaguana

[2018-05-11 03:26] mhdawson commented on #237
I believe I know what is leaking with the latest, still not sure why but this what I think is related:
in napi-inl.h the method:
[code]
calls
[code]

The value of nullptr for the resource results in the napi_create_async_work allocating an emtpy Object to act as the resource.

Thinking that might be the problem I modified the code to allocate a resource once and pass that in with:

[code]

With th

[2018-05-11 04:46] mhdawson commented on #237
This seems to resolve the problem: https://github.com/nodejs/node/pull/20668

I can run the test case and when I take heapdumps with the chrome dev tools I no longer see growth in the heap and the resident set size stays reasonable.

[2018-05-11 17:44] gabrielschulhof commented on #237
@mhdawson and I backed the JS part of the node-addon-api-leak [test](https://github.com/fivdi/node-addon-api-leak/blob/master/test/leak.js) with the following native code, lacking an AsyncResource, and it did not leak:

[code]

[2018-05-12 03:32] jiangyang commented on #237
Thanks @mhdawson for the quick turnaround!

[2018-05-14 15:32] mhdawson commented on #260
It is an interesting question as we don't have any other Utility classes, and adding the method to any of the existing classes does not make sense to me.

At this point your suggestion seems like the best idea to me.

[2018-05-14 16:34] #237 closed

[2018-05-14 17:08] NickNaso commented on #260
@mhdawson Thanks for your opinion later I will provide to add it with corresponding tests and documentation.

[2018-05-14 17:09] jpkolbush opened #269 "N-api builds not cross runtime with Electron on windows"
* **Node Version**: 8.9.4
* **Platform**: Windows
* **Compiler**: MSVC 15

I was led to believe that the new n-api was not only going to be compatible across all node runtimes, but also going to be compatible when building a native module for node vs building for electron.
If you build the basic hello-world example for n-api found [here](https://nodejs.org/api/addons.html#addons_n_api), the `addon

[2018-05-14 21:29] mhdawson commented on #269
There have been some discussions with the electron team but there are additional factors that mean this likely require the electron team to do work as well.

The main issue I believe is that electron uses different versions of V8 than what may have been used with Node.js (if I remember correctly to match the version of chrome used), and therefore the implementation of the N-API methods that are ex

[2018-05-15 00:51] jpkolbush commented on #269
It seems like to me that its related to the node.lib file that gets linked into the build on windows. If you build a module for electron 2.0.0 runtime the build gets linked to this library: https://atom.io/download/atom-shell/v2.0.0/x64/node.lib

However the version of node.lib that gets linked in for node builds is https://nodejs.org/dist/v8.9.3/win-x64/node.lib. Even though electron 2.0.0 is bac

[2018-05-15 09:15] bsrdjan opened #271 "Callback exception catch and rethrow"
How to catch and rethrow callback exceptions, replacing following Nan block with Napi?

[code]

[2018-05-15 10:53] NickNaso commented on #271
Hi @bsrdjan,
you could take a look at this example from the test case.
https://github.com/nodejs/node-addon-api/blob/master/test/error.cc#L34
We are working on **error handling** documentation. I hope that it will be available very soon.

[2018-05-15 15:06] addaleax commented on #207
This has been fixed a while ago, the PR author just didn’t add a `Fixes:` tag. Closing! :)

[2018-05-15 15:06] #207 closed

[2018-05-15 15:27] mhdawson commented on #244
Thanks for catching this.  PR to fix https://github.com/nodejs/node/pull/20747.

.

[2018-05-15 17:57] paulcbetts commented on #269
https://blogs.msdn.microsoft.com/junfeng/2006/11/20/debugging-loadlibrary-failures will help you figure out the root cause here - the short version is:

1. Enable Loader snaps for electron.exe
2. Run electron.exe under WinDbg
3. Try to load that Napi module
4. See the debug output

[2018-05-15 18:05] jpkolbush commented on #269
@paulcbetts
I assume you mean running node.exe under WinDbg since thats the process I'm trying to load the module with. It was just compiled against the headers (and node.lib) provided from electron.

[2018-05-17 21:31] bsrdjan commented on #271
Hi @NickNaso,

thank you very much for examples. I checked also issues N-API #235 and  nodejs [#15371](https://github.com/nodejs/node/issues/15371) and tried following:

[code]

[code]
The test output is not as expected, the exception is rethrown from AsyncWorker but not get cought in JS. Instead of exception, I would expect seeing `Caught n-api` in log:

[code]

Any ideas what could be wrong here

[2018-05-18 20:05] bsrdjan commented on #271
after some more analysis, found the behaviour is standard for JavaScript, no issued with addon.

[2018-05-18 20:05] #271 closed

[2018-05-19 19:00] Globik commented on #110
@NickNaso  emit event from cpp is good but  what about from c?

[2018-05-22 20:27] NickNaso opened #274 "Version Management"
Hi everyone, I want add version management functions that are available on the N-API:
- `napi_get_node_version` [https://nodejs.org/dist/latest/docs/api/n-api.html#n_api_napi_get_node_version](https://nodejs.org/dist/latest-v10.x/docs/api/n-api.html#n_api_napi_get_node_version)
- `napi_get_version` [https://nodejs.org/dist/latest/docs/api/n-api.html#n_api_napi_get_version](https://nodejs.org/dist/

[2018-05-23 04:24] eanders-ms opened #275 "Is it possible to instantiate a global object?"
I'm sure this is a noob question, but I cannot find a way to instantiate a native global object that is then exported from my addon. Is this possible to do?

JavaScript side:

[code]

Where `app` is an instance of a native class:

[code]

Then in my binding.cc file, keep a static instance:
[code]

How would I instantiate a global object? I think I need a CallbackInfo to put it in. Maybe I shouldn'

[2018-05-23 08:46] NickNaso commented on #274
Hi @devsnek you're right it's too simple use **NODE_VERSION** and **NAPI_VERSION**,  to access to these constant a developer needs only to import `node.h`. My thinking is to avoid as much as possible to import anything other than `napi.h`.

[2018-05-23 14:14] NickNaso commented on #275
@eanders-MS Maybe the following examples could be useful to you
https://github.com/nodejs/abi-stable-node-addon-examples/tree/master/7_factory_wrap/node-addon-api
https://github.com/nodejs/abi-stable-node-addon-examples/tree/master/8_passing_wrapped/node-addon-api

[2018-05-23 17:46] eanders-MS commented on #275
Thanks @NickNaso. My App class needs to be a native object because it does some backend things, and I want to expose it as a global singleton to Node. It seems like I want to do something like:

[code]

[2018-05-23 18:49] bnoordhuis commented on #275
Use an index.js wrapper and do `global.MyClass = require('my_addon').MyClass`.

[2018-05-23 21:22] #275 closed, assigned to nobody

[2018-05-25 21:34] mhdawson commented on #274
I agree that we want to avoid the need to import node.h as that makes it easy to take a dependency without palnning to.

[2018-05-25 21:41] NickNaso commented on #274
Ok so in the next days I will try to add this feature.

[2018-05-28 17:41] #244 closed

[2018-05-29 09:48] tyzamTsing opened #276 "throw Napi::Error where using blocks"
when I using objectc blocks,napi will throw error:“Invalid argument”,
sample code:`
void RunCallback(const Napi::CallbackInfo& info) {
	Napi::Env env = info.Env();
	Napi::Function cb = info[0].As<Napi::Function>();
    dispatch_async(dispatch_get_global_queue(DISPATCH_QUEUE_PRIORITY_DEFAULT, 0), ^{
        [NSThread sleepForTimeInterval:5.0f];
        dispatch_async(dispatch_get_main_queue(), ^{

[2018-05-29 17:49] NickNaso commented on #276
Hi @tyzamTsing,
from the code I understood that you are trying to create asynchronous function. Is it right? And you want print a string after some delay. In this case you need to use an **AsyncWorker** like reported below:

[code]
[code]
I hope that this example could be helpful to you.

[2018-05-30 08:54] tyzamTsing commented on #276
Ok,I see.Thanks a lot.

[2018-06-06 09:29] bsrdjan commented on #265
Found related issue #57 and in my case the `IsInt32` and optionally `IsDate` would be highly appreciated.

These two missing methods are the only reason for keeping the napi branch of [my project](https://github.com/SAP/node-rfc) still experimental, beside the nan based master.

[2018-06-06 09:36] bsrdjan commented on #57
@mhdawson, according to [V8 documentation](https://v8docs.nodesource.com/node-9.3/dc/d0a/classv8_1_1_value.html), IsInt32, IsUint32 and IsDate methods are supported by V8, also other IsXXX methods.

[2018-06-06 22:09] mhdawson commented on #57
@anisha-rohra is now working on the port for node-sqlite3.  She is working on implementing the methods using what was suggested in an N-API team meeting and if its something that can be done without additional methods we may start by documenting that.

[2018-06-06 22:17] mhdawson commented on #265
@bsrdjan thanks for the update, I added a comment on #57 and will see if we can get an update from @anisha-rohra in this weeks meeting.

[2018-06-08 23:32] gabrielschulhof commented on #231
@ebickle you could simply allocate memory inside Execute(), pass it to the
Complete() callback and then create an external buffer in the Complete()
callback.

On Fri, Jun 8, 2018 at 5:23 PM, chad3814 <notifications@github.com> wrote:

[2018-06-11 00:58] DaAitch opened #279 "objectwrap: except `InstanceMethod` no descriptor function supports symbol as name"
At current we cannot define e.g. an accessor for `Symbol.toStringTag`, because we can only use symbols with `InstanceMethod`.

I'll provide a pull request for the following implementations + more/different tests:

- `StaticMethod`
- `StaticAccessor`
- `InstanceAccessor`
- `StaticValue`
- `InstanceValue`

[2018-06-11 16:57] DaAitch commented on #265
you could do
[code]
But I think this is not how we should check that. What is the difference between 1.0 and 1? Would it be a problem if internal representation of the number is 1.0, that you will not use `1`.

[2018-06-11 23:18] DaAitch commented on #240
I would also say, that the `setter` is a callback. If you need to reuse its implementation, then extract it and define like
[code]

I think the idea is not to create your own `CallbackInfo`.

[2018-06-13 20:58] Webern opened #281 "Exactly When does AsyncWorker destroy itself?"
In the following project:

https://github.com/bitflip-software/xlsx-util/tree/feature/async-worker
branch feature/async-worker
f3b31420281e5f5939ad082c6835f024c14cd728

When I run the project's test with `npm run test`, I get a segfault.

I've been chasing this down for days, and today I built Node from source (v9.8) so that I could debug.

It appears that all of the objects my code is operating o

[2018-06-13 21:31] mhdawson commented on #281
Also, do you run napi, or JS code from  Execute() ?  Our doc was not clear enough on the C side, PR to clarify is here: https://github.com/nodejs/node/pull/21217.  I'd have to double check but I expect the same will apply in the Execute() method for the async worker.

[2018-06-13 21:32] Webern commented on #281
The production Node build is 9.8.0 but I also segfault in the version of Node that I build with Xcode for debugging, which is 9.11.3.

The napi version is

[code]

The backtrace is:

[code]

[2018-06-13 21:33] Webern commented on #281
I am running plain native code and napi.h code from my Execute() function. I am not reaching into the N-API C api myself.

[2018-06-13 21:37] mhdawson commented on #281
Ok, executing napi.h code from Execute() can cause JavaScript to execute which is not ok off the main thread.  You need to limit what is in Execute() to plain native code and put anything that needs to interact with JavaScript in the OnOK() method.

[2018-06-13 21:38] mhdawson commented on #281
This is a pull request with work-in-progress documentation: https://github.com/nodejs/node-addon-api/pull/272

[2018-06-13 21:39] Webern commented on #281
OK, that's sounds like a good next attempt. It makes it hard to do my use case efficiently, but oh well.

[2018-06-13 21:46] Webern commented on #281
One more important question before I re-write. Does `OnOK` block the JavaScript event loop? That would be bad for my use case because I need to marshal a significant amount of data from the native code into JavaScript objects. Thanks again.

[2018-06-14 14:53] mhdawson commented on #240
+1 to the suggestions to avoid trying to build CallbackInfo, having extracted methods that you can use both from native and in the callbacks.  The other advantage is that it will be more performant because it avoids crossing the JavaScript/Native  barrier to create JS objects.

[2018-06-14 14:55] bsrdjan commented on #265
@DaAitch, 1.0 and 1 might work well, I didn't test. The bigger issue is when 1.234 for example is sent, decimals are silently ignored by underlying c++ binary lib and 1.234 float becomes a regular integer 1.

The gap was discovered when the frontend business app was sending 1.234, via nodejs/napi middleware to ABAP backend. App put 1.234 float into wrong JSON structure field, in which ABAP backend

[2018-06-14 15:35] Webern commented on #281
I am new to JavaScript as well as Node.js addons. This is my first attempt at a Node.js addon. I started using `v8.h` and `node.h` and can't remember how I chose to switch to `napi.h`.  I haven't use NAN so haven't tried to compare anything to NAN.

In general, if it is impossible to access the 'JavaScript' objects on a separate thread, then Node.js itself looks like a bad choice for my project si

[2018-06-14 16:28] mhdawson commented on #231
@ebickle sorry for not having gotten to this yet. Our current focus is completing the docs for the existing classes in node-addon-api and then we can engage on future improvements.

[2018-06-14 16:29] mhdawson commented on #281
@Webern thanks for the comments and input.

[2018-06-14 22:02] DaAitch commented on #265
@bsrdjan I understand. If you're brave enough this may help you (didn't test snippet) :)
[code]

[2018-06-14 22:06] mhdawson commented on #269
Any update on the discussion here?

[2018-06-14 22:08] mhdawson commented on #264
@gibranparvez had you had a chance to implement the suggestions and can we close this issue?

[2018-06-14 22:09] mhdawson commented on #229
Any update on the discussion here?

[2018-06-15 07:56] timarandras commented on #240
Thank you all for the suggestions. I have made it using an extracted function.

[2018-06-15 07:56] #240 closed

[2018-06-15 15:11] #264 closed

[2018-06-17 17:32] webern opened #282 "Clarify Project Organization"
I spend a lot of time trying to find things when working with the `napi.h` API.

Finding things is quite confusing because there is a website with (outdated?) Doxygen documentation [here](https://nodejs.github.io/node-addon-api/napi_8h_source.html) `https://nodejs.github.io/node-addon-api/napi_8h_source.html`.

The main, up-to-date sourcecode seems to be [here](https://github.com/nodejs/node-addon

[2018-06-18 13:10] bsrdjan commented on #265
thanks @DaAitch for the hint. I could not make it work, receiving 'Invalid argument' error but suppose the solution this way is possible. Looking for stable, simple and fast N-API interface for this check, I wait for the #57 outcome.

[2018-06-18 13:52] Flackus opened #283 ""Hello world" example not building on node 8.4.0"
May be a known issue but still surprising.
Builds perfectly on node `8.6.0`, but fails on `8.4.0`. `node-addon-api` version `1.2.0`.
Seems reasonable because `8.4.0` lacks support of [napi_deferred](https://nodejs.org/dist/v8.6.0/docs/api/n-api.html#n_api_promises).

gypgile:
[code]

hello.cc:
[code]

[code]

[2018-06-18 14:47] rivertam commented on #282
I concur. I've been trying to build a binding for functionality that needs to be in C++. The main node docs start by using V8 directly, which I learned is a bad idea for multiple reasons. Then the N-API uses node_api.h which appears to be entirely a C API, but I'm running into all kinds of issues ("cannot create a handle without a HandleScope" woes), and now I'm learning everyone (for some definit

[2018-06-18 18:37] NickNaso commented on #282
Hi everyone,
thanks for your feedbacks they are very important for us. In this period we are working on documentation and we hope to complete it very soon and then improve it.

[2018-06-18 18:40] Webern commented on #283
I think you need this:

[code]

[2018-06-18 18:47] mhdawson commented on #283
I'm wondering what the question is, as from this it sounds like its what you expected:

[code]

[2018-06-18 18:51] mhdawson commented on #282
We do agree that documentation needs to be improved and as NickNaso mention we are working on that. If you have some specific wording that you think would improve things and where that wording would go to best clarify things please suggest it either here or through a PR.

I do have in mind that we should merge the abi-stable-node-node-addon-examples back into node-addon-examples, we've just not ha

[2018-06-18 18:53] mhdawson commented on #57
@anisha-rohra can you show the code that you are using for isDate?

[2018-06-18 19:03] rivertam commented on #282
For my needs, I'm confused about the relationship between N-API and... N-API. I don't know exactly how to improve the documentation because I don't actually know the answer to the question. :stuck_out_tongue:

There's <napi.h> and there's <node_api.h> and it's been simply unclear to me what the relationship is. It looks like the former is "node-addon-api" which is also known as "N-API" whereas the

[2018-06-18 19:18] rivertam commented on #231
Just to clarify, is using Promises with an AsyncWorker valid? I'm not sure exactly how to do this. It's okay to me if I have to resolve the Promise in the callback, but I'd rather not have to write a JS wrapper outside of C++ to wrap the value in a Promise.

Here's what I'm trying right now:

[code]

It is very much unclear to me if I'm going with the right strategy with references, Promises, and

[2018-06-18 19:42] mhdawson commented on #282
I'll think about this suggestion a bit.  Officially N-API is the C API and is the API provided by Node.js.  node-addon-api is just a convenience for those using C++ similar to nan.  I'll have to re-look to see how well covered nan is in the core documentation as a comparison.

One thing we should do is to make sure we don't refer to node-addon-api as N-API, but instead as a module supporting the u

[2018-06-18 20:59] Flackus commented on #283
@mhdawson yes, you are quite right. After a more thorough look on `n-api` I understood that backward compatibility is on the table since 8.6.0 only (if i am not mistaken).
It just wasn't obvious at first glance.
Sorry for the buzz. By the way, api looks amazing :)

[2018-06-18 20:59] #283 closed

[2018-06-18 21:07] rivertam commented on #282
I see. I think maybe the most confusing thing here is the main README of this project. "Node.js API (N-API) Package" is the main title/header and "This package contains header-only C++ wrapper classes for the ABI-stable Node.js API also known as N-API" is extremely ambiguous.

I also definitely think covering the distinction much more thoroughly in the [main node docs](https://nodejs.org/api/addon

[2018-06-19 00:57] chad3814 commented on #231
@mhdawson so I ended up dropping n-api/node-addon-api and just doing everything in straight v8/node. This is unfortunate. I'd like to be able to use Napi::AsyncWorker like this gist: https://gist.github.com/chad3814/50d75d4f13054dc47de8c897f303580e

[2018-06-19 14:44] mhdawson commented on #231
@chad3814 I'm not sure I understand why you could not have had the content of WorkAsyncComplete() in OnOK, and the content of WorkAsync in Execute() ?

[2018-06-19 20:10] mhdawson commented on #282
@rivertam once we have completed the docs here , I was going to consider if we might integrate more closely with the core documentation in some way.  Do want to get them into a more complete state first.

I'll take a look at improving the readme for this project as a first step.

[2018-06-19 20:37] mhdawson commented on #282
Here is a PR that tries to clarify the positioning https://github.com/nodejs/node-addon-api/pull/288

@rivertam @Webern can you two take a look and see if it helps?

[2018-06-19 22:16] chad3814 commented on #231
Thanks @mhdawson, I'm not entirely sure how to do the `emit()` using node-addon-api. How do I get an `Env`, etc..

[2018-06-20 17:19] rivertam opened #289 "How to convert a Napi::ObjectWrap to a Napi::Value?"
I'm sorry if this is somewhere in the documentation, but I can't figure it out. Preferably, I'd like to be able to make it a reference in JavaScript. That is, something along the lines of the following:

[code]

in Napi this would look vaguely along the following lines:

[code]

Is this possible? Thanks!

[2018-06-20 17:34] devsnek commented on #289
i think something like this should work, but there might be some errors somewhere in there. the overall structure should be correct and give you an idea.

[code]

[2018-06-20 17:39] rivertam commented on #289
@devsnek Thank you! I wish there were a way to get it from the instance, but I'm not sure that's even possible.

[2018-06-20 17:39] #289 closed

[2018-06-20 17:45] devsnek commented on #289
@rivertam Napi::ObjectWrap extends Napi::Reference so you should be able to do `this->Value()`

[2018-06-21 04:13] anisha-rohra commented on #57
A version of IsDate can be done as follows:

Napi::Function date_func = source.Env().Global().Get("Date").As<Function>();
If (source.As<Object>().InstanceOf(date_func)) {
    // source is a Date
}

I've tested that this also works for IsRegExp, so theoretically it should apply to other JS Objects.

@bsrdjan I hope that this helps - let me know if I can be of further assistance.

[2018-06-21 13:02] bsrdjan commented on #57
Thank you very much @anisha-rohra. I confirm the check works for the Date:

[code]

Once the check is done, which kind of conversion to one of [sqlite3 date formats](https://www.sqlite.org/datatype3.html) would you consider for sqlite3:

* **TEXT** as ISO8601 strings ("YYYY-MM-DD HH:MM:SS.SSS").
* **REAL** as Julian day numbers, the number of days since noon in Greenwich on November 24, 4714 B.C.

[2018-06-21 18:48] rivertam commented on #231
I'm running into a memory leak due to this complication (though the underlying issue is probably my lack of understanding of object lifecycle in V8 as well as some other stuff).

I'm trying to do a loop similar to `setInterval` in C++. I believe the proper way to do this is:

[code]

Now, this is actually working properly in terms of looping and such. :tada:

However, while the Worker gets destroy

[2018-06-21 20:58] mhdawson commented on #57
It sounds like there is a reasonable solution for the methods other than isInt32().  What would be interesting is to look to see if v8 implementation has something which optimizes the check or we can apply the same check in native code.  @anisha-rohra could you take a look at then and comment.  If you have any questions on what to check just let me know.

[2018-06-21 21:14] mhdawson commented on #282
Landed #288, @rivertam, @Webern what would be the next most helpful thing to try to address?