[2018-06-21 21:56] mhdawson commented on #231
@rivertam does it actually run out of memory, or does the heap just grow to that size and then keep running staying consistently at that value?

Trying to understand if there is a leak (in which case the heap should keep growing) or just that the heap grows to a larger than expected size.

[2018-06-22 05:04] rivertam commented on #231
@mhdawson Not sure what you mean. There was 100% a leak. Any more than one instance of that callback existing at a time (pending garbage collection) is a leak in my mind. In my case, once the `Worker` is destroyed, the callback should have been marked as safe to GC. We were looking at nearly a million instances of the function after about 50 seconds despite no two `Worker`s ever existing at the sa

[2018-06-22 05:07] rivertam commented on #282
IMO getting the API docs up to snuff with what's offered for N-API should be the next priority as once that occurs there will be no need to ever reference the N-API docs.

[2018-06-22 05:15] Webern commented on #282
I would put the usage examples into this repo instead of `abi-stable-node-addon-examples`.
More usage examples would be very helpful. One thing that I spent about 40 hours trying to do before giving up, was trying to hang on to a JavaScript function object during the lifetime of an AsyncWorker.

I discovered with your help pointing me to an open pull request, that you cannot touch the JavaScript o

[2018-06-25 18:51] betomoretti commented on #282
@Webern I gave a talk related to performance improvements using addons and I fought with the same thing. Here's the repo with the code https://github.com/betomoretti/async-addon. Check the workerr files and maybe it will help you :)

[2018-06-25 22:33] mhdawson commented on #282
@rivertam @Webern  thanks for the comments.  I think it confirms our current priority on Docs make sense.  Once we get the first complete pass we can then go back to see what we can do to add more info on Scopes and Async usage.

[2018-06-25 22:35] mhdawson commented on #231
@rivertam  Ok, that answers my question as to whether you actually ran out of memory or just had a large heap. Which version of Node.js were you using and is the code that showed the problem somewhere we can easily install/run?

[2018-06-26 00:31] rivertam commented on #231
node version: 10.2.1

It's not and I don't have the time to make a minimal repro repo, unfortunately, but the relevant code was most certainly the first code in my most recent comment. If you feel as though you absolutely need a minimal repo to reproduce, remind me some time next week and I'll try to make it, but I think it's very clear what I was doing based on the first code sample.

[2018-06-26 10:37] bsrdjan opened #291 "Supported platforms ?"
Documenting nodejs addon for SAP NW RFC SDK, I try to find out platforms on which node-addon-api and N-API are supported, to cross-check with [SAP NW RFC SDK supported platforms](https://launchpad.support.sap.com/#/notes/2573790). Is such list available or could it be compiled and published?

Regarding nodejs supported platforms, is https://nodejs.org/en/download/ the right place to look for this

[2018-06-26 18:32] mhdawson commented on #291
I think this page best covers the supported platforms for Node.js itself which covers N-API.

https://github.com/nodejs/node/blob/master/BUILDING.md

The goal for node-addon-api is to support for the same platforms as Node.js does.

Note that if you want to build a single binary for linux (or other OS's) that will support different versions of linux you will need to take care to build on the lowes

[2018-06-28 11:20] bsrdjan commented on #291
Thanks, exactly what I was looking for.

Regarding platforms, I have two follow up questions.

For the time being I am still building three N-API binaries on Windows and three on Linux, for nodejs versions 6.14.3, 8.11.3 and 10.5.0 (ABI 48, 57 and 64). All tests show that each binary works with each node version and I could use one single binary per platform/arch.

1) Does it matter which nodejs v

[2018-06-29 14:58] mhdawson commented on #291
1. You should use the earliest Node.js.  The contract is forward compatibility not backwards.

2. We do build a single Node.js binary which runs across the supported Node.js linux versions (which runs on Redhat, Ubuntu, etc. provided they meet the correct dependencies).  When you say one single binary for Linux (assuming a single architecture like x86) is not enough what specific problems are you

[2018-06-30 05:18] calidion opened #293 "Buffer not operational"
I returned a buffer to js:

[code]

it has `length` property. But cannot be copyed or access by [] operator.

each operation can cause a segmentation fault:
[code]

[2018-06-30 07:44] calidion commented on #293
closed due to this problem is caused by memory allocation.

[2018-06-30 07:44] #293 closed

[2018-07-02 19:38] springmeyer commented on #57
👋 node-sqlite3 maintainer here. I'd like to try supporting N-API, and so I'm waiting on this support. Do you anticipate progress soon? If anyone wants to try fixing the type checks that are needed feel free to fork https://github.com/mapbox/node-sqlite3/pull/1008.

[2018-07-02 19:48] devsnek commented on #57
@speingmeyer just to clarify, the hesitation here comes from the fact that not all js engines support things like "is date" because the spec for js doesn't specify a production to perform that check. I think you would be best off for the time-being using instanceof checks. number type checks can be done easily with simple comparisons so napi doesn't need to implement that.

[2018-07-04 13:59] mhdawson commented on #57
Confirming what @devsnek mentioned and to provide some additional info:

@springmeyer @anisha-rohra was already working on those issues in our existing port here:https://github.com/mhdawson/node-sqlite3

and this PR was to provide a solution to 2 of the checks (still needs a bit of clean up) https://github.com/mhdawson/node-sqlite3/pull/3

As for the last one (int32 check) we had looked at the V8

[2018-07-05 18:18] gabrielschulhof commented on #231
@rivertam I'm fairly certain that V8 never garbage-collects JavaScript functions which run native code. Thus, there will always be a leak if you create such functions in a loop.

I can think of two solutions:
1. Make the callback to `Worker` options
2. Create the function that gets passed to `Worker` in JavaScript

[2018-07-05 21:22] mhdawson commented on #231
I'll take the action to add some additional documentation to the N-API/node-addon-api docs to highlight that those functions won't be collected.

[2018-07-05 21:23] mhdawson commented on #231
@hashseed can you confirm that V8 does not garbage collect JavaScript functions which run native code?

[2018-07-06 02:04] gabrielschulhof commented on #231
@rivertam https://gist.github.com/gabrielschulhof/43abe2c9686a1c0b19fcf4784fa796ae has an example that illustrates the lack of GC-ing, even without N-API.

[2018-07-06 04:55] hashseed commented on #231
Instances created from function templates are cached in an instantiation cache. The assumption is that we have a fixed number of bindings, so this will not cause a leak.

I think what you want to do is to use `v8::Function::New`. Function bindings created this way do not get cached in the instantiation cache.

[2018-07-06 08:35] NickNaso commented on #260
I close the issue because the PR with the feature was landed.

[2018-07-06 08:35] #260 closed

[2018-07-06 13:17] gabrielschulhof commented on #231
`v8::Function::New` is indeed the way to go.

[2018-07-06 15:28] gabrielschulhof commented on #231
This also means that we need to make N-API use `v8::Function::New` whenever it dynamically creates a function.

[2018-07-06 15:44] gabrielschulhof commented on #231
@mhdawson I just submitted https://github.com/nodejs/node/pull/21688 which switches N-API to using `v8::Function::New()`, and thus, to properly gc-ing functions, in all cases except `napi_define_class()`, because there we need to use signatures to ensure that the prototype methods are called with the proper context which, in turn, requires that we use a function template.

Once that lands, we'll h

[2018-07-06 16:59] rivertam commented on #231
@gabrielschulhof Thanks for the advice. The static version that I'm working with right now seems like the optimal thing in all cases, though less ergonomic.

It would be nice if N-API could expose something along the lines of `setInterval` and `setTimeout` so you wouldn't have to manage this yourself. I was a little surprised I had to do a custom recursion. I ended up writing probably 50+ lines ju

[2018-07-07 16:37] MichaReiser commented on #229
I haven't tried the proposed solutions yet. However, from my understanding all proposed solutoins work with napi directly and make no use of the ObjectWrap class from node-addons. Therefore, I need to write my code using the c napi API and thereby loos all the advanteges of node-addons.

I would prefer a solution for implementing inheritance with a ObjectWrap based API over using the c-napi api di

[2018-07-07 23:31] springmeyer commented on #57
Thank you for clarifying. That makes sense. I'm only coming from the node.js side of things and have never used another JS engine so that context was not obvious to me and I appreciate the clarification. That said, I don't have time to code or test these changes myself, so I would ideally need a PR on top of https://github.com/mapbox/node-sqlite3/pull/1008 (or a freshly created one against master

[2018-07-08 17:17] MichaReiser commented on #229
I tried to follow the instructions from @gabrielschulhof but I still believe that the proposed solution does not work with ObjectWrap and, therefore, no real substitution for the functionality of  v8:Inherit and nan::ObjectWrap exist.

I still try to migrate some llvm bindings for node from nan to napi and node-addons-api. I struggle to migrate the [PointerType](http://llvm.org/doxygen/classllvm_1

[2018-07-09 19:14] gabrielschulhof commented on #229
@MichaReiser

How do you mean "fail"?

[2018-07-09 19:47] MichaReiser commented on #229
The call throws a type error. E.g. when invoking toString on a PointerType

[code]

Which makes sense since the `TypeWrapper` has a private field `type` which `PointerTypeWrapper` does not initialize.

[2018-07-09 20:40] mhdawson commented on #57
@springmeyer correct, the end goal of the work @anisha-rohra is currently doing is a PR to @sqlite3 (either a new one or one on top of what you have already)

[2018-07-09 20:41] mhdawson commented on #57
And I'm hoping we should have that within a week or so.

[2018-07-09 20:44] mhdawson commented on #231
@gabrielschulhof I'm pretty sure but just to be 100% sure,  nodejs/node#21688  just makes things better (in terms of memory use) and we only need to backport to get getter memory use in the older version as well right?

[2018-07-09 20:45] mhdawson commented on #231
@gabrielschulhof did you also check if we need changes in node-addon-api to ensure that Functions are collected when possible when using node-addon-api?

[2018-07-09 21:29] mhdawson commented on #265
Still refining the implementation, but this PR shows how to do IsData and IsRegex and Is32int type checks:  https://github.com/mhdawson/node-sqlite3/pull/3

[2018-07-10 04:40] romandev opened #294 "Intent to implement: WebIDL Binding Generator"
Hi all,

I'm Jinho Bang and a contributor in this project.

Today, I'd like to suggest a new feature a.k.a WebIDL Binding Generator. If we use it, we can just generate N-API binding code automatically. I've been implementing [POC demo](https://github.com/romandev/node-addon-api) with @yjaeseok  and @nadongguri for last few weeks.

Let's look deep into WebIDL Binding Generator.

## Introduction
To

[2018-07-10 14:05] gabrielschulhof commented on #229
@MichaReiser actually, the "Illegal invocation" is thrown internally by V8. The cause is indeed the fact that `PointerTypeWrapper` is not a subclass of `TypeWrapper`, but it has nothing to do with whether you're using node-addon-api, NAN, or, indeed, plain V8. It has to do with the fact that the way Node.js defines classes (both when using `NODE_SET_PROTOTYPE_METHOD` and when using N-API's `napi_d

[2018-07-10 18:33] gabrielschulhof commented on #229
@hashseed @verwaest I made a [patch](https://gist.github.com/gabrielschulhof/2d97f082daf66c93db0578ee440bfeaa) that adds a V8 cctest to illustrate the difference in the behaviour of `GetCompatibleReceiver()`. It seems that `GetCompatibleReceiver()` only does the prototype chain iteration if the candidate receiver has a hidden prototype – which in the case of a plain `setPrototypeOf()`-based inheri

[2018-07-10 18:40] gabrielschulhof commented on #229
Returning `nullptr` if the prototype is not hidden was added in https://github.com/v8/v8/commit/9bfd7b9d17be1575401dfdb685a3b67f6b8ffe20 as part of an optimization pass.

[2018-07-11 18:09] digitalinfinity commented on #294
@romandev this is great and along the lines of how I envisioned N-API would evolve. One question- can WebIDL generate other targets too other than N-API. Also, does WebIDL support describing cases where the code is not available (for example, if you have an existing shared library, is WebIDL expressive enough to state that the implementation of the function is in that library?)

But I agree, this

[2018-07-11 20:14] mhdawson opened #296 "node-addon-api test broken on 6.x"
Seems the tests were broken on 6.x when I landed https://github.com/nodejs/node-addon-api/commit/4b8918b3524bb8498dbac7811faf3e3c759d2054.

It is just the test, not an ABI breakage:

[code]

[2018-07-11 20:14] mhdawson commented on #296
Working on fix.

[2018-07-11 21:36] mhdawson commented on #294
I'll add my 2 cents that I think this looks interesting as well.  More tooling on top of N-API and node-addon-api to simplify native development is a great thing.

One of the key questions will be if it should be part of node-addon-api or a module which depends on it.  The right answer might also change over time :)

[2018-07-11 21:42] #296 closed

[2018-07-13 06:52] bsrdjan commented on #291
Yes, thanks a lot.

[2018-07-13 06:52] #291 closed

[2018-07-13 07:28] bsrdjan commented on #57
Following the check logic in PR:

[code]
after positive if-statement check, I would have to cast the source again, this time as integer, for passing to SAP/ABAP binding lib:
[code]
To save that one additional cast, the check I am currently using is just a bit different.

[code]
It works with 1, 2 and 4 byte integers and stops if an integer with Number.EPSILON decimal part sent.

Would you consider

[2018-07-15 22:55] DaAitch opened #301 "Napi::Reference not copyable, but semantically could be copyable"
Hi,

I don't understand why `Napi::Reference` can't be copied, although for `Napi::Error` it is allowed, implemented as protected. From technical point of view, the C-API allows create multiple reference holders of one value. When using lambdas captures we need copyable types.

Look at the following example. A 3rd party lib allocates some memory we want to store in an `Napi::External` with a final

[2018-07-16 12:21] bsrdjan opened #302 "node 6.x support plan?"
Considering node 6.x is no longer maintained, for how long will `node-addon-api` support that release?

[2018-07-16 12:31] bsrdjan commented on #302
Thanks. It will support all node releases, in active maintenance, correct?

[2018-07-16 12:50] NickNaso commented on #302
Hi @bsrdjan,
yes it will support all node releases actively maintained. LTS (6.x and 8.x) and 10.x.

[2018-07-16 12:51] bsrdjan commented on #302
Thanks.

[2018-07-16 12:51] #302 closed

[2018-07-16 13:46] bsrdjan opened #303 "Chaining two AsyncWorker calls"
One n-api addon accepting two JavaScript parameters, A and B, should internally call two AsyncWorker methods, one after the other and return the 2nd method result by callback call.

The 1st AsyncWorker method shall be invoked with JS parameter A.

The 2nd method shall be invoked with 1st method result and JS parameter B.

I tried to pass both A and B parameters (and callback arg) to 1st AsyncWorke

[2018-07-16 14:03] gabrielschulhof commented on #303
@bsrdjan you [must not](https://github.com/nodejs/node-addon-api/blob/master/doc/async_worker.md#execute) make N-API-related calls from the `Execute()` callback, because the body of that callback runs on a thread other than the Node.js main thread, and the JavaScript engine is not thread-safe.

[2018-07-16 14:05] gabrielschulhof commented on #303
If you move the `printf()` statement from `Execute()` to `OnOK()` does it still segfault?

[2018-07-16 15:22] bsrdjan commented on #303
If moved to `OnOK`, the console output is:

[code]

[2018-07-16 18:00] danielgindi opened #304 "A way to pass a file descriptor to Node?"
As compiling a NAPI module results in a library with a separate CRT, the state containing the FD table is different.
So if I have a situation where I have a HANDLE or an FD that I want to pass to Node - I find it problematic right now.
There's no API to accept a Windows' HANDLE, and no api to duplicate an FD into Node's namespace.

Anyone knows of a way to do that?

Thank you!

[2018-07-17 05:34] danielgindi commented on #304
Basically what I'm looking for is the inverse of `uv_get_osfhandle`

[2018-07-17 08:15] bsrdjan commented on #303
Thanks @gabrielschulhof for the clarification about `Execute()`.

Any ideas how two consecutive async calls could be implemented?

[2018-07-17 10:18] romandev commented on #294
Thank you for comment.
I think we can cover the shared library case using [extended attribute](https://heycam.github.io/webidl/#dfn-extended-attribute).

For example,
[code]
I'm not sure how we can implement it right now but we can consider it enough.

In my humble opinion, this WebIDL generator feature should be implemented in `node-addon-api` repo for the following reasons:
- **Make maintenance

[2018-07-17 13:45] bsrdjan opened #306 "Support for npm@3 installation issues?"
Experiencing issues with npm install of my N-API addon, only with nodejs 6 (both Windows and Linux), I created an issue for NPM: https://npm.community/t/enotempty-directory-not-empty-rename-on-nodejs-6-only/513/2

According to response, the npm@3 ([node 6.x standard](https://nodejs.org/en/download/releases/)) is not "really supported" and according to #302 only security fixes are provided.

If the

[2018-07-17 15:31] mhdawson commented on #306
Have you tried reaching out to the maintainer for the module?  While N-API allows modules owners to support modules that can run with multiple versions of Node.js, it is still up to the module owner to declare support for different versions and avoid things that may cause problems.  Unless I'm misunderstanding in this case the problem is an interaction between one of the dependencies and a module

[2018-07-17 18:16] gabrielschulhof commented on #303
@bsrdjan I modified the example to launch another asynchronous pi computation when it's finished:
[code]

With this change, the `PiWorker` class not only passes `callback` to the parent class constructor, but also stores it locally in a `FunctionReference` created with `Napi::Persistent()`. In `OnOK()` it then retrieves the `Napi::Function` from the `Napi::FunctionReference` and passes it to anoth

[2018-07-18 06:14] bsrdjan commented on #306
Yes and the maintainer clarified [only the latest npm version is supported](https://npm.community/t/enotempty-directory-not-empty-rename-on-nodejs-6-only/513/4), was new to me.

It seems I need npm@latest added under `peerDependency` or `engine` section of my `package.json`, need to check if any difference.

It is not an N-API issue and can be closed IMHO.

[2018-07-18 06:14] #306 closed

[2018-07-18 12:59] gabrielschulhof commented on #303
@bsrdjan values of the form `Napi::Array`, `Napi::Number`, `Napi::String`, etc. can only be used inside the function which receives them. They cannot be stored, because after the function that receives them returns, they are no longer valid.

In order to store a value during the constructor so you might retrieve it during `OnOK()` you need to store it in a `Napi::FunctionReference` or a `Napi::Obj

[2018-07-18 13:34] bsrdjan commented on #303
Thanks, the lesson #2 helped :)

[2018-07-18 13:34] #303 closed

[2018-07-18 16:08] bzoz commented on #304
Duplicate of https://github.com/nodejs/node/issues/15433?

[2018-07-18 16:59] bzoz commented on #304
i.e. are you looking for `uv_open_osfhandle` to get implemented?

[2018-07-18 18:02] danielgindi commented on #304
Exactly! `uv_open_osfhandle`...

[2018-07-18 18:34] mhdawson commented on #301
@nodejs/abi-stable-node please comment.

[2018-07-18 18:38] mhdawson opened #308 "Planning to create a new release"
Any other PRs that should land first ?

The ones we discussed in the last n-api team meeting have landed.

[2018-07-18 21:36] NickNaso commented on #308
When do you think to create a new release?

[2018-07-18 22:33] mhdawson commented on #308
I was thinking to do it tomorrow, possibly with after the regular n-api team meeting.

[2018-07-18 22:44] NickNaso commented on #308
Good I will happy to help!

[2018-07-18 22:53] mhdawson commented on #308
If you want to do the release that would be great :)

We have the instructions here: https://github.com/nodejs/node-addon-api/blob/master/doc/creating_a_release.md and it would be great to have somebody other than myself having validated them.

[2018-07-19 00:07] NickNaso commented on #308
I'm excited about that. Tomorrow after the meeting I will try create the new release 1.4

[2018-07-19 15:34] mhdawson commented on #308
Sounds good, I should be around so if you have questions/need help just let me know.

[2018-07-19 18:23] mhdawson commented on #308
I forgot we were going to stay on the zoom after the meeting. I've started it again if you want to join back.

[2018-07-19 22:39] NickNaso commented on #308
The release 1.4.0 has been created and published.

[2018-07-19 22:39] #308 closed

[2018-07-20 11:55] bsrdjan opened #310 "Addon built with node 6.9.0 fails on ABI version check in node 8 and 10"
The addon built with node 6.9.0, fails to load into node 8 and 10, because of the ABI version check.

When built with with node 6.14.3, no error happens.

Steps to reproduce using [async_pi_estimate example](https://github.com/nodejs/abi-stable-node-addon-examples/tree/master/async_pi_estimate/node-addon-api) given below.

Following this [comment](https://github.com/nodejs/node-addon-api/issues/29

[2018-07-20 15:55] frankwillis42 opened #311 "Support v8::String::MakeExternal For Napi::String"
Thank you for taking the time to build and maintain the node-addon-api. ABI stability is of huge value to my team.

I am in a situation where I want to add additional metadata to Napi::String objects, similar to how I might add additional metadata to Napi::Object objects via the Get and Set API. Unfortunately and understandably so, Napi::String exposes no such API. When reviewing the underlying v8

[2018-07-20 16:48] gabrielschulhof commented on #310
@bsrdjan 6.14.2 was the first version of Node.js 6.x to ship with N-API. Thus, if you build on earlier versions, node-addon-api will create a normal addon and will link the addon statically to its own, internal copy of N-API, which it builds along with the addon.

Since it's a normal addon, it is subject to the same requirements as other normal addons – namely, that its ABI version match.

If you

[2018-07-20 17:44] kfarnung commented on #311
`JsPointerToString` is Windows-only, the cross-platform equivalents (`JsCreateString` and `JsCreateStringUtf16`) both copy the string.

[2018-07-20 17:57] gabrielschulhof commented on #311
@kfarnung is there a chance that external strings will be supported?

[2018-07-20 17:57] devsnek commented on #311
chakrashim having something isn't a very good excuse for napi supporting it (by the values of napi, chakra should be able to implement it without shimming any v8 behaviour)

there are also other engines not considered like jerryscript and spidermonkey. this doesn't seem like a wise thing to support in napi.

however i have been considering proposing an engine-specific `napi_get_engine_handle` sort

[2018-07-20 18:01] gabrielschulhof commented on #311
@devsnek JerryScript has some pretty significant challenges before N-API can be fully implemented on it - mostly ES2015(IIRC) stuff like `MAX_SAFE_INTEGER`, `Symbol`, etc.

[2018-07-20 20:08] frankwillis42 commented on #311
Can someone on the team please confirm this assumption? There is no guarantee of ABI stability between Node 8 LTS and Node 10 with respect to v8::String / v8::Value / v8::Local, thus I'd need to build a version of my extension for both 8 and 10. Is that correct?

Thank you.

[2018-07-20 20:22] gabrielschulhof commented on #311
@frankwillis42 I confirm. As soon as you go directly to V8 you lose the guarantee of ABI stability.

[2018-07-21 13:16] gabrielschulhof commented on #231
@mhdawson we definitely need changes to node-addon-api to make it possible to remove the data it associates with callbacks.

Whenever we change the function signature of the binding, we're essentially adding another layer of indirection where

1. We pass the same function with the old signature on behalf of all bindings with the new signature, and
2. We pass some heap data along which contains the

[2018-07-23 06:37] bsrdjan commented on #310
Thanks a lot for the clarification.

[2018-07-23 06:37] #310 closed

[2018-07-23 13:52] frankwillis42 commented on #311
@gabrielschulhof Thank you. Much appreciated.

[2018-07-23 17:14] jasongin commented on #301
`Napi::Reference` is equivalent to `v8::Persistent` (which may be "weak" or not). By default `v8::Persistent` is not copyable, though that restriction may be changed using a traits parameter. See `CopyablePersistentTraits` in v8.

My interpretation of the reasoning for that default behavior is that if a reference is freely copyable then it's much easier to lose track and leak the referenced value.

[2018-07-27 05:58] Croydon commented on #89
@mcollina Ping? :)

[2018-07-27 06:19] Croydon commented on #53
Ping.

[2018-07-30 19:19] mhdawson commented on #53
Fixed.

[2018-07-30 19:19] #53 closed

[2018-07-30 21:17] srirajpaul opened #312 "Support for Asynchronous Thread-safe Function Calls"
Hello, Thank you for the effort to create and maintain the C++ wrappers for N-API. The wrappers make it very much easier to create native addons.

N-API added capability for additional threads to invoke JavaScript functions based on the processing completed by those threads. Is there any timeline/plan to add wrappers for the same?

https://nodejs.org/docs/latest-v10.x/api/n-api.html#n_api_asynchro

[2018-07-30 22:27] romandev commented on #312
I'll take this issue if there is no actively working on this.

[2018-07-31 00:44] BotellaA commented on #229
Do you plan on adding this ```napi_inherits``` helper function in N-API or in this project?

[2018-07-31 15:33] gabrielschulhof commented on #229
@hashseed @verwaest in that case I would say that this is a bug, because this check prevents one from implementing prototype-based inheritance. That is, given a native-backed superclass created with signature-checked prototype methods it is not possible to create a subclass of that superclass using only prototype assignment on the JavaScript side such that superclass prototype methods can be calle

[2018-07-31 15:55] hashseed commented on #229
Its purpose is not checking prototypal inheritance though. It's purpose is to make sure the object has the expected object layout, e.g. in-object fields.

[2018-07-31 16:03] gabrielschulhof commented on #229
@hashseed I understand that, but as a result it's preventing the correct functioning of prototypal inheritance.

[2018-07-31 16:10] hashseed commented on #229
Talked to @verwaest offline.

`{__proto__:Array.prototype}` doesn't make it an array. Same goes for RegExp objects. These objects have per spec internal fields that their methods require. Just overriding the prototype doesn't magically e.g. `Array.length` work correctly. The signature check exposes this logic to the embedded.

[2018-07-31 17:35] gabrielschulhof commented on #229
@hashseed OK, I think I understand.

[code]

produces an error in the second case on both V8 and SpiderMonkey.

@nodejs/n-api I guess if we want addon authors to allow subclassing of the classes they expose (by allowing them to specify that N-API forego the signature check) we need to give them a way to create prototype methods without signatures – i.e., a new variation of `napi_define_class()` wh

[2018-07-31 21:43] verwaest commented on #229
Note that the only proper way to subclass builtins is to actually create a
subclass:

class RegExpSubclass extends RegExp { ... }

That will actually work since the resulting instance will be a RegExp with
RegExpSubclass.prototype as __proto__.

On Tue, Jul 31, 2018 at 7:35 PM gabrielschulhof <notifications@github.com>
wrote:

[2018-08-01 06:36] BotellaA opened #313 "Are STL smart pointers supported?"
I am doing some exploratory work on N-API. I did'nt see any usage of STL smart pointer in any example. Is it a limitation of the api of something deeper?

I would like to wrap code like this:
[code]

Do you have any recommandation?
Thanks a lot for your help!

[2018-08-01 08:31] NickNaso commented on #313
Hi @BotellaA ,
I think that you want use smart pointer to reference object and manipulate its lifetime. To accomplish at this you need to use `Reference` class see:  **[Reference documentation](https://github.com/nodejs/node-addon-api/blob/master/doc/reference.md)**.

In general a variable is available until the end of the execution of the function, after that it is eligible to be garbage collecte

[2018-08-01 08:53] BotellaA commented on #313
Thanks, it looks like this is what I want. I will try it.

[2018-08-01 08:53] #313 closed

[2018-08-01 15:11] jasonrsadler opened #314 "Using an object created in js with N-API"
Hello,

This is more of a question than an issue and am having trouble finding an example of what I'm trying to do.

I've been struggling with a particular scenario for a little too long and was hoping someone with more first-hand knowledge with N-API could offer some advice.

I have an object that is created in js:
[code]
and I have a native module defined in which I try to pass in the object to

[2018-08-01 17:57] NickNaso commented on #314
Hi @jasonrsadler,
if I well understood you want call the functions in the `jsObj` from native side (C++). Is it right?

[2018-08-01 18:04] jasonrsadler commented on #314
Hi @NickNaso,

I do, but with some caveats.

In short, we have a library that we statically link to that does "a bunch of other things" that require the jsObj passed in from the js side without knowing the details of jsObj. This library also uses other versions of "jsObj" that aren't from JS (i. e. Android, iOS, etc) so the idea that we're trying to see is possible is if we can make sure that the

[2018-08-01 19:41] NickNaso commented on #314
Hi @jasonrsadler ,
my idea is to store the JavaScript object in a reference see: [Object Reference](https://github.com/nodejs/node-addon-api/blob/master/doc/object_reference.md) so you can use the object later and for example you can execute some function. In the following code i report a little and simple example and you can find all the project on the attached file called **try.zip**. I hope tha

[2018-08-01 20:28] jasonrsadler commented on #314
Yes!
That helps the majority of my problem. One last part is that I need the `opts` object to be converted to a C++ class that is used as an argument for another C++ object in a statically linked library.

Here's the link to the line and code in question if you have any ideas:
https://github.com/jasonrsadler/native-ledger-node/blob/master/src/c/node-addon-api/node_ledger_wrap.cc#L53-L54

Thanks so

[2018-08-01 21:51] NickNaso commented on #314
Hi @jasonrsadler ,
the `opts` object is an instance of `NodeLedgerClientWrap` and you use it in to `NodeLedgerWrap` . What you can do to retrieve the original `ledger::LedgerClient` is:

[code]
Now you can obtain the client calling the method `Client()`

[code]
At the end you can pass the result to  `Ledger::CreateInstance()` method.

I just briefly looked at your code so my idea could be wrong.

[2018-08-01 21:59] jasonrsadler commented on #314
Hi @NickNaso
Thanks for responding.

I've tried the Unwrap several times and several different ways only to get back `napi_invalid_arg` status.
I'm wondering if something special needs to be done to 'force' N-API to see the incoming js object as an object of that type.

Thanks again for your help.

[2018-08-01 22:26] NickNaso commented on #314
Hi @jasonrsadler ,
I think that the error happen because you need to pass at `NodeLedger` an instance of `LedgerClient`  now you are simply passing a plain object.

[code]
This is the code I can see on your repo maybe you already tried this.

[2018-08-02 00:07] jasonrsadler commented on #314
Exactly. That's what I want to know. Can we pass in a plain js object and unwrap it to a C++ object?

[2018-08-02 11:47] NickNaso commented on #314
Hi @jasonrsadler,
I'm happy to listen this. Write us if you need other feedback and feel free to close the issue.

[2018-08-02 14:21] jasonrsadler commented on #314
@NickNaso pointed me in the right direction.
🎊 👍

[2018-08-02 14:21] #314 closed

[2018-08-03 17:05] jasonrsadler commented on #314
@NickNaso One more quick question regarding:
[code]
Is it possible to have a C++ function as an argument to the JS function (as a callback)? If so, what do you think is the best way to implement that?

[2018-08-03 18:17] NickNaso commented on #314
Hi @jasonrsadler ,

in your class or in some part of your code you can create a function like reported below:

[code]
and then you can create a function and pass it as callback:

[code]

This is the most simple thing the you can do. I hope that the example is good, if not keep me updated I will provide more explanation later when I will came back home.

[2018-08-08 01:40] jasonrsadler commented on #314
Again, you have pointed me in the right direction. I was able to attach the callback to the callback with the following:
[code]

Thank you again @NickNaso for all your help. I think I'm starting to get the hang of this API now.

[2018-08-14 02:39] jasonrsadler commented on #241
@NickNaso, Can you share an example of calling NAPI methods in the Execute function?

Thanks. :)

[2018-08-14 03:10] gabrielschulhof commented on #241
@jasonrsadler the only N-API methods you can call from the `Execute()` function are the ones dealing with [thread-safe functions](https://docs.nodejs.org/dist/latest-v10.x/docs/api/n-api.html#n_api_asynchronous_thread_safe_function_calls). I don't believe those are covered by node-addon-api, so you would have to use them directly.

[2018-08-16 19:50] jasonrsadler commented on #241
Thanks @gabrielschulhof. Could I bother you to show me a quick example?

[2018-08-17 06:26] Victordmdb opened #316 "Function Callback SIGPIPE Error"
Hi, I'm getting a problem which is hard to reproduce, here is the gdb output:

[code]

Would anyone have an idea why this happens? I'm unfamiliar with SIGPIPE in this context, and it's not leading to (directly at least) to any specific code on my side.

[2018-08-17 08:40] bsrdjan opened #317 "Large arrays processing"
After receiving Napi::Array from node application, I have a for loop, passing each row to external c++ library, creating another array instance there for further processing.

In one point in time there are two copies of array data, NAPI::Array and array in external library. In case of large arrays, memory bottlenecks may happen, like discussed on stackoverflow: [SAP RFC: Chunking of big data](http

[2018-08-17 15:05] Victordmdb commented on #316
You might be right, I really am not sure how to debug the issue. I posted here first since I have implemented a node-addon-api interface which uses function callbacks, so i assumed it would be related to this.

I'm also making use of https://github.com/mika-fischer/napi-thread-safe-callback, which could be a cause for the issue.

[2018-08-19 08:04] DaAitch commented on #231
@ebickle I agree in almost all cases. I'm also having problems to make a clean impl with `AsyncWorker`. Here are some comments to the "resolution" part.

Totally agree, env should be passed iif we're allowed to use it.

Many APIs have classes that needs to be heap allocated and I don't know whether it's possible to check that it lives on the heap. The provided solution would maybe just lead to `As

[2018-08-19 23:53] DaAitch commented on #231
@ebickle @mhdawson I pushed a first implementation of `Async` with tests without subclassing see: https://github.com/wildoak/node-addon-api/commit/b874cb4a4f25a704e3b06dead9c6a2c50835931d

I would expect it to work like this. What do you think?

[2018-08-20 20:29] DaAitch commented on #316
@Victordmdb as far as I can remember from a nodejs http2 debug session which really crashed because of a bug, there also were SIGPIPEs, but they did not cause it, but a SIGSEGV. Try to just go ahead with `gdb` and I think it will not crash.

[2018-08-20 20:43] DaAitch commented on #317
@bsrdjan in case that garbage collection may take place somewhere in the future you may not get rid of memory bottlenecks. I don't completely get your use case but if you not want "shrink" your array while iterating you could save an index, to know which parts not to copy.

Another point is to rethink your design. Big arrays mostly come from IO, like reading a huge file. The
better NodeJS'ish answ

[2018-08-21 09:06] bsrdjan commented on #317
My node addon is a wrapper around C/C++ library, which does not support streaming. The streaming would be the final and optimal solution, agree. Adding it requires more efforts, which are not planned for the time being and I try to optimise what is near-term possible.

The big Napi::Array comes from the nodejs to addon, in one addon method call. The addon takes the first Napi::Array element and pa

[2018-08-21 09:44] DaAitch commented on #317
@bsrdjan you could give it a try. `Napi::Array` is a `Napi::Object` and supports `Delete`
[code]

See if this helps you.

[2018-08-22 00:51] ebickle commented on #231
@DaAitch You've taken it far further than I ever could, very impressive.

- There's a potential memory leak in napi-inl.h at line 3323 and 3326 of either of those exceptions are thrown. In those cases the async_holder_wrapper_t won't be deleted.
- A bit of a nitpick, but consider having the overload at line 3292 call the full function instead of the another overload. In other words, add the Object

[2018-08-22 12:39] bsrdjan commented on #317
Thanks for the hint. Tried and did not get expected result. Here the loop:

[code]

and the output, for the input Napi::Value array of length 10:

[code]

The `Delete()` returns true and elements are definitely not deleted. Any thoughts how that could be?

[2018-08-22 16:38] DaAitch commented on #231
@ebickle thank you for motivation

Correct, thank you! Fixed.

I think there won't be an advantage changing this. It's "perfect forwarding", so with rvalues everything will boil down to "move" into `holder`

In the test, I return a `Promise` and put a member function `cancel` to it. This is a bit hacky for the tests. As long as there is no concept in JS for cancelling promises, implementers have t

[2018-08-22 18:49] DaAitch commented on #317
@bsrdjan

`true` only states that deleting works. Immutable structures would return false.

I would say it really depends on the engine. Both `pop` or `shift` are not expensive and it's not very predictable what performs better. If you want to remove many items at once e.g. 100, I think it's better to use them from back and do it like this `arr.length -= 100` (yes JS is sometimes crazy). But it's

[2018-08-22 21:26] mhdawson commented on #231
As an FYI, this will be a focus for the N-API team in the next iteration.

[2018-08-22 23:28] DaAitch commented on #301
@jasongin I agree that it would not be very clear what copying a `Reference<T>` actually means.

Because of this, I thought of the idea of a `Holder` impl provided here https://github.com/wildoak/node-addon-api/commit/90294e4f45f14512effed715cb1450053ab6e0d4 .

The idea is to take a `Napi::Value` to where you need it, e.g. as capture in lambdas.
What do you think about it?

[2018-08-23 18:48] Fishrock123 opened #319 "MakeCallback aborts poorly when a JS exception is thrown."
See https://gist.github.com/Fishrock123/a2b3aa37da332ca9dee88ed22825e03a

My `binding.gyp` has all this stuff so I **think** C++ exceptions are indeed properly enabled:

[code]

[2018-08-23 18:50] Fishrock123 opened #320 "FunctionReference is missing cargs overloads for Call and MakeCallback"
https://nodejs.github.io/node-addon-api/class_napi_1_1_function_reference.html

FunctionReference doesn't have these but Function does. Seems strange. cargs are easier for not very C++ affluent people like me to use.

[2018-08-23 19:12] marcelman commented on #110
Hi @NickNaso,

I saw your example in https://github.com/NickNaso/addon-event-emitter/blob/master/00/src/emit-from-cpp.cc and it was very useful to understand how to use event emitter (I'm pretty new to NodeJS and NAPI). However, as you mention in your comment:

// All work but it's not a good practice bacause all long running task should be
// executed out of the event loop

Assuming that my worke

[2018-08-23 21:42] NickNaso commented on #110
Hi @marcelman ,
you're right you cannot call JavaScript from the `Napi::AsyncWorker` in the specific you cannot call JavaScript from the `Execute` method.
For now this what you want to do is not directly supported by `Napi::AsyncWorker`, but you can take a  look here: [Asynchronous Thread-safe Function Calls](https://nodejs.org/dist/latest-v10.x/docs/api/n-api.html#n_api_asynchronous_thread_safe_f

[2018-08-24 19:57] NickNaso commented on #320
@gabrielschulhof  @mhdawson I think that we can add the method as proposed by @Fishrock123. In the specific we should add these in `napi.h` :
[code]
and these on `napi-inl.h`:

[code]

if you agree I can work on it and at the same time start to create tests about `FunctionReference`.

[2018-08-29 20:29] mhdawson commented on #320
Adding those make sense to me.  Makes it more consistent with the methods we have on Function.

[2018-08-29 21:11] NickNaso commented on #320
OK I will take this.

[2018-08-29 21:30] NickNaso commented on #83
Hi @langxiong,
now cmake-js supports N-API and node-addon-api. See: https://www.npmjs.com/package/cmake-js#n-api-and-node-addon-api
What do you think, should be possible close this issue?

[2018-08-29 21:37] NickNaso commented on #126
Hi @koistya,
now we documented the promise api https://github.com/nodejs/node-addon-api/blob/master/doc/promises.md
What do you think should we close this issue?

[2018-08-29 21:44] mhdawson commented on #319
Does it make any difference if you remove  ` self->cb_ref_.Unref();` after the call to MakeCallback ?

[2018-08-29 21:58] NickNaso commented on #88
Hi @mcollina,
this is a very old issue. What do you think should be possible to close it?

[2018-08-29 22:01] mhdawson commented on #319
Next question is which version of node-addon-api are you using?  This PR fixed one issue related to MakeCallback/Call on FunctionReference with respect to exceptions being thrown.

Also can't tell from the bit of code in the gist if you should be using Call for MakeCallback, many of the times Call is the right one of the 2 as explained here:  https://github.com/nodejs/node-addon-api/pull/299/files

[2018-08-30 06:44] mcollina commented on #88
This was fixed in https://github.com/nodejs/node-addon-api/pull/132.

[2018-08-30 06:44] #88 closed

[2018-08-30 22:08] NickNaso commented on #201
Hi everyone,
is this issue still valid or is it possible to close it?

[2018-08-30 22:10] NickNaso commented on #170
@gancev What do you think could be possible close the issue? I think that the problem has been solved, but we never update on this issue.

[2018-08-30 22:11] NickNaso commented on #133
Hi @anisha-rohra,
what do you think can we close this issue?

[2018-08-31 02:26] anisha-rohra commented on #201
Hi @NickNaso, as far as I know it's still pending and definitely something I'll be working on as soon as possible!

[2018-08-31 02:27] anisha-rohra commented on #133
Yes, this can be closed.

[2018-08-31 02:28] anisha-rohra commented on #133
It can be closed, yes!

[2018-08-31 02:28] #133 closed

[2018-08-31 09:04] NickNaso commented on #191
Hi everyone,
I don't know if the problem described in the issue has been solved. Could someone update about that?
Could be possible close the issue if the problem has been fixed?

[2018-09-02 00:51] fraxken opened #324 "How to handle LARGE INTEGER ?"
Hi,

I'm trying to handle a LARGE INTEGER for one of my native addon. I'm working with the following struct: https://docs.microsoft.com/en-us/windows/desktop/api/winioctl/ns-winioctl-_disk_performance

Not sure how i have to handle these with the API (since double is not valid). I have two cases in mind:

- Getting HighPart and LowPart (but i'm confused on how exactly i have to rebuilt the final r

[2018-09-02 01:00] fraxken commented on #324
Maybe QuadPart is what i need. I'm not sure :\

[2018-09-02 01:07] devsnek commented on #324
you can also use the napi_bigint type

[2018-09-02 20:07] fraxken commented on #324
Yes,

thank you I found a solution. I will take a look with napi_bigint too !

Best Regards,
Thomas

[2018-09-02 20:07] #324 closed

[2018-09-03 20:00] NickNaso commented on #162
@gabrielschulhof Is it possible to close this issue? The `Napi::Reference` documentation was landed with PR **[https://github.com/nodejs/node-addon-api/pull/243](https://github.com/nodejs/node-addon-api/pull/243)**

[2018-09-03 20:16] NickNaso commented on #225
Hi @ebickle,
how is the status of this issue? Is it valid yet or all has been addressed with the PR **[https://github.com/nodejs/node-addon-api/pull/227](https://github.com/nodejs/node-addon-api/pull/227)**?

[2018-09-03 20:26] NickNaso commented on #196
Hi @romandev,
what do you think? Could be possible close the issue?

[2018-09-04 16:06] gabrielschulhof commented on #241
@jasonrsadler https://github.com/gabrielschulhof/abi-stable-node-addon-examples/tree/tsfn_async_work/async_work_thread_safe_function/node-api provides an example with plain N-API.

[2018-09-05 19:18] gabrielschulhof opened #327 "Bring in env cleanup hooks"
We should bring in the env cleanup hooks, and mark the first version of v6.x that features the env cleanup hooks as the first version of Node.js to ship N-API.

I believe we have to do this, because that version of v6.x will be the first to truly have N-API v3.

[2018-09-06 00:55] ebickle commented on #225
@NickNaso

Not resolved yet. I ran into a few code structure/design issues:

- An implementation of IsTypedArrayOf would depend on TypedArray.TypedArrayForPrimitiveType(). Implementing the functionality would require moving the function out and into a common location - in a way, it breaks encapsulation although you could argue the "IsX" functions on Value already do that. One alternative might be

[2018-09-06 01:02] ebickle commented on #247
@NickNaso A few months back I went through the documentation and examples carefully and it wasn't obvious how to accomplish this either. It's definitely something I need for my own code - I'm wrapping a C library that performs a network operation when creating a resource. Can't use a Javascript constructor, so I have to use a Promise that returns a new (C++) object in the result.

The factory patt

[2018-09-06 02:29] gabrielschulhof commented on #247
One way I can think of is if you call `napi_new_instance()` with an extra parameter that will be checked from the constructor and, if present, causes the constructor to short-circuit.

[2018-09-06 04:33] NickNaso commented on #225
@ebickle Thanks for the update.

[2018-09-06 11:09] bsrdjan commented on #317
Thanks, can confirm it works.

[2018-09-06 11:09] #317 closed

[2018-09-06 19:30] mhdawson opened #332 "Methods without corresponding tests"
Need to document then list of methods that still need tests.

[2018-09-06 20:03] andrew-cc-chen commented on #332
| class                   | method                                                                                                                          |
|-------------------------|----------------------------------------------------------------------------------------------------------------------------------|
| Function                | Function()

[2018-09-07 08:40] NickNaso commented on #163
Hi @mhdawson I think that we need to close this issue and use the new https://github.com/nodejs/node-addon-api/issues/332

[2018-09-07 08:43] NickNaso commented on #126
I'm closing the issue because now the API to work with Promise has been added and documented.

[2018-09-07 08:43] #126 closed

[2018-09-07 08:46] NickNaso commented on #89
Hi @mcollina ,
I think that the guid you want is here [https://github.com/nodejs/node-addon-api/tree/master/tools](https://github.com/nodejs/node-addon-api/tree/master/tools). If it's good to you maybe we can close this issue.

[2018-09-07 08:49] mcollina commented on #89
Yes, that's perfect.

[2018-09-07 08:49] #89 closed

[2018-09-08 01:24] gabrielschulhof opened #333 "Fix memory-related TODOs"
`napi-inl.h` has a bunch of places where it allocates memory and leaves a `// TODO ...` comment as to freeing it.

The following lists the places where the code allocates memory and leaves a TODO, and the solution for implementing the freeing of the memory:

* [x] Creating a function
    `Use napi_wrap()` to associate the internal data with the function and provide a finalizer.
* [x] Filling out a

[2018-09-09 16:01] gabrielschulhof commented on #333
I think I'll go with a symbol-keyed and external-valued read-only-and-hidden-yet-visible-from-JS property. I'll be unable to cache the symbol value, so I will have to
* retrieve the global
* retrieve the `Symbol` property
* retrieve the `for` property
* call the retrieved function with a magic string, like `node-addon-api:method-data`
* use the resulting value as the name in `napi_define_property`

[2018-09-10 17:55] gabrielschulhof opened #334 "Link to Node.js N-API documentation regarding badges"
Once a PR fixing https://github.com/nodejs/node/issues/22796 lands, we should add a link to the relevant part of the documentation.

[2018-09-10 21:59] mhdawson commented on #163
@NickNaso I think that makes sense a as more detailed list.

[2018-09-10 21:59] #163 closed

[2018-09-11 16:45] dmooney65 opened #336 "A couple of stream related questions"
Hi,

I've written an [example Transform stream](https://github.com/dmooney65/napi-example-transformstream) implementation using this API. I basically took the [inherits_from_event_emitter](https://github.com/nodejs/abi-stable-node-addon-examples/tree/master/inherits_from_event_emitter/node-addon-api) example, did some renaming and modified it to inherit from streams.Transform instead of EventEmitt

[2018-09-11 16:59] NickNaso commented on #336
Hi @dmooney65,
I will take a look at your code after, in the mean time I'm super curios if your problem persist if you use the example at this link [https://github.com/NickNaso/addon-stream](https://github.com/NickNaso/addon-stream). It's just a passthrough stream example.

[2018-09-11 17:53] dmooney65 commented on #336
Thanks @NickNaso ,
In short - no my problem goes away!
I'll do some investigating tomorrow as both examples are very similar. Wish I'd found your example earlier, but then I wouldn't have "learned" eh?

[2018-09-11 18:56] mhdawson opened #337 "Failure on ubuntu 32 after latest lands"
First guess is that may have been caused by:https://github.com/nodejs/node-addon-api/pull/315 as I don't see changes in the napi-inl.h on line 798

https://ci.nodejs.org/view/x%20-%20Abi%20stable%20module%20API/job/node-test-node-addon-api/MACHINE=ubuntu1404-32/675/console

[code]

[2018-09-11 18:57] mhdawson commented on #337
@gabrielschulhof @mcheshkov

[2018-09-11 20:20] gabrielschulhof commented on #337
This probably stems from the fact that an old version of gcc builds
node-addon-api on that machine. Still, if its a version of gcc supported by
Node.js, we need to accommodate it.

On Tue, Sep 11, 2018 at 2:57 PM, Michael Dawson <notifications@github.com>
wrote:

[2018-09-11 20:29] gabrielschulhof commented on #337
@mhdawson I was able to build successfully on Ubuntu 14.04 with gcc 4.8.4 (4.8.4-2ubuntu1~14.04.3). What version of gcc is present on the test machine?

[2018-09-11 21:55] mhdawson commented on #337
iojs@test-digitalocean-ubuntu1404-x86-1:~$ gcc --version
gcc (Ubuntu 4.9.4-2ubuntu1~14.04.1) 4.9.4
Copyright (C) 2015 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE

[2018-09-11 21:56] mhdawson commented on #337
Was the ubuntu you had 32 bit? That seems to be one thing that is different as well.

[2018-09-12 08:15] dmooney65 commented on #336
OK now fixed by doing something with the input buffer before passing it back to JS.
Thanks

[2018-09-12 08:15] #336 closed

[2018-09-12 11:13] tommyZZM opened #338 "How to return `null` or `undefined` ?"
https://github.com/nodejs/node-addon-api/blob/master/doc/basic_types.md#array

with `env.Null()` and `env.Undefined()`

[2018-09-12 11:18] #338 closed

[2018-09-12 14:41] gabrielschulhof commented on #337
Reproduced locally.

[2018-09-12 17:43] rivertam opened #340 "Array documentation"
So I'm pretty confused about how to use Arrays/TypedArrays using this library. Basically, I'm looking for the equivalent of the `.push` method. I'd also love a way to reserve space in chunks, as I know how big the resulting array is going to be, though that might be too complicated considering V8.

The documentation includes a `.Set(int, Value)` with the example `obj.Set(42, "The Answer to Life, t

[2018-09-16 19:33] fraxken opened #342 "Code stop with no exception"
Hi,

While i was working on a newest n-api addon to retrieve information about Windows Services (with node-addon-api) i faced a problem:

- My code stop working with no reason / no visible exception (even if i comment my code and only return an empty array...).

The method:
https://github.com/SlimIO/Winservices/blob/master/winservices.cpp#L253

The method is executed few times, and after maybe 4 o

[2018-09-17 22:47] NickNaso commented on #162
I'm closing this issue it was solved with PR **[#243](https://github.com/nodejs/node-addon-api/pull/243)**

[2018-09-17 22:47] #162 closed

[2018-09-18 01:17] fraxken commented on #342
Hi,

I'v found the problem (my way of doing things was not the right one).

But i'm not sure about why there is no exception (if this is something expected or a configuration problem on my side).

Best Regards,
Thomas

[2018-09-18 01:17] #342 closed

[2018-09-18 13:43] #337 closed

[2018-09-18 21:18] NickNaso commented on #196
@romandev
I think that now that *[https://github.com/nodejs/node-addon-api/pull/331](https://github.com/nodejs/node-addon-api/pull/331)** is landed we can close the issue.
Good work!

[2018-09-18 21:36] mhdawson opened #347 "Next release"
I'm thinking we should do a release after we land

- [x] [Implement AsyncContext class](https://github.com/nodejs/node-addon-api/pull/252)
- [x] [tools: add tool to check for N-API modules](https://github.com/nodejs/node-addon-api/pull/346)
- [x] [Make 'nothing' target a static library](https://github.com/nodejs/node-addon-api/pull/348)
- [x] [Cleanup documentation](https://github.com/nodejs/node-

[2018-09-18 21:44] NickNaso commented on #347
Yes I can and I agree with all workflow.

[2018-09-18 21:45] mhdawson opened #349 "bigint tests running/failing on earlier Node.js versions"
The CI is broken for Node.js versions lower than master because the bigint tests are running even though the methods don't exist in those earlier versions.

We need to guard execution of those tests to only run on 11.x and later.

[2018-09-18 22:01] mhdawson commented on #349
@devsnek, @gabrielschulhof

I don't see a quick/easy way to just make the bigint tests to build/run on 11.x or later where they exist.

I think we should turn off the bigint tests, for the next few days until we can figure out how to only have them run in the right versions?  Any objections ?

[2018-09-18 22:03] mhdawson commented on #349
Looks like also run ok on 10.x as well, but fail to build on 8.x and 6.x

[2018-09-18 22:08] mhdawson commented on #349
I think we'll need to figure out how to guard which tests build/run by supported napi version. I think we've not run into this before because so far pretty much everything used by node-addon-api has been available in all versions.

[2018-09-18 22:09] devsnek commented on #349
@mhdawson sounds okay. fwiw i don't really know how your versioning system works so you do you.

[2018-09-18 22:14] NickNaso commented on #349
I can confirm that the problems are only for Node.js version 6.x and 8.x.

[2018-09-19 12:31] NickNaso commented on #274
I'm closing the issue because it's solved with **[https://github.com/nodejs/node-addon-api/pull/325](https://github.com/nodejs/node-addon-api/pull/325)**.

[2018-09-19 12:31] #274 closed

[2018-09-19 15:51] gabrielschulhof commented on #229
@verwaest currently V8 allows for the following two scenarios:

0. Both superclass and subclass are written in JavaScript, and the subclass is defined using the `extends` keyword.
0. Both superclass and subclass are written in C++ and the code performing the `FunctionTemplate::Inherit` has access to both `FunctionTemplate`s.

Neither of these scenarios works from N-API code, because the `FunctionT

[2018-09-19 15:53] gabrielschulhof commented on #229
@BotellaA if you want proper inheritance (the equivalent of the `extends` keyword, but implemented in N-API) then we need help from V8 – the ability to retrieve the `FunctionTemplate` from the `Function`, or some refactor that removes the need for having the two `FunctionTemplate`s for an `Inherit` call.

Otherwise, if you want old-style inheritance by way of prototype assignment, you can already

[2018-09-19 16:34] verwaest commented on #229
I'm a little confused why scenario 0 wouldn't work with template-backed
functions. Iirc, for FunctionTemplate-backed functions we simply create an
"initial map" for resulting instances that matches the instance-template.
When you subclass such a thing, upon reaching the base class (the
template-backed function) we'll create a derived map for the new.target
(the subclass) from the initial map of th

[2018-09-19 16:48] gabrielschulhof commented on #229
@verwaest scenario 0 does work for template-backed functions.

What doesn't work is my example below that (copied here):
[code]
because in the native implementation of `subclassMe` there is no way to call `FunctionTemplate::Inherit()`, because we do not have the `FunctionTemplate` of the superclass.

[2018-09-19 17:05] verwaest commented on #229
So you want to call FunctionTemplate::Inherit to create a new JSFunction
that's not a ES6 JavaScript subclass but results in exactly the same as
FunctionTemplate::Inherit? What's the purpose exactly? What's missing by
simply creating the function by doing extends on the function-template
backed JSFunction?

Can you draw some boxes and pointers that make it clear what JSFunctions
and what FunctionT

[2018-09-19 18:37] gabrielschulhof commented on #229
@verwaest I would like to write the following function in C++:

[code]

in such a way that, if I use it, I will not subsequently get `Illegal Invocation` exceptions when I call a superclass method on an instance of the subclass.

However, this would mean that the C++ implementation of `subclassMe` would have to have access to the `FunctionTemplate` of both the superclass that was passed into it an

[2018-09-19 18:38] NickNaso commented on #349
We have the problem also for `Napi::TypedArray`, I tried to disable by hand the test for `Napi::BigInt` and `Napi::TypedArray` and all work fine. For the moment I don't know how to dinamically do the same thing with a little effort.

[2018-09-19 19:49] verwaest commented on #229
What about simply adding a C++ way to do the JS extends? You could do it by
creating such a script already, but I suppose a clear API on Function may
make sense.

On Wed, 19 Sep 2018, 20:37 gabrielschulhof, <notifications@github.com>
wrote:

[2018-09-19 21:13] NickNaso commented on #349
I worked a little on this issue and the only way I thought is to dynamically create the following files:

- `binding.gyp`
- `binding.cc`
- List of modules in the file `test/index.js`

It's something like a pre-test process where we need to execute the following steps:

- Check if `binding.gyp`,  `binding.cc` and the list of modules to test exists and in that case delete them.
- Get the version of

[2018-09-20 01:11] gabrielschulhof commented on #229
@verwaest you mean, like, with `RunScript`? But then wouldn't you have to write the subclass in JS and save it in a string? Like,

[code]
... and ultimately ...
[code]

[2018-09-20 03:03] mhdawson commented on #349
Should be fixed by https://github.com/nodejs/node-addon-api/pull/350

[2018-09-20 03:06] mhdawson commented on #349
I've recently pushed a final set of changes and have CI runs going across  6.x, 8.x, 10.x and master.  They have all completed except for AIX so I think it looks good.

@romandev, @NickNaso, @devsnek can you review #350

[2018-09-20 03:09] mhdawson commented on #349
FYI, All CI runs have now completed and were good on my branch.

[2018-09-20 05:10] verwaest commented on #229
Yes, something like that is what I meant. If it's performance sensitive and
is a common pattern I see no issue with having a V8 API that does exactly
that on Function either.

On Thu, 20 Sep 2018, 03:25 Gus Caplan, <notifications@github.com> wrote:

[2018-09-20 12:41] DaAitch commented on #279
@mhdawson can be closed with #280 landed

[2018-09-20 12:58] #349 closed

[2018-09-20 15:41] NickNaso commented on #320
I'm closing the issue because the requested feature is landed with **[https://github.com/nodejs/node-addon-api/pull/344](https://github.com/nodejs/node-addon-api/pull/344)**

[2018-09-20 15:41] #320 closed

[2018-09-20 15:44] NickNaso commented on #279
@DaAitch Yes we can close the issue. Thanks for your contribution! 👍

[2018-09-20 15:44] #279 closed

[2018-09-20 16:07] BotellaA opened #352 "How to handle returned C++ reference of non ObjectWrap object?"
I do not understand if there is a way to handle returned C++ reference of non ObjectWrap object.
For example: `X& some_function()` where `X` could be a `bool`, `float` or `std::string`.

I could returned a `Napi::Boolean`, `Napi::Number` or `Napi::String` but I am loosing the "reference" part. Is there a way to returned this value and later still be able to directly modify the C++ value from the J

[2018-09-20 16:31] NickNaso commented on #352
Hi @BotellaA I think that you need to use `Napi::External` class [https://github.com/nodejs/node-addon-api/blob/master/doc/external.md](https://github.com/nodejs/node-addon-api/blob/master/doc/external.md)
See the test for some examples [https://github.com/nodejs/node-addon-api/blob/master/test/external.js](https://github.com/nodejs/node-addon-api/blob/master/test/external.js) and [https://github.

[2018-09-20 17:32] gabrielschulhof commented on #229
@verwaest I can certainly implement that, but then I have to write the methods of the subclass in JavaScript.

So, a V8 API on `Function` that would be super awesome would be

[code]

[2018-09-20 17:37] gabrielschulhof commented on #229
@verwaest I guess the parameters for the new API would be the same or almost the same as for `v8::FunctionTemplate::New()`.

[2018-09-20 22:05] mhdawson commented on #352
I think @BotellaA might have been asking if you can create a C value which can be modified both on the C++ side and the JavaScript side directly at the same time.

I think want you likely want is a https://github.com/nodejs/node-addon-api/blob/master/doc/array_buffer.md and then access to the memory through a DataView on the Javascript side.

External would like you pass a handle through JavaScrip

[2018-09-21 06:09] BotellaA commented on #352
Thank you both. I will look at @mhdawson solution which looks like what I want.

[2018-09-21 14:46] mcollina commented on #76
Definitely! Good work.

[2018-09-21 14:46] #76 closed

[2018-09-26 22:14] mhdawson commented on #332
From work that @andrew-cc-chen has done, this looks like the current coverage:

[node-addon-api-coverage.pdf](https://github.com/nodejs/node-addon-api/files/2421745/node-addon-api-coverage.pdf)

[2018-09-27 20:09] NickNaso commented on #91
Hi @mcollina,
what do you think? Is it possible close the issue? You can find the requested documentation here: [https://github.com/nodejs/node-addon-api/blob/master/doc/object_wrap.md](https://github.com/nodejs/node-addon-api/blob/master/doc/object_wrap.md)

[2018-09-27 20:11] NickNaso commented on #340
Hi @rivertam,
sorry for the late in answer. As you suggested in the next days I will try to add some examples about `Napi::Array` and improve the corresponding documentation.

[2018-09-27 20:53] mcollina commented on #91
Yes, definitely!

[2018-09-27 20:53] #91 closed

[2018-09-28 00:18] rivertam commented on #340
Great, thanks @NickNaso!

I did try the `.Set` method but this turned out to be WAY slower (10+ seconds in my case) than just encoding the array as a buffer and then looping through the bytes in an orderly fashion in JS (30-50ms).

[2018-09-28 23:02] gabrielschulhof opened #357 "ObjectWrap is not type-safe"
When using `ObjectWrap` the instance methods and accessors all use `napi_unwrap()` to retrieve the native object instance from the `this` parameter. This should not be done without first using `napi_instanceof()` to ensure that the `this` parameter is an instance of the JavaScript class corresponding to the `ObjectWrap` class.

After all, one can do the following:
[code]
Now the native implementat

[2018-10-01 10:46] NickNaso opened #358 "Version management documentation"
There is a little inconsistency on `Napi::VersionManagement` documentation.

Now the two static methods exposed by `Napi::VersionManagement` are documented like reported below:

[code]

[code]

instead they will be fixed as reported below:

[code]

[code]

[2018-10-01 23:51] nadongguri commented on #358
Hi @NickNaso, I will take this issue.

[2018-10-02 14:34] #333 closed

[2018-10-02 14:35] mhdawson commented on #347
@NickNaso list of what we wanted is now complete.

[2018-10-02 15:01] NickNaso commented on #347
Ok later I will try to make a new release.  If you want we can do together.

[2018-10-02 16:58] NickNaso commented on #358
I'm closing this issue because it has been solved with **[https://github.com/nodejs/node-addon-api/pull/360](https://github.com/nodejs/node-addon-api/pull/360)**

[2018-10-02 16:59] #358 closed

[2018-10-02 19:40] mhdawson commented on #347
I'm pretty busy today and I'm happy for you to do it on your own unless you have questions/want me to review.  I think you have the steps down from the last run-through.

So if you want to do it together lets find a time, but if you are happy to do it on your own go for it.

[2018-10-02 21:43] NickNaso commented on #347
@mhdawson I'm starting to create a new release 1.5.0 @nodejs/n-api

[2018-10-03 06:13] NickNaso commented on #347
I'm closing the issue because we just published the new release (1.5.0).

[2018-10-03 06:13] #347 closed

[2018-10-04 18:38] gabrielschulhof opened #364 "napi_threadsafe_function"
Now that we've added support for `NAPI_EXPERIMENTAL` we should add wrappers for `napi_threadsafe_function`.

[2018-10-08 15:12] gabrielschulhof commented on #364
This is a duplicate of https://github.com/nodejs/node-addon-api/issues/312.

[2018-10-08 15:12] #364 closed

[2018-10-08 15:15] gabrielschulhof commented on #319
@Fishrock123 having a complete minimum example that reproduces the failure would also be helpful.

[2018-10-08 15:31] gabrielschulhof commented on #282
@rivertam @Webern we have now revived the [node-addon-examples](https://github.com/nodejs/node-addon-examples) repo and have added an [example](https://github.com/nodejs/node-addon-examples/tree/master/async_pi_estimate/node-addon-api) using `Napi::AsyncWrap`. We've also added a lot of [documentation](https://github.com/nodejs/node-addon-api/#api-documentation) to this repo.

[2018-10-08 16:52] jdalton opened #366 "Support for import.meta and dynamic import() callbacks."
It looks like some emerging APIs are required to be covered by API in order to support hooking into `import.meta` and dynamic `import()`. See https://github.com/jkrems/loader/issues/1 for more details. \cc @jkrems

[2018-10-08 17:10] jkrems commented on #366
I think this applies to module APIs in general - e.g. creating / compiling a module also doesn't exist.

[2018-10-08 17:13] devsnek commented on #366
i started working on parts of this a while ago. having callbacks for `import.meta` and dynamic import would need to wait on us finishing whatever is going on in core though. node needs to own those two callbacks from the engine.

[2018-10-09 22:51] mhdawson commented on #366
Is this the right place for that? If there are new APIs they would go into core as  C N-API apis and then later be wrapped by node-addon-api right?

[2018-10-09 22:54] mhdawson opened #368 "Remove outdated Doxygen doc"
We have not kept it up to date and we have full coverage in our other doc, so remove it.

[2018-10-09 22:54] mhdawson commented on #282
We should probably remove the outdated Doxygen doc, created this issue for that: https://github.com/nodejs/node-addon-api/issues/368

[2018-10-09 23:21] NickNaso commented on #368
Hi everyone,
I think that we think to take a decision about the **gh-pages** branch of this repo. Now it contains the old documentation  created by Docygen, but this documentation is not updated form the begin of July.
About that I have 3 proposals:
* Drop the old documentation and disable the **gh-pages**
* Continue to update the documentation generated by Doxygen
* Use **gh-pages** to better adv

[2018-10-10 18:42] jdalton commented on #366
@mhdawson Where should I file the API request _(repo/issue-tracker)_?

[2018-10-10 19:01] devsnek commented on #366
@jdalton in this case `nodejs/ecmascript-modules`, specifically `src/node_api.cc`

[2018-10-11 12:42] bzoz commented on #304
Fixed by https://github.com/libuv/libuv/pull/1927 included in https://github.com/nodejs/node/pull/22365

[2018-10-11 16:13] mafintosh commented on #269
Running into the same problems with n-api builds done against Node.js not working with Electron on windows.

[2018-10-11 20:28] danielgindi commented on #304
Yeah I already am enjoying this :-)

[2018-10-11 20:28] #304 closed

[2018-10-12 12:40] BotellaA commented on #269
Still no update?

[2018-10-16 00:50] NickNaso commented on #368
At Node.js Collaborator Summit we discussed about the idea to expose the documentation through the GitHub pages like a web site.
For the occasion I created a mock-up to better explain the idea. I attached the screenshot in this issue remembering that it’s a prototype and we need working on it to arrive at final version.
<img width="1286" alt="screenshot 2018-10-15 at 17 44 01" src="https://user-im

[2018-10-16 09:26] bsrdjan opened #370 "Building the addon wrapper on OSX"
I try to build the node addon, wrapping these external libraries:

[code]

using following `binding.gyp` settings:

[code]

The new built addon looks like this:

[code]

The `sapnwrfcsdk_path_linux` from `binding.gyp` and DYLD_LIBRARY_PATH shell variable, both resolve to external libraries location: `/usr/local/sap/nwrfcsdk/lib`.

Simple tests with new built addon work. Mocha for some reason fails

[2018-10-16 10:41] SMotaal commented on #366
This is not a `nodejs/ecmascript-modules` aspect though. It is already used by ModuleWrap:

* https://github.com/nodejs/node/blob/master/src/module_wrap.cc#L784-L786
* https://github.com/nodejs/node/blob/master/src/module_wrap.cc#L815-L818

So what would be the procedure to get this through core?

[2018-10-16 12:38] devsnek commented on #366
@smotaal you would need to make an API that exposes them here https://github.com/nodejs/ecmascript-modules/blob/master/src/node_api.cc

[2018-10-16 20:09] mhdawson commented on #269
@codebytere  this is the issue we mentioned at the summit.

[2018-10-19 06:37] BotellaA opened #372 "Fatal error with ObjectWrap since 1.5.0"
I update to node-addon-api 1.5.0 (from 1.4.0) and I got this error at runtime using gdb
[code]
and this stack
[code]

Do you have an idea why this crashes in 1.5.0 and not in 1.4.0? I had the same crash on several computers with several gcc and node versions. Any major changes in  Napi::ObjectWrap<T >::DefineClass?

Thanks for your help!

[2018-10-19 13:20] gabrielschulhof commented on #372
@BotellaA which precise versions of Node.js have you tried this with? We've had crashes caused by Node.js itself, because it was accessing a stale pointer as part of the execution of `OnOK`.

[2018-10-19 18:47] mhdawson commented on #372
Changelog is here: https://github.com/nodejs/node-addon-api/blob/master/CHANGELOG.md

[2018-10-19 18:48] mhdawson commented on #372
If we have them properly labelled then these should be the only candiates:

[917bd60baa] - src: remove TODOs by fixing memory leaks (Gabriel Schulhof) #343
[dfcb93945f] - src: implement AsyncContext class (Jinho Bang) #252
[211ed38d0d] - src: make 'nothing' target a static library (Gabriel Schulhof) #348
[97c4ab5cf2] - src: add Call and MakeCallback that accept cargs (NickNaso) #344
[b6e2d92c09] -

[2018-10-19 18:51] mhdawson commented on #372
Guessing that we can eliminate ones which add new functionality, which I think leaves this one unless we have some problems with the instance of a method with the wrong parameters being selected because there are additional options is a possibility(for example [97c4ab5] - src: add Call and MakeCallback that accept cargs (NickNaso) #344)

[917bd60] - src: remove TODOs by fixing memory leaks (Gabrie

[2018-10-19 18:52] mhdawson commented on #372
I believe [917bd60] did affect the functionality for define class as well, so probably a good candidate.

[2018-10-19 18:53] mhdawson commented on #372
@gabrielschulhof since you are already engaged maybe you can help @BotellaA revert that change and see if it is related?

[2018-10-19 19:45] gabrielschulhof commented on #372
@BotellaA can you rebuild with `--debug` so I can see line numbers on the node-addon-api part of the stack? I suspect that a function-valued property gets added as an instance method. This is not allowed.

Also, can you point me to the source code, if it's open?

[2018-10-19 20:04] BotellaA commented on #372
Here  is the debug stack
[code]

The code is not open yet but if we cannot find the issue, I will send some files to you.

[2018-10-20 17:35] BotellaA commented on #372
I read the commit `[917bd60] - src: remove TODOs by fixing memory leaks (Gabriel Schulhof) #343` and I see now why my code does not work anymore.

[code]

The idea is to have an automatic wrapper arround a custom class `Bound`. I have the list of all static function and method pointers. I want to hook to these pointers to the `ClassWrapper` instance.

The trick is that the methods are not defined

[2018-10-21 13:59] gabrielschulhof commented on #372
@BotellaA Each function and accessor you define causes the wrapper to allocate data on the heap. This data has to be deleted when it is clear that the accessor or the function will never be called again. It will usually never be called again when it has been garbage-collected. In the case of JS classes this means that the data associated with accessors and prototype methods will be deleted when th

[2018-10-21 18:02] BotellaA commented on #372
@gabrielschulhof Ok, I understand the need to create `Napi::Function`s but not really how to make this design to work... Any recommendation?

[2018-10-21 21:46] NickNaso commented on #223
Hi everyone I think that this issue could be close when we will land this PR https://github.com/nodejs/node-addon-api/pull/362 Is it right?

[2018-10-22 03:26] gabrielschulhof commented on #372
@BotellaA you can always reach down into N-API for custom behaviour:

Header:
https://github.com/gabrielschulhof/node-addon-examples/blob/5c6c9731b1e337650d887c30b990437d67e43e30/6_object_wrap/node-addon-api/myobject.h#L17

Implementation:
https://github.com/gabrielschulhof/node-addon-examples/blob/5c6c9731b1e337650d887c30b990437d67e43e30/6_object_wrap/node-addon-api/myobject.cc#L5

[2018-10-22 03:37] gabrielschulhof commented on #372
@BotellaA you can always reach down to N-API for custom behaviour:

https://github.com/gabrielschulhof/node-addon-examples/blob/5c6c9731b1e337650d887c30b990437d67e43e30/6_object_wrap/node-addon-api/myobject.h#L17

and

https://github.com/gabrielschulhof/node-addon-examples/blob/5c6c9731b1e337650d887c30b990437d67e43e30/6_object_wrap/node-addon-api/myobject.cc#L16-L25

[2018-10-22 06:49] BotellaA commented on #372
@gabrielschulhof Thanks, I will look into this. Since the error is not on your side, I close the issue.

[2018-10-22 06:49] #372 closed

[2018-10-22 16:26] dpasco opened #373 "Implement iterable protocol using Symbol.iterator"
I am attempting to add the iterable protocol to an object. I can do this successfully by adding a method to the object manually in node but I cannot get it to work using Napi::Symbol::WellKnown().
I started with the 6_object_wrap example, adding two methods - iterable and next. I added next and iterable to the DefineClass() list. If I use a literal string as a symbol name then I can run the addon.

[2018-10-23 14:04] mhdawson commented on #373
You may have already tried this, but looking at the implementation of `Napi::Symbol::WellKnown` my first guess is that you should be using

`InstanceMethod(Napi::Symbol::WellKnown(env,"iterator"),&MyObject::iterable)`

Since `Symbol` is already included in the lookup in

`
inline Symbol Symbol::WellKnown(napi_env env, const std::string& name) {
  return Napi::Env(env).Global().Get("Symbol").As<Obj

[2018-10-23 14:11] dpasco commented on #373
Thanks - I just tried this and it works! Sorry for all the drama for such a simple problem.

I tried @@iterator but not iterator by itself.

On Oct 23, 2018, at 8:07 AM, Michael Dawson <notifications@github.com<mailto:notifications@github.com>> wrote:

You may have already tried this, but looking at the implementation of Napi::Symbol::WellKnown my first guess is that you should be using

InstanceM

[2018-10-23 14:49] mhdawson commented on #373
Great to hear and glad I could help :).  I'll close this, let me know if that is not the right thing to do.

[2018-10-23 14:49] #373 closed

[2018-10-23 15:15] dpasco commented on #373
If this project is successful we will be wrapping it up in the next two weeks with a planned deployment early next year. We aren’t doing anything crazy with it but you might see it appear somewhere in the near future.

Thanks for you help and - yes - closing it is the right thing to do. I’m a bit embarrassed because of an amateur mistake.

On Oct 23, 2018, at 8:54 AM, Michael Dawson <notifications

[2018-10-23 18:11] NickNaso commented on #223
@mhdawson  could we close this issue now?

[2018-10-23 18:14] NickNaso commented on #6
@mhdawson could we close this issue now?

[2018-10-23 18:30] mhdawson commented on #6
Yes, closing.

[2018-10-23 18:30] #6 closed

[2018-10-23 18:31] mhdawson commented on #223
Closing

[2018-10-25 04:55] jschlight opened #375 "Membership review - still active?"
The N-API team decided to initiate a membership review during its October 4, 2018 meeting using the procedure established by the Node [Security](https://github.com/nodejs/security-wg/issues/302) and [Diagnostics](https://github.com/nodejs/diagnostics/issues/215) Working Groups.

@addaleax - Anna Henningsen
@aruneshchandra - Arunesh Chandra
@kkoopa - Benjamin Byholm
@gabrielschulhof - Gabriel Schul

[2018-10-25 12:45] NickNaso commented on #375
Hi everyone I want continue to contribute to this project.

[2018-10-25 12:50] addaleax commented on #375
I’ll continue to engage on the code, but not necessarily in the working group (so, basically what I’m doing right now).

[2018-10-25 13:15] gabrielschulhof commented on #375
I'll keep on contributing 🙂

[2018-10-25 16:19] mhdawson commented on #375
I'm still around and active :)

[2018-10-25 19:42] NickNaso opened #376 "Release v 1.6.0"
Hi everyone I want create a new release (v 1.6.0) and I'm opening this issue to collect some useful suggestions and requests from anyone before to create the new release. I'd like to do publish the new release the 1st or 2nd of November.

[2018-10-26 08:13] #370 closed

[2018-10-26 08:34] bsrdjan opened #378 "OSX addon wrapper, build and deploy"
Building a node addon wrapper of external binary C++ library on OSX, I have following question (#370 follow-up).

The main external binary lib (with few child libs) can't be shipped with my node wrapper.

The user must download and install it separately, let say in `/usr/local/external/lib` folder.

After the `npm install node-wrapper` installs my wrapper, my expectation was if the user set DYLD_F

[2018-10-26 10:18] verdie-g commented on #247
@kanujkumar Have you managed to solve your problem ?

[2018-10-28 19:39] verdie-g opened #379 "How to save an Napi::Value in a Napi::ObjectWrap instance"
Hi,

I have the following code:

[code]

If I instantiate a Lookup and I try to get the value `n`, a random number is returned as if it was overwritten. I thought `n` was destroy at the end of the constructor so I have desperately tried things like using EscapableHandleScope or copying `info[0]` with Napi::Number constructor, but it is not what I am looking for. What am I missing ?

[2018-10-28 20:01] gabrielschulhof commented on #379
You'll want to define `n` as `int32_t n;` and then, in the constructor, you would set
[code]
and then, in the getter, you would
[code]

[2018-10-28 20:15] NickNaso commented on #379
Hi @verdie-g,
at the following link you can find an example that cover your use case:
**[https://github.com/nodejs/node-addon-examples/tree/master/6_object_wrap/node-addon-api](https://github.com/nodejs/node-addon-examples/tree/master/6_object_wrap/node-addon-api)**

[2018-10-28 20:36] NickNaso commented on #378
Hi @bsrdjan,
I'm not a great expert, but what I try to do every time I have to implement new native add-on is to ship it without external dependencies. It's a long process because the C / C++ libraries that I have to integrate don't use **GYP**, but at the end you have a native add-on that you can deliver every platform / architecture (VPS, Container, Serverless).
I know that sometimes you cannot

[2018-10-28 20:49] verdie-g commented on #379
Isn't it possible to stored a Napi::Value ? My code is more complex than my example and it would come handy.

[2018-10-28 21:02] NickNaso commented on #379
You can store the your primitive C / C++ value or object in the private field of the object wrap class, but if you want store the `Napi::Value` you can do creating a  reference to that specific native object using  `Napi::Reference`, this means that you can use a private field of your class to store the `Napi::Reference`. In this case your `Napi::Value`will be stored in a  `Napi::Reference` and it

[2018-10-28 21:18] verdie-g commented on #379
Thank you, this it exactly what I was looking for

[2018-10-28 21:18] #379 closed

[2018-10-30 19:42] AeromXundes opened #380 "Object::GetPropertyNames() not const"
The method `Object::GetPropertyNames()` is not declared `const`.

The method [`napi_get_property_names()`](https://nodejs.org/dist/latest/docs/api/n-api.html#n_api_napi_get_property_names) cannot not modify any member fields as the variables `_env` and `_value` are passed by value and `result` is a local variable. Thus, the function should be declared as `const`.

This will add the ability to decl

[2018-10-30 22:17] AeromXundes opened #381 "Napi::Function should not require initializer braces"
Passing in a `Napi::Object` to a `Napi::Function` doesn't work as I expected. I expected to be able to call the function with object arguments like a regular callable object in C++, but the types are a bit wonky for that.

[code]

[2018-11-01 18:33] NickNaso commented on #376
Hi like discussed at today meeting, tomorrow I will take care of doing the new release.

[2018-11-02 00:43] computerquip-streamlabs opened #382 "ErrnoException isn't defined"
The converter script seems to use `ErrnoException` but I can't seem to find this anywhere. I've also seen it in other examples. Where is this supposed to be defined?

[2018-11-02 15:12] mhdawson commented on #382
Do you have a link for one of the examples?

[2018-11-02 22:46] NickNaso commented on #376
Release 1.6.0 published so I'm closing the issue.

[2018-11-02 22:46] #376 closed

[2018-11-02 23:11] NickNaso commented on #223
I'm closing this, we just released version 1.6.0 that contains the `Napi::CallbackScope`. Feel free to reopen if I misunderstood something.

[2018-11-02 23:11] #223 closed

[2018-11-03 03:13] computerquip commented on #382
I figured out why this is done. Napi doesn't have an ErrnoException. So I have this:
[code]
this converts to:
[code]

The regex that finds this is here: https://github.com/nodejs/node-addon-api/blob/master/tools/conversion.js#L177

Seems manual intervention is needed here. Sorry for the confusion.

[2018-11-03 19:09] #382 closed

[2018-11-04 03:28] computerquip opened #383 "Buffer::New (with Finalizer) has documentation discrepancy"
I'm using `new` rather than `malloc()` in my C++ module. When I went to add a custom 'finalizer', it was giving:

Looking at that line given, it turns out that the finalizer requires you accept an Napi::Env variable first and then the data you initially gave which is contrary to the documentation here:

I'm not sure which is right here. I don't have any need for the Napi::Env variable and can't th

[2018-11-04 04:13] computerquip commented on #383
Upon further looking, it would appear napi itself provides the env argument as well. I'll look into a patch for the documentation.

I'm going to look into a patch to fix both the documentation and to make this a bit more type safe by removing the generic template.

[2018-11-04 17:53] verdie-g opened #386 "Important overhead when calling native code from javascript"
Hi,

I've noticed there is an important overhead when calling native code from javascript. Here is my code:

[code]

[code]

And the result

[code]

Is this overhead expected ?

[2018-11-04 18:10] devsnek commented on #386
Yes, the overhead is expected. Crossing between JS and C++ is expensive. Native addons work best when the cost of whatever work happens natively exceeds the cost of crossing between JS and C++.

[2018-11-04 21:12] verdie-g commented on #386
Thank you, I didn't know that.

[2018-11-04 21:12] #386 closed

[2018-11-05 09:08] NEVADV commented on #269
@here i face the same problem,  my addon build with node doesn't work with the version of node in Electron, i tested with many version of node and electron, and he never worked, i tested with electron-rebuild and he never work even electron find the good header when i done this node-gyp rebuild --target=3.0.6 --arch=x64 --dist-url=https://atom.io/download/atom-shell  with many different target to

[2018-11-05 11:23] bsrdjan opened #387 "Build fails on macOS and Linux (and possibly Windows), with node release 8.11.1 and lower, for node-addon-api 1.6.0"
Example:

[code]

[2018-11-05 13:29] mkundgol commented on #387
I too have ran into this issue while installing `node-ffi-napi` which depends on `node-addon-api`.

[2018-11-06 15:34] bsrdjan opened #390 "Call JavaScript function constructor syncronously"
Having a reference to Decimal.js function in node addon, would it be possible to synchronously create a new Decimal object in node addon, like in nodejs?

nodejs

[code]
node addon

[code]

[2018-11-06 15:58] romandev commented on #390
Is this working for you?
[code]

[2018-11-06 16:10] NickNaso commented on #390
Hi @bsrdjan,
here you can find all the signatures for `Napi::Function::Call` method https://github.com/nodejs/node-addon-api/blob/master/doc/function.md#call.

[2018-11-07 01:48] corymickelson commented on #387
Having a similar issue with 1.6.0 release

[code]
Getting this error with node 8.12.0, 10.9.0, and 11.1.0
Reverting node-addon-api back to 1.5.0 fixes this error.

[2018-11-07 16:45] nikita-malyschkin-work opened #392 "Nan::Persistent<TYPE> should be converted to Napi::ObjectReference::Persistent"
While using the conversion tool, we discovered that `Nan::Persistent` is not properly converterted to `Napi::ObjectReference::Persistent`.

[code]

[2018-11-07 18:23] corymickelson commented on #387
Not sure if this is what is causing other peoples errors, but the one I was getting was caused by using the src/node-api.h instead of that in node itself. Removing
[code]
is all that was needed.

[2018-11-08 13:42] NickNaso commented on #387
Hi @gabrielschulhof @mhdawson,
I take a look a this issue and what I discovered is that `napi_open_callback_scope` and `napi_close_callback_scope` is in Node.js 8 is available starting from the version 8.11.2. These two functions are available in the last version of Node.js 6 (v6.14.4) and in all Node 10 versions. What I'm trying to do is to exclude `Napi::CallbackScope` where we don't have napi_o

[2018-11-08 13:51] NickNaso commented on #368
Hi everyone,
I want start working on this and pass from design to a real prototype, but for me it could be great if you post useful resources that you want add to the "web site" so I can organise all for the best.
In the specific I need links yo articles, video (talks), slides and any useful resource that we can use to improve our evangelism activity.

[2018-11-08 14:22] ebickle commented on #387
@NickNaso What about using the `NODE_MAJOR_VERSION` and `NODE_MINOR_VERSION` #DEFINE macros and placing the code behind an `#ifdef` gate? I see some use of that pattern here: https://github.com/nodejs/node-addon-api/blob/master/src/node_internals.h

In a broader sense we may need to come up with a forward compatibility strategy for node-addon-api. N-API was so new that versioning differences betwe

[2018-11-09 12:17] legraphista opened #393 "Signal SIGSEGV in v8::internal::GlobalHandles::Create(v8::internal::Object*) ()"
Hi!

I've noticed some crashes sporadically occurring in v8 when calling the constructor of a class from the OnOK handler of `AsyncWorker`s. The crashes only seem to affect node 10.x (tested on 10.5, 10.13, 9.11.2). I'm running `node-addon-api` 1.6.0

<details><summary>Stack trace: (gdb)</summary>
<p>

[code]

</p>
</details>

<br/>

I've put together a list to the best of my knowledge resembling

[2018-11-10 16:13] addaleax commented on #269
@nodejs/platform-windows Any ideas here?

[2018-11-10 17:12] refack commented on #269
I have a hunch it's related to https://github.com/nodejs/node-gyp/pull/1566.
I'm verifying now.

[2018-11-12 19:17] mhdawson commented on #387
I think we have the required version management, we just missed guarding the new functionality with the right defines when we added the CallbackScope support.  I should have caught that as part of the review.

Looking at fixing it now.

[2018-11-12 20:40] mhdawson commented on #387
I believe this PR should resolve the issue: https://github.com/nodejs/node-addon-api/pull/395

@ebickle, @bsrdjan could one of you validate?  I tested using the test suite, but I'd like to confirm that your re-world cases are resolved as well.

[2018-11-12 22:53] mhdawson commented on #269
@codebytere any chance you've been able to look at this?

[2018-11-12 22:54] mhdawson commented on #269
Although I guess worth waiting until @refack confirms if it is nodejs/node-gyp#1566 or not.

[2018-11-13 00:15] refack commented on #269
No, [nodejs/node-gyp#1566](https://github.com/nodejs/node-gyp/pull/1566) did not solve this.

[2018-11-13 05:26] NickNaso opened #396 "New release 1.6.1"
Hi everyone,
I want publish a patch release v1.6.1 when the following PRs will be landed:
- [x] src: guard CallbackScope with N-API v3  **[395](https://github.com/nodejs/node-addon-api/pull/395)**
- [x] src: remove unused CallbackScope member **[391](https://github.com/nodejs/node-addon-api/pull/391)**

If anyone want insert other updates or fixes in this release please comment this issue.

[2018-11-13 20:15] ebickle commented on #387
@mhdawson I updated one of our libraries to point to that specific commit and had a team test a built with it. They reported back that it worked with no errors. Dealing with a few different versions of NPM which makes things fun, but looks good.

[2018-11-13 22:17] mhdawson commented on #387
@ebickle thanks !

[2018-11-13 22:48] #387 closed

[2018-11-13 22:58] mhdawson commented on #396
@NickNaso landed those 2 today.

[2018-11-14 02:35] NickNaso commented on #396
@mhdawson Thanks I will provide to create the release as soon as possible.

[2018-11-14 18:09] NickNaso commented on #396
I'm starting working on publish new release.

[2018-11-14 19:51] NickNaso commented on #396
I'm closing the issue because I just published the release.

[2018-11-14 19:51] #396 closed

[2018-11-14 23:05] mhdawson commented on #396
@NickNaso thanks !

[2018-11-15 17:31] addaleax commented on #393
@legraphista This is something that shouldn’t be happening, no. Could you provide a way to reproduce this?

[2018-11-15 18:48] mhdawson commented on #368
From Node+JS Interactive: https://www.youtube.com/watch?v=BrJcsYjp8Nw

[2018-11-15 18:49] mhdawson commented on #368
From Node Summit: https://github.com/mhdawson/presentations/blob/master/2018/NodeSummit2018%20-%20Building%20Next%20Generation%20add-on%20modules%20for%20Node.js%20using%20N-API.pdf

[2018-11-16 00:20] romandev commented on #368
I'm not sure if this slide is helpful to you but anyway I'll share it.
https://docs.google.com/presentation/d/10RCRnKXHUJBl-Pe_LfB-5Uhd0ADhcvSR5978-7ckzWQ/edit?usp=sharing

[2018-11-16 09:33] legraphista commented on #393
Will do! I'll throw together a demo project that illustrates the issue.

<details><summary>In the meantime, the same scenario also occasionally throws this stack trace: (gdb)</summary>
<p>

[code]

</p>
</details>
<br>

I have a hunch it might be from the `v8`'s move of GC to a separate thread.

[2018-11-16 11:15] addaleax commented on #393
@legraphista It’s hard to tell from the stack traces – this could be a bug in N-API, in V8 or in your code…

My best guess would be that this is some use-after-free bug for `Persistent` handles – Is there any chance you could run your code under valgrind or similar? That might give better information about where the source of the bug is, as opposed to the place where it shows up…

[2018-11-16 13:37] legraphista commented on #393
Hi, as promised, i'm back with an example. In the example i also detail sort of a solution/workaround where i don't move data by storing in into Float32Arrays but by passing External<float> pointers.

I'm sceptic that it's from a use-after-free bug since i'm not using it after free, and free-ing is handled by the deconstructor (and guarded from a double free)
https://gist.github.com/legraphista/f4

[2018-11-16 14:44] addaleax commented on #393
The valgrind output is pretty clear about this being an use-after-free situation – not necessarily in your code, though.

It sounds like the issue is something like this: After a GC run, one persistent handle finalizer callback (the one for the `ObjectWrap<DarknetImage>`) leads to the `DarknetImage` destructor being called, which in turn leads to the `_original_data` field being released from memo

[2018-11-16 15:46] legraphista commented on #393
A workaround that I've found is to call GC from javascript after each iteration (or a couple of), [like here](https://gist.github.com/legraphista/f468aa73ba57eb8aab66466bda50a50c#file-test-js-L44).   I've found it to be stable (at least in the limited testing i did).

[2018-11-16 21:40] mhdawson commented on #393
Having looked at the issue I think the top commit in this branch might resolve the issue but I've not looked at testing on your code yet:

https://github.com/mhdawson/io.js/tree/finalizer-order2

The main change is that if a request to delete a reference is made before the finalizer has run for the associated object it defers the delete until the finalizer runs.   I think this makes sense for the

[2018-11-16 21:41] mhdawson commented on #393
@legraphista could you try out that change and see if it resolves the issue for you?

[2018-11-16 21:41] mhdawson commented on #393
Just noticed I missed pushing the commit to the branch doing that now

[2018-11-16 21:46] mhdawson commented on #393
Branch updated.

[2018-11-16 21:52] mhdawson commented on #393
In respect, to `I have a hunch it might be from the v8's move of GC to a separate thread.`  You could be right if those changes affected when an object was identified as being no longer referenced and that change the timing of when the finalizer was enqueued to be run.

[2018-11-18 13:12] legraphista commented on #393
After some testing, I've come back with results:

|                     | Linux 4.15.0-36-generic (Ubuntu 17) |    MacOS 10.13.6   |          Notes          |
|:-------------------:|:-----------------------------------:|:------------------:|:-----------------------:|
|              v9.11.2 |          survived 10k iter.         | survived 10k iter. |            -            |
|             v10.13.0

[2018-11-18 13:34] legraphista commented on #393
I've thrown in macOS since in my original testing I haven't included it. To my surprise, with the same scenario as on the Linux environment, I cannot reproduce the crash. The stress test finished multiple times without a hitch.

For both environments, versions 9, 10, and 11 were downloaded & installed with [nvm](https://github.com/creationix/nvm). The v12 branch was compiled with `llvm 9.0.0 (clan

[2018-11-19 15:13] mhdawson commented on #393
@legraphista thanks, one more piece of data that would be great is v12.0.0-pre WITHOUT my change.  If we see it fail there, then we'll be sure that it was my change that fixed it.

[2018-11-19 16:38] legraphista commented on #393
Ah yes, of course, my bad.
Here are the results. I've also updated the table in the original comment.

|                                                                                                                  | Linux 4.15.0-36-generic (Ubuntu 17) |    MacOS 10.13.6   |          Notes          |
|:---------------------------------------------------------------------------------------------

[2018-11-19 17:02] mhdawson commented on #393
@legraphista thanks.  Will submit PR and ask V8 team members to comment as well.

[2018-11-19 21:52] mhdawson commented on #368
@romandev thanks for that link, looks like a good deck.  We should get you to give us an update on how the webidl generator is going at some point.

[2018-11-22 02:13] gabrielschulhof commented on #393
This may be similar to https://github.com/nodejs/node/issues/23999.

[2018-11-22 22:11] mhdawson commented on #393
PR to fix: https://github.com/nodejs/node/pull/24494

[2018-11-23 15:04] #393 closed

[2018-11-25 20:01] gorshkov-leonid commented on #75
@jasongin could you reply to @ptgolden's  question? I can find neither node-addon-api or n-api functions to implement `streaming worker` such as  [Nan::AsyncProgressWorker](https://github.com/nodejs/nan/blob/master/doc/asyncworker.md#api_nan_async_progress_worker)

There is example of usage from a book: [factorization example | https://github.com/freezer333/nodecpp-demo/blob/master/streaming/examp

[2018-11-26 15:35] legraphista opened #398 "Node 7.x, 8.x and 9.x throw munmap_chunk(): invalid pointer with Tensorflow C++ API"
I'm experiencing issues with node version prior to 10 where initialising a tensorflow session with CUDA support results in a crash

<details><summary>gdb</summary>
<p>

[code]

</p>
</details>

<br/>

*Valgrind error snippet*
[code]

<details><summary>Valgrind full log</summary>
<p>

[code]

</p>
</details>

<br/>

Those issues appear in node 7, 8, 9, and don't manifest in node 10, 11 or master. T

[2018-11-26 16:55] mhdawson commented on #398
There is so little N-API code involved, I'm not sure if this is related to N-API or possibly more likely an issue running in the same process as Node.js itself.  Maybe some conflict between versions of libraries used by Node.js and tensorflow?

[2018-11-26 16:57] mhdawson commented on #75
@gorshkov-leonid can you open a new issue.  This one is closed and its probably better to discuss in a new issue.

[2018-11-26 17:13] legraphista commented on #398
Yes, I believe that you are right, although i'm not the only one to bump into this issue.
Would you be able to give me some pointers as to where to move this issue or how to even start debugging it? I'm at a loss given that the error occurs in the `std` namespace.

[2018-11-26 17:17] mhdawson commented on #398
Maybe use ldd to list the binaries node and tensorflow were linked against and and look to see if there are overlaps/conflicts ? (google link for using ldd to do that: https://superuser.com/questions/239590/find-libraries-a-binary-was-linked-against)

[2018-11-27 01:49] bghgary opened #399 "Factor out C++ wrappers to target js-native-api"
Following the work from https://github.com/nodejs/abi-stable-node/issues/354, it would be ideal if the code in the C++ wrappers can also be factored out.

CC @gabrielschulhof @mhdawson

[2018-11-27 22:30] mhdawson commented on #233
@fivdi do you think you'll still get to this or should I close the issue?

[2018-11-27 22:40] mhdawson commented on #231
@ebickle @DaAitch sorry for the late notice but we are planning to discuss this in the N-API team meeting at 1:30 EST tomorrow.  Would either of you be interested/able to attend?

[2018-11-27 22:41] mhdawson commented on #231
@ebickle @DaAitch sorry for the noise but I should have said on Thursday

[2018-11-27 22:49] mhdawson opened #400 "Update testing to include 12.x as an option and run nightly testing on 12.x as opposed to 11.x"
https://ci.nodejs.org/view/x%20-%20Abi%20stable%20module%20API/job/node-test-node-addon-api/build?delay=0sec

[2018-11-28 14:48] mhdawson commented on #231
And I just realized that we are pushing out the meeting 1/2 hour on Thursday so it will be 2 EST.

[2018-11-28 16:23] mhdawson opened #401 "Internal/external selection broken for latest 6.x release"
Looks like this logic in https://github.com/nodejs/node-addon-api/commit/437514e75b47dcb2335d4958deb5954b35e8b8e2

Is not quite right:

[code]

[2018-11-28 16:29] mhdawson commented on #401
Branch with test fix here: https://github.com/mhdawson/node-addon-api/tree/fixselection

[2018-11-28 17:50] mhdawson commented on #401
PR for fix: https://github.com/nodejs/node-addon-api/pull/402

@NickNaso if you have time we probably want to plan a release with this fix.  As of the security releases earlier this week and the  bump of 6.14 -> 6.15 node-addon-api is broken for the 6.X line.

[2018-11-28 18:01] fivdi commented on #233
@mhdawson please close the issue

[2018-11-28 19:31] NickNaso commented on #401
Hi @mhdawson I will provide to open an issue with the intention on making new release v1.6.2.

[2018-11-28 19:47] NickNaso opened #403 "New release 1.6.2"
Hi everyone,
I want make a new release v1.6.2.
This is necessary because of the releases of new security version of Node.js, now node-add on-api is broken for the 6.X.
Before to start creating the new release it’s necessary execute the following tasks:

- [x] Land the PR [https://github.com/nodejs/node-addon-api/pull/402](
https://github.com/nodejs/node-addon-api/pull/402)

If someone want add oth

[2018-11-28 21:40] #233 closed

[2018-11-28 21:42] mhdawson commented on #401
@NickNaso thanks.  Landed PR and just running CI job to validate all is resolved:

https://ci.nodejs.org/view/x%20-%20Abi%20stable%20module%20API/job/node-test-node-addon-api-LTS%20versions/

[2018-11-28 22:13] ebickle commented on #231
@mhdawson I'm available and interested in attending.

[2018-11-28 22:16] mhdawson commented on #231
@ebickle zoom link from the calendar entry: https://zoom.us/j/363665824.  Looking forward to seeing you at 2 EST tomorrow.

[2018-11-28 22:21] mhdawson commented on #401
CI run looks good closing.

[2018-11-28 22:21] #401 closed

[2018-11-28 23:45] NickNaso commented on #403
I'm starting to prepare release.

[2018-11-29 00:40] NickNaso commented on #403
I'm closing the issue because I just made the new release.

[2018-11-29 00:40] #403 closed

[2018-11-29 06:00] sudhakar3697 opened #404 "How do I throw events from a c++ event handler function ?"
Hi,
How do I emit event from the "Watcher_EventArrived" function ?
//call2 isn't working

#include <napi.h>
#include <msclr\marshal_cppstd.h>
//#using <../Hello.dll>
using namespace System;
using namespace Management;
using namespace Threading;

#pragma managed

 Napi::Function emit;
 void Watcher_EventArrived(Object^ sender,EventArrivedEventArgs^ e)
{
	 IO::File::CreateText("C:\\Users\\Sudhakar_r

[2018-11-29 15:03] mhdawson commented on #403
@NickNaso thanks

[2018-11-29 20:33] mhdawson commented on #231
@ebickle thanks for coming to the meeting today.  Very helpful and helped us (at least me) better understand and think about how to start working on the issues.

[2018-11-30 17:37] DaAitch commented on #231
@mhdawson sorry couldn't attend. Did you record it?

[2018-11-30 17:39] mhdawson commented on #231
@DaAitch sorry I realized after it ended that I forgot to start the recording :(.  I'm away for a few weeks but @gabrielschulhof might be able to catch you up, otherwise, I can do that when I get back.

[2018-12-02 09:16] NickNaso commented on #404
Any news from this issue?

[2018-12-02 09:18] NickNaso commented on #319
Any news from this issue?

[2018-12-03 18:49] Fishrock123 commented on #319
No news. I haven't had time to look at it but I wasn't doing anything particularly exotic.

[2018-12-04 23:10] jlipps opened #405 "question: unwrapping c++ value from napi buffer"
Hi, I'm trying to create an addon which takes raw binary image data as input and then uses various c libraries for image processing. I'm assuming I'll have the image data in Node as a Buffer. I've read through various docs but I'm not sure how to retrieve that information from `info` into a native c++ object (I guess as a uint8 array or char array?)

Apologies if there's a better place for questio

[2018-12-05 09:34] bsrdjan commented on #390
Thank you very much for the example. It works and after modifying it, to reflect my setup, the error is reproduced.

In this example, the JS calculator function passed from nodejs script, should be used in OnOK AsyncWorker method.

The binding.gyp is the same and modified addon.cc and index.js look like this:

**addon.cc**

[code]

**Output**

[code]

and after uncommenting `//calculator.Call({Nap

[2018-12-05 09:41] NickNaso commented on #405
Hi @jlipps,
I assume that you are creating a buffer on the JavaScript side and then pass it to C++ side like reported below
[code]
On the native side (C++) you can retrieve the buffer object like reported below:

[code]
I hope that my example could help you. keep me updated about that.

[2018-12-05 10:39] bsrdjan commented on #390
and found what was missing, can be closed as far I am concerned. Thanks!

[code]

[2018-12-05 10:50] NickNaso commented on #390
@bsrdjan Yes exactly I was writing that you need to pass a `Napi::FunctionReference` to your async worker implementation. Great I'm happy to see that all worked fine.

[2018-12-05 10:51] #390 closed

[2018-12-06 03:22] jlipps commented on #405
thanks so much @NickNaso I think that's what I was missing. I'll confirm once I've proved it out, but closing for now since it looks like what I need.

[2018-12-06 03:22] #405 closed

[2018-12-06 06:01] CTianXing opened #406 "how to send data continually to javascript from windows Wave API callback function?"
sorry for my poor english, hope you understand what I mean.
I take the windows Wave API to record sound and send it to speech recognize. There is a callback  in the waveInOpen(), i can take the buffer recorded to recognize and get the result continually,but how do i send the result to javascript in the waveInProc().
MMRESULT waveInOpen(
   LPHWAVEIN       phwi,
   UINT            uDeviceID,
   LPC

[2018-12-10 09:46] NickNaso commented on #406
Hi @CTianXing,
sorry for the late in the answer. I taken a look at your code and I think that you are able to emit the first event that you named **"start"** but the problem is that you cannot able to emit the **"data"**.
Is is right?  You need to preserve the instance of the emit function and store it on a `Napi::FunctionReference` see the documentation here:  https://github.com/nodejs/node-addon

[2018-12-10 18:15] sudhakar3697 commented on #404
Sorry for replying late @NickNaso  :).

#include <napi.h>
#include <msclr\marshal_cppstd.h>
using namespace System;
using namespace Management;
using namespace Threading;

#pragma managed

 Napi::Function emit;
 Napi::FunctionReference f;

 int x = 1;
 void Watcher_EventArrived(Object^ sender,EventArrivedEventArgs^ e)
{
	 IO::File::CreateText("C:\\Users\\Sudhakar_r_R\\Desktop\\tenpi"+(x++)+".txt")

[2018-12-10 18:16] sudhakar3697 commented on #404
Still not able to throw event from the Watcher_EventArrived function.

[2018-12-10 23:56] NickNaso commented on #404
Could you post your JavaScript code?

[2018-12-11 03:14] sudhakar3697 commented on #404
const { EventEmitter } = require('events');
const ee = new EventEmitter();
let x=require('../build/Release/usbaddon.node');

ee.on('Detected', () => {
    console.log('### Detected ###')
})

ee.on('TestEvent', () => {
    console.log('### TestEvent has come ###')
})

alert(x.SaySomething(ee.emit.bind(ee)));

[2018-12-11 08:20] GhostFlying opened #408 "How to unwrap a ArrayBufferView using addon-api"
As the docs said, I can unwrap typedarray or dataview individually.

But if the param type of one function  is ArrayBufferView  in javascript, how should I do to unwrap it?

As

`info[0].As<Napi::ArrayBuffer>().Data()`

Or

`info[0].As<Napi::TypedArray>().ArrayBuffer().Data()`

or and any other method?

[2018-12-11 09:12] GhostFlying commented on #408
I found another way like this:

`input.IsDataView() ? input.As<Napi::DataView>().Data() : input.As<Napi::TypedArray>().ArrayBuffer().Data();`

It seems correct but not so stright forward. In v8, there's a class called DomArrayBufferView as the super class of DataView and any TypedArray but no such one in napi.

[2018-12-11 16:58] atoy40 commented on #312
Hello,
any news on this one ? I've discovered this project https://github.com/mika-fischer/napi-thread-safe-callback, it seems to have the same goal but use libuv directly to achieve it.

[2018-12-11 17:06] romandev commented on #312
Ah, I missed this.. I'm on a trip now. I'll finish to implement this until next week.

[2018-12-11 17:59] jlipps commented on #405
Hi again @NickNaso that part worked, now I'm running into trouble getting a napi value from a c-style array, so I can pass it back to node as a Napi::Array. I read the code for the Array class but it didn't seem to have a relevant constructor, or any methods I could use to add elements to it. Is Napi::Array supposed to be read-only?

[2018-12-12 12:02] NickNaso commented on #405
Hi @jlipps,
at this time you cannot pass the native c-array directly to a contructor of `Napi::Array` class, instead you need to parse your native array and add every element to `Napi::Array` object. I report a small piece of code below.

[code]
Remember that use `Napi::Array` is not very efficient in terms of performance, so if you want pass back and forth data between JS and C++ use **buffer** o

[2018-12-17 01:16] nadongguri opened #409 "npm test is failed on earlier Node.js versions"
Hi, node-addon-api,

I've checked 'npm test' with earlier Node.js versions (v8.9.4) on linux env and
some tests such as bigint, callbackscope are required to higher version of Node.js.

Checking napi version is already in test/index.js but the value process.env.npm_config_NAPI_VERSION
is undefined on my setup, so.. users should set that value? (I have searched npm_config_NAPI_VERSION in the node a

[2018-12-17 13:28] atoy40 opened #410 "ObjectWrap and JSON.stringify"
Hello,

I' like to know if it is possible to get something from a JSON.stringify() call on an "ObjectWraped" instance ?
Do I have to implement specific methods into my object code (i"ve try to implement getOwnPropertyNames and set property enumerable) ?

Anthony.

[2018-12-17 13:53] NickNaso commented on #410
Hi @atoy40 ,
you coluld retrieve `JSON.stringify` from the global object like reported below:

[code]
Hope to be helpful.

[2018-12-17 13:54] NickNaso commented on #409
Hi @nadongguri,
could you specify the Node.js versions that present the problem?

[2018-12-17 14:20] atoy40 commented on #410
@NickNaso thanks, but that's not what i'm searching for :)
My problem is this : I've a c++ object wrapped into a node object through ObjectWrap<MyObject>. this object expose some acccessors. Then, in my javascript code, if I try ```JSON.stringify(an_instance_of_myobject);```, i only get ```MyObject {}```

The question, is it possible to get properties of my object into the json return value ?.

[2018-12-17 14:33] NickNaso commented on #410
@atoy40  Sorry I misunderstood your need. I try later to create an example for you. I will start from this example https://github.com/nodejs/node-addon-examples/blob/master/6_object_wrap/node-addon-api/myobject.cc
is it good for you?

[2018-12-17 14:35] NickNaso commented on #409
Are you using **nvm**?

[2018-12-17 14:35] atoy40 commented on #410
@NickNaso yes, I started from this kind of example to define my object, so it is looking like this one ... but with accessors instead of methods.

[2018-12-17 14:50] nadongguri commented on #409
Hi @NickNaso,
I used to download Nodejs in https://nodejs.org/dist but now I can use nvm. :)
I've installed nvm, downloaded few versions of nodejs and tested. Still I get the same result.

[2018-12-17 14:59] NickNaso commented on #409
I want better understand the problem:
Could you try this?
`nvm list`
The output should be something like this:
<img width="341" alt="screenshot 2018-12-17 at 15 52 23" src="https://user-images.githubusercontent.com/387506/50094883-7cecb580-0214-11e9-96dc-d89420be2c1b.png">
Then if you have **system** you can switch to system version:
`nvm use system`
Try to execute the test suite after this switch

[2018-12-17 15:17] nadongguri commented on #409
Hi @NickNaso,

[code]
As you see system's verison is v8.12.0. With the latest clean node-addon-api code in master branch,
"npm test" is failed at the bigint test.

[code]

I'm wondering when process.env.npm_config_NAPI_VERSION is set... or I can add code to check nodejs and napi version then skip those test cases with unproper nodejs.

[2018-12-17 17:20] atoy40 commented on #410
@NickNaso I've found some results. By implementiing to function : toJSON for the json stringify, and a function set to the symbol "nodejs.util.inspect.custom" for console.log display.

[2018-12-18 22:09] gabrielschulhof commented on #406
@CTianXing @romandev is [working on](https://github.com/nodejs/node-addon-api/issues/312#issuecomment-446281135) providing a C++ wrapper for [napi_threadsafe_function](https://docs.nodejs.org/dist/latest-v10.x/docs/api/n-api.html#n_api_asynchronous_thread_safe_function_calls). In the meantime, you can use the C API directly.

At any rate, you should replace
[code]
with
[code]
which you then create

[2018-12-18 22:15] gabrielschulhof commented on #404
@sudhakar3697 I think you want to store `emit` as
[code]
That way the function can be called repeatedly from the native side.

[2018-12-18 22:47] mhdawson commented on #409
Out CI sets the NAPI_VERSION as follows

[code]

We should probably document this somewhere.  I think I had tried to make it automatically default to the right value but was not successful.

[2018-12-19 17:12] Graar opened #411 "Using node-addon-api with templated C++ code"
Is it possible (and if so how) to use node-addon-api with C++ code that is templated.  That is rather than specifying the types of the arguments as in:

[code]
the type is templated as in
[code]
I have followed the excellent tutorial at:
[Beginners guide to writing Node-JS addons using C, N-API and node-addon-api](https://medium.com/@atulanand94/beginners-guide-to-writing-nodejs-addons-using-c-and

[2018-12-20 02:22] CTianXing commented on #406
@NickNaso @gabrielschulhof Thank you very much!
I implemented it with "async_work_thread_safe_function". Wave API usually deal data in the CALLBACK waveInProc,but napi_call_threadsafe_function must be used in the ExecuteWork,is that right? so I preserve the result to global in waveInProc ,then I call napi_call_threadsafe_function in the ExecuteWork once a second. It works,I can get the result cont

[2018-12-20 16:50] gabrielschulhof commented on #406
@CTianXing sounds like you're using `napi_threadsafe_function` correctly👍 `napi_call_threadsafe_function` can be called from any thread.

[2018-12-20 17:33] mhdawson opened #412 "Discussion on NaN with N-API"
https://github.com/nodejs/nan/issues/836

[2018-12-25 22:46] DaAitch opened #413 "threadsafe: RunInNodeThread"
Beside wrapping `napi_*_threadsafe` I'd also love to see a `RunInNodeThread` implementation in `node-addon-api` as an enabler for "concurrent processing" / multithreading and modern C++ with NAPI.

- see a [usage example here](https://github.com/DaAitch/napi-experimental/blob/412a466ced8b6f4587db01a263acc21054bffdc7/src/module.cc#L53)
- and a [possible implementation here](https://github.com/DaAit

[2018-12-26 13:40] DaAitch commented on #411
Hi @Graar,

this is a pure C++ question and has nothing to do with `node-addon-api`.
Of course you can use templates. Keep in mind, that templates are like macros: they may produce code which will be compiled and after compilation they are gone. In your `.node` file there will be no templates anymore. It's just something the language supports for writing code.

Read about C++ templates.

[2018-12-26 13:49] DaAitch commented on #410
@atoy40 You need to go through [the rules](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify#Description) what `JSON.stringify(...)` is doing with the `value` parameter.
`toJSON` seems to be the first check so simply [implement](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify#toJSON()_behavior) that funct

[2018-12-26 13:57] DaAitch commented on #408
@GhostFlying did you test it?
From JS you always have a Napi::Value at first and then discover the type with `.Is***` then cast and use it.
You should try and ask again if sth. unexpected happening.

[2018-12-26 14:10] DaAitch commented on #392
@nikita-malyschkin-work did you mix up something?
`Napi::Persistent(...)` is a function not a type and there is no `Napi::ObjectReference::Persistent`.

[code]

can you check, what you've pasted.

[2018-12-26 15:42] DaAitch commented on #381
@AeromXundes
agree that an `Napi::Value Function::operator()(...)` impl would be cool, but I can also live with `Call`.

If you don't know JS, a call like `callback.Call(obj)` would be ambiguous, as it's not clear if obj is the `recv` param or the first argument. So `callback.Call(obj, {})` and also `callback.Call({obj})` makes it clear and that's what I prefer when reading code.

If `callback.Cal

[2018-12-26 16:02] DaAitch commented on #380
@AeromXundes agree: PR created

[2018-12-26 16:33] DaAitch commented on #301
@jasongin I think this is still an issue that should be considered. Everytime I use lambdas or however need to keep a reference for using it later, I jump back to C-NAPI using `napi_ref`.

If `Napi::Persistent` should be what `v8::Persistent` is, would it be worth starting a PR with a different class having that features, being also copyable?

Seen lot's of code where they introduce a new object o

[2018-12-26 17:51] bmacnaughton opened #416 "fatal error #include <functional>"
I get the following error trying to compile a simple test project using node-addon-api under Ubuntu 18.04:
[code]
Reading [issue 222](https://github.com/nodejs/node-addon-api/issues/222) it seems to be a Mac-specific file; is node-addon-api intended only for use on a Mac or Windows (there are a lot of Microsoft-specific checks in napi.h)? If not, is there some configuration I can do to tell it tha

[2018-12-26 18:00] bmacnaughton commented on #416
never mind. it's a c++ header that i hadn't used before; it's in /usr/include/ and i just need to set up the path for it.

[2018-12-26 18:00] #416 closed

[2018-12-27 15:55] DaAitch commented on #301
Did another implementation on this as `Napi::SharedValueReference<T>`.

**pro:**
- copyable, movable references
- no dynamic memory allocation
- no pending references or leaks possible

**contra:**
- global std::mutex synchronizing `napi_*_reference_*` API calls

Now this is possible:

[code]

[2018-12-28 02:41] bmacnaughton opened #418 "Wonderful docs"
I know you don't need random issues clogging up your workflow. You can just close this without comment. But the improvement this has undergone since I first used Nan about 15 months ago is monumental. Documents like [object-lifetime-management](https://github.com/nodejs/node-addon-api/blob/master/doc/object_lifetime_management.md) provide the concepts that really put the pieces together.

Please t

[2018-12-28 09:37] NickNaso commented on #418
Hi @bmacnaughton,
thank you for this wonderful feedback. I'm really happy that you appreciated the documentation. All the N-API team worked hard trying to write something that is more than just a reference and your feedback confirm me that we are in the right direction.
Furthermore we want improve our documentation like reported in the following issue:
**[https://github.com/nodejs/node-addon-api/i

[2018-12-28 11:34] DaAitch opened #419 "noexcept control flow issues"
I think there are two noexcept issues with control flow.

#### 1. `NAPI_THROW` noexcept control flow
Like `NAPI_THROW_IF_FAILED*`, `NAPI_THROW` should also always abort control flow, but noexcept definition doesn't have a return so execution continues. All implementations using `NAPI_THROW` have a trailing `return` statement, so there is no bug, but I'd say it's unclean.

[code]

#### 2. noexcept

[2018-12-28 13:55] DaAitch opened #421 "confusion about NAPI_VERSION, NAPI_EXPERIMENTAL"
I'm a bit confused about the NAPI versioning, like `NAPI_VERSION`, `NAPI_EXPERIMENTAL` macros.

#### 1. ~~deprecation of `NAPI_EXPERIMENTAL`~~
With https://github.com/nodejs/node-addon-api/commit/73fed84ceb51dea3993179885009e86c9630eb12 impl has been changed to only use `NAPI_VERSION` to determine whether features can be used.
1. What not has been adapted are the `#endif` comments like https://git

[2018-12-29 01:06] gabrielschulhof commented on #421
@DaAitch `NAPI_EXPERIMENTAL` comes from [N-API](https://github.com/nodejs/node/blob/master/src/js_native_api.h#L8-L16). I guess you're right though in that we should not base our decisions on whether `NAPI_EXPERIMENTAL` is defined, but rather only on what value `NAPI_VERSION` takes. `NAPI_EXPERIMENTAL` should only be used to crank up the version number so as to make available all the experimental

[2018-12-29 13:38] DaAitch opened #422 "change node-addon-api build to cmake"
This is not a request to change everything in one day, but a possible improvement/POC of the build.
What are your feelings about a `cmake` setup?

improvements:
- get rid of node-gyp one day (like me, what I've read community is not very happy with it)
- no config-only rigid builds
- cmake features
  - build is code
  - cross-os compilation
  - actively maintained
  - standard build tool for C/C++

[2018-12-29 23:41] gabrielschulhof commented on #422
Well, it's a modification to the CI infrastructure. We need to see if a switch to CMake is already in work on https://github.com/nodejs/build/.

[2018-12-30 11:44] DaAitch commented on #422
what I could found on nodejs and builds is:

- https://github.com/nodejs/build/issues/1003 (request cmake)
- https://github.com/nodejs/TSC/issues/642 (new gyp WG for nodejs)
- https://github.com/nodejs/node/issues/21410 (node use gn)

@mhdawson has been involved to some issues. maybe he can help us here?

[2019-01-02 19:43] mhdawson commented on #422
There has been some exploratory work to look at using cmake with node core, but its not gotten to the point where there is consensus or a view on when it might/might not happen.

I think it is interesting it exploring using cmake instead.  Is it possible that we could support both at the same time?

[2019-01-02 20:00] #419 closed

[2019-01-02 20:07] DaAitch commented on #422
@mhdawson I did some refactoring of the build, but in general if I hadn't remove the gyp files, we could support both the same time. No change of the sources, so: yes.

[2019-01-02 20:11] #380 closed

[2019-01-02 20:16] #383 closed

[2019-01-02 20:20] mhdawson commented on #422
Can you share what it looks like with cmake support added?  Would be good to look at the changes to better understand.

[2019-01-02 20:23] DaAitch commented on #422
sure, it's already attached above: 98cc0c3120afa6aaa25516c277f4607349ebbfe6

[2019-01-02 20:46] mhdawson commented on #422
Opened https://github.com/nodejs/TSC/issues/648 to rekindle the discussion for using cmake in node core.

[2019-01-02 21:13] NickNaso commented on #368
What do you think if we add something about the N-API badges in the web site for the documentation?
See: **[https://github.com/nodejs/node-addon-api/issues/334](https://github.com/nodejs/node-addon-api/issues/334)**

[2019-01-02 21:33] mhdawson commented on #421
I'd have to look more closely as I think we need NAPI_EXPERIMENTAL to be defined in the tests as that is what ends up making NAPI_VERSION 2147483646 the default so that without any options npm test runs all of the tests.

I do agree that we should have a constant for NAPI_VERSION_EXPERIMENTAL but I think it makes sense in node core were NAPI_EXPERIMENTAL is defined.  Just opened a PR here for that

[2019-01-02 23:33] DaAitch commented on #381
@AeromXundes ok cool :+1:

[2019-01-03 20:08] mhdawson commented on #368
Makes sense toi me.

[2019-01-03 21:05] DaAitch commented on #421
(also discussed in NAPI team meeting)

- both NAPI_VERSION and NAPI_EXPERIMENTAL are needed
- NAPI_VERSION for using a specific version to compile against (current/default version is 3)
- NAPI_EXPERIMENTAL for using new experimental features not having any version yet

next steps:

- PR nodejs/node#25319 (`#define NAPI_VERSION_EXPERIMENTAL 2147483647`)
- PR node-addon-api
  - substitute magic numb

[2019-01-04 14:04] mhdawson commented on #421
@DaAitch sounds goog to me.

[2019-01-04 14:10] mhdawson commented on #422
I'm not sure yet. It would be good to have a more complete picture on the suitability of cmake for building addons in general.  A distinct PR might make it easier to see the changes that it introduces but I'm not sure we'd be ready to land it.

[2019-01-04 14:37] alandefreitas opened #423 "Returning arrays from the add-on"
How do I return an array of strings from my addon? I tried to follow the examples and the tests but the elements in my array are still undefined. Is there anything wrong with the code below?

[code]

Thanks,

[2019-01-04 15:40] DaAitch commented on #422
@mhdawson okay, so we can retrigger this after nodejs/TSC#648. I'll close this.

[2019-01-04 15:40] #422 closed

[2019-01-04 15:42] DaAitch commented on #423
LGTM, maybe you're just missing an `i++`

[2019-01-05 00:37] alandefreitas commented on #423
Thanks for noting the `i++`. That's how I had it in a previous version. I put the `i++` back but it still doesn't work. I registered the function like all other functions (all other functions work) and when I call it from javascript:
[code]
I get:
[code]
(I fixed the `i++` in the original question in order to avoid confusing other people)

[2019-01-05 01:32] alandefreitas commented on #423
@DaAitch Thank you so much. I'll check some of these possibilities.

[2019-01-05 01:32] #423 closed

[2019-01-08 19:07] mlangwell opened #425 "No return value"
Hello everyone,

I am fairly new with N-API, and I absolutely love how it works!

However, I have a weird issue where I am not getting a return value from the compiled C++ node module. It is very odd behavior. I have tracked the issue all the way down to the last line of code where I return the value that I need (in my C++ file).

Everything works up until that point and once it hits the line wher

[2019-01-08 19:50] mlangwell commented on #425
Hi @NickNaso,

I am using Node v8.11.2. Unfortunately my code is not public and my company has a very strict NDA, so I cannot share much with you at all.

However, here is a brief example of what I am trying to do.

[code]

Like I said in my original statement, the try/catch is not working and I am not even seeing the message "Warning: N-API is an experimental feature and could change at any time.

[2019-01-08 22:47] NickNaso commented on #425
Hi @mlangwell ,
as first thing check your file `binding.gyp` you have to set it like reported below to enable the exception:
[code]
Then I report an example of usu for the `Napi::Array`

[code]

[2019-01-09 13:38] mlangwell commented on #425
Thanks @NickNaso for the speedy responses!

However, unfortunately I am already doing all of what you described. I am not seeing any errors even with this binding.gyp configuration. One of my other functions work, its just this one that is not.

I can see every value all the way up to the return statement from the C++ side, but I am not getting any response from the node module at all. It just sto

[2019-01-09 17:20] NickNaso commented on #425
Hi @mlangwell,
if you set the `binding.gyp` like i reported you don't need to handle the exception, but every C++ exception will be automatically convert and thrown as C++ exception of type `Napi::Error`. You can caught the while still in C++, or else automatically propagated as a JavaScript exception when returning to JavaScript.
It could useful investigate what you do when you create the `Napi::

[2019-01-09 17:50] NickNaso commented on #418
I'm closing the issue. @bmacnaughton Thanks again for your appreciation.

[2019-01-09 17:50] #418 closed

[2019-01-09 18:10] Graar commented on #411
@NickNaso Yes, please can we keep it open.  I'm trying to catch-up after the holidays and I want to give a considered response to @DaAitch.  I don't want this to be my reply, but what I am struggling with is where the type conversion occurs on input.

On the input side, as @DaAitch observes, after compilation in straight C++, the templated class would be replaced with versions of the class for eac

[2019-01-09 19:09] DaAitch commented on #411
@Graar

Good question, but that's not what is happening with napi or node-addon-api. We only `export` one initialize method, to be called from nodejs to setup our module with exports. The interfaces we are implementing are

- napi: `napi_value myfunc_c(napi_callback_info info);`
- or node-addon-api `Napi::Value MyFuncCpp(const Napi::CallbackInfo& info);`

If you want to support JS numbers and stri

[2019-01-09 19:44] gabrielschulhof commented on #411
@Graar were you looking for something like the example below?

[code]

[code]

[2019-01-09 20:57] DaAitch commented on #411
:laughing: yeah @Graar now you have two examples.
@gabrielschulhof thanks, did update it in my comment

[2019-01-09 22:20] NickNaso commented on #411
@Graar

Are you creating a wrapper to create native add-ons with programing language different from C / C++? If yes I'm interested in which were your implementation choices, obviously if you can and want talk about it.

[2019-01-10 09:53] Graar commented on #411
@DaAitch @gabrielschulhof @NickNaso
Thanks so much guys.  I see now and I understand the code above.

Just to clear up the confusion I created about other languages, we have wrappered the same C++ code using [SWIG](http://www.swig.org/) to expose a Python API, so when I said wrappers for other languages I meant wrappers for the C++ code to make it available to other languages, specifically Python.

[2019-01-10 19:34] mhdawson commented on #411
@Graar sounds like it would be ok to close this issue now?

[2019-01-17 23:03] mlangwell commented on #425
Hi @NickNaso,

Sorry I have not gotten back with you sooner. I have been working on other things.

I am doing exactly what you have mocked up there with my array. Although populating the array cannot be the problem. I completely removed all of my logic to populate and return the array. I hard coded a Napi::String return, and it still does not work. I am honestly clueless what this could be. This i

[2019-01-18 10:31] stevebaxter commented on #269
Is there a solution or workaround for this? We are building an Electron app that runs on Mac and Windows and needs to call a C++ lib which is packaged as a napi module. Everything works perfectly on the Mac, but we get this problem on Windows.

This is a bit of a disaster for us if this doesn't work!

[2019-01-18 14:56] mhdawson commented on #269
@codebytere would you be able to help us better understand the problem and what options there are for improving this when using modules with Electron?

[2019-01-18 15:11] mhdawson commented on #425
@mlangwell a few additional questions although @NickNaso will likely have better ones :)

* If you remove everything except
[code]
  do you get the expected behavior?

2) If you add something like:

[code]
before the return with the original code what do you get?

[2019-01-18 15:16] stevebaxter commented on #269
I have managed to work around this problem. I'm building my native module using cmake-js, here is what I did:

1. Add `set_target_properties(${PROJECT_NAME} PROPERTIES LINK_FLAGS "/DELAYLOAD:node.exe" )` to the Windows version of our native module in CMakeLists.txt
2. Add a delay load hook based on the code here: https://github.com/billti/create-vs-napi/blob/master/template/win_delay_load_hook.cc.

[2019-01-19 06:14] DuBistKomisch commented on #265
+1

Migrating some code now which uses `IsUint32`, I suppose with `IsNumber` + `Uint32Value` you still end up with an integer anyway, but would be nice to enforce more checking.

[2019-01-19 07:30] DuBistKomisch opened #427 "Reference Persistent and Weak shortcuts incorrect in documentation"
Hi, just trying converting some code from nan to n-api using this library and the docs have been pretty good except for this.

`Napi::FunctionReference::Persistent` is listed here: https://github.com/nodejs/node-addon-api/blob/44f0695533327a12548a5015c444a3a5d731bb5c/doc/function_reference.md#persistent

However the actual method is `Napi::Persistent` overloaded to take a `Napi::Function` as seen

[2019-01-20 18:34] refack commented on #422
FYI: there is https://github.com/cmake-js/cmake-js

[2019-01-21 22:31] mhdawson commented on #427
@DuBistKomisch thanks for the report.  Do you want to submit a PR to fix this up?

[2019-01-21 23:43] DuBistKomisch commented on #427
@mhdawson sure

[2019-01-22 11:29] p3x-robot opened #429 "transform a pointer array to Napi::Array without using a big for?"
Hello!

How are you? How can I transform a pointer to a Napi::Arrray without `for` or is it the fastest that is possible?

**Second question**: Transforming from the pointer to `Napi::Array` is `ȮnOk` in the worker thread or is that already on the main thread?

Thank you so much!
Patrik

[2019-01-22 12:33] aazavid commented on #312
How is the process going? It would be nice to get examples.

[2019-01-22 13:21] romandev commented on #312
I tried to work on this issue for a while after a long vacation, but soon @DaAitch PR(#424) came up. I was too late and his PR looks reasonable to me. I believe he will finish the work soon. :)

[2019-01-23 08:09] p3x-robot opened #430 "How to delete an AsyncWorker pointer?"
Hello!
How are you? I have a weird problem:
[code]
It looks like the `testWorker` is a `pointer`, but when is it going to be freed up/deleted? The example was no info how to delete this `pointer`... Is this valid code?

[2019-01-23 12:07] kevinGodell commented on #430
I was just playing with this exact thing last night. If you add the destructor method override in your asyncworker subclass and have it do something like `std::cout << "async worker destruction" << std:endl;` then you should see it print to the console when it completes its Execute and OnOK methods and is destroyed. I think it is destroyed by default unless you explicitly tell it not to be.

[2019-01-23 13:06] kevinGodell opened #431 "AsyncWorker Buffer Reference Garbage Collection"
I am using asyncworker and recently found that under the right conditions, my napi::buffer sometimes gets garbage collected before Execute completes which causes a seg fault. @gabrielschulhof recently helped me to understand asyncworker and [suggested the use of a Napi::Reference<Napi::Buffer>](https://github.com/nodejs/node-addon-examples/issues/73#issuecomment-449891727).

In my initial testing,

[2019-01-23 18:37] gabrielschulhof commented on #430
The object instance does indeed self-destruct. We're [adding](https://github.com/nodejs/node-addon-api/pull/407) a `SuppressDestruct()` method for cases where self-destruction is undesirable.

[2019-01-23 18:40] iffy opened #432 "How do I save a callback for later with node-addon-api?"
I want my C library to be able to call a JS function multiple times. I got it to work using Nan but am having trouble converting it to N-API/node-addon-api.

How do I save a JS callback function and call it later from C?

Here's what I have using Nan:

[code]

How do I do the equivalent with node-addon-api? All the examples I've seen immediately call the callback or use AsyncWorker to somehow save

[2019-01-23 22:55] mhdawson commented on #431
Do you have the full code somewhere in a repo we can look at?

My first guess is that wherever buf0ref is defined is being destructed, taking the buf0ref along with it.  buffer0ref should likely be part of your asyncworker class.

[2019-01-23 23:01] mhdawson commented on #429
Any access to a JavaScript object must be on the main thread, not the worker. From the doc:

Therefore it is correct that you can only access the array on the main thread.

However you may be able to use an array buffer: https://github.com/nodejs/node-addon-api/blob/master/doc/array_buffer.md.  You would format the raw data on the worker thread and then wrap that into an ArrayBuffer in the main th

[2019-01-23 23:10] mhdawson commented on #432
You should just be able to use

 Napi::FunctionReference r_log = Napi::FunctionReference::Persistent(const Napi::Function& value);

in place of the Persistent you are using.

See the docs here: https://github.com/nodejs/node-addon-api/blob/master/doc/function_reference.md

As  a subclass of Napi::Reference Napi:FunctionReference was the Ref, Reset etc. calls.

Note that you may need to call void N

[2019-01-24 21:44] DaAitch commented on #312
@romandev I tought you're working on wrapping napi_threadsafe_function calls? I did not do that. I was working on a util method for making node calls from second thread easier.

[2019-01-24 22:35] iffy commented on #432
@mhdawson Thank you for the pointers.  Here's my complete working code (for anyone else who wonders this):

[code]

[2019-01-24 22:35] #432 closed

[2019-01-25 02:59] #406 closed

[2019-01-25 16:54] mhdawson commented on #429
What I had in mind is that you can use

[code]
to wrap externalData into an ArrayBuffer.  You should be able to build the externalData off of the main thread and then in the OnOK wrap it into an ArrayBuffer and return it.

You should them be able to use the finalizeCallback to free the externalData when the ArrayBuffer is garbage collected.

I think you just don't have the correct type for finaliz

[2019-01-25 16:58] #429 closed

[2019-01-27 11:18] p3x-robot opened #433 "Napi::ArrayBuffer is not good for a float pointer, how does the TypedArray works if I got a float* pointer?"
Hello!
Could you help me how to use a Napi float* and trying to use faster than transforming from setting the Napi::Array, trying to use the actual pointer.
Is there a way to use for the TypedArray?

ArrayBuffer is not working because I have floats and receive a Uint8 and it is not working.

Thanks.

[2019-01-28 22:22] mhdawson commented on #433
I'm not quite following your question.  Is it that you need to read/write the contents of the Array on a separate thread in JavaScript or on the main thread.

There are TypedArrays and DataViews in node-addon-api that will help with some of those. Care would be needed depending on where you need to use them (main thread or non-main thread).  I don't think the read/write methods call back to node-a

[2019-01-28 22:32] iffy opened #437 "What do I need to be aware of memory-wise when making an addon?"
I'm writing a native addon and am getting occasional segfaults.  I haven't encountered any segfaults when running my add-on code in a non-Node environment.  It *seems* (but I haven't been able to prove or observe memory during a segfault) that the C-code's memory is getting corrupted.

Is there any documentation about what Node or node-addon-api does to memory that addons should be aware of?  I as

[2019-01-28 22:38] mhdawson commented on #437
You are correct that if your C code alloc's memory that Node won't use that memory.  I'd suggest running under valgrind which can help you find where memory problems are occurring (double frees, writing to uninitialized memory etc.)

[2019-01-29 00:15] twoi opened #438 "How to have a background thread call back to JS multiple times?"
TL;DR How can a long-running thread call a JS function repeatedly, i.e. without the use of `AsyncWorker`?
---
`AsyncWorker` seems to be for one long-running task that calls back to JS land only once, once finished.

In my scenario, a background thread is repeatedly calling back to JS land, something like relaying events that occur in native land to a JS callback. In the past (node.js 0.8), I did t

[2019-01-29 00:56] twoi commented on #438
N.B. There is an example that seems to be doing something like I want to do, in plain N-API at https://github.com/nodejs/node-addon-examples/blob/master/async_work_thread_safe_function/node-api/

It is using *_threadsafe_function for that, which is nowhere to be found in the node-addon-api sources, so I guess I have to go N-API for this? But then, what would AsyncContext and CallbackScope be good

[2019-01-29 01:04] twoi commented on #438
So the *_threadsafe_function isn't even part of the N-API included in the latest node-addon-api, which would mean I have to ditch node-addon-api and do everything with lower level N-API?

[2019-01-29 08:07] romandev commented on #438
@twoi, I think this issue is duplicated with https://github.com/nodejs/node-addon-api/issues/312

Yes, for now.

[2019-01-29 08:15] romandev commented on #312
@DaAitch Okay, thank you for explanation. I was lacking in understanding. I'll send a PR. Please review it when you have a spare time.

[2019-01-29 13:49] DaAitch commented on #312
@romandev @mhdawson @gabrielschulhof

I think this needs some clarification now.

There is misunderstanding happening here. @romandev started working on a PR to land napi tsfn node-addon-api impl. I did not do that. I was working on an idea I started as WIP PR (#424), but which might never land. Only for the purpose to have some kind of documentation on things we tried out.

The reason why it look

[2019-01-29 14:06] DaAitch commented on #433
Can you try this. I'm not quite sure about the endianess (BE or LE) in Node, but simply try it:

1. create `float*` on 2nd thread: either via [`Napi::AsyncWorker`](https://nodejs.github.io/node-addon-api/class_napi_1_1_async_worker.html) or the C [napi tsfn](https://nodejs.org/api/n-api.html#n_api_napi_threadsafe_function) to call into NodeJS from 2nd thread (currently tsfn impl missing in node-ad

[2019-01-29 14:36] DaAitch commented on #438
To your question @twoi thanks for asking.
Short version is (I hope this is still valid):
- `AsyncWorker` uses nodejs computation threads, good for async short running tasks like algorithms to not block main loop, don't do long running tasks with it, like IO or sleeping/waiting, etc., you only have a few threads (fixed size pool)
- tsfn is for making threadsafe calls into node, so you can use whate

[2019-01-29 14:47] DaAitch commented on #437
@iffy You can also try out Visual Studio Code Debug (I'm always using it and it's such a great tool, also C++ code support).
Simply run `node app.js` with `gdb` (I don't know what is on Mac or Windows). From the call stack trace you should be able to see where it happened and of course debug it, check the values etc.

[2019-01-29 19:42] gabrielschulhof commented on #437
@iffy the other thing you should be aware of is that JavaScript values (`napi_value` in plain N-API code, and `Napi::Value` or `Napi::Number` or `Napi::Object`, etc. in node-addon-api code) cannot be stored in an instance variable and accessed at arbitrary times in the future. They can only be used within the function call where they are created or into which Node.js passes them.

[2019-01-29 23:39] twoi commented on #438
Thanks @romandev @DaAitch

But how can `AsyncContext` and `CallbackScope` be used asynchronously?

[2019-01-30 19:45] iffy commented on #437
valgrind with node on my mac seems a bit hopeless.  Are any of you using a mac+valgrind+node?  Is this a bug in node that I should file?

[code]

[code]

[code]

macOS 10.12.6

[2019-01-30 20:38] gabrielschulhof commented on #437
`Address 0x18 is not stack'd, malloc'd or (recently) free'd` looks like there's a `NULL` dereference somewhere. That is, some value is `NULL` and there's no check to make sure it's not `NULL` before it gets dereferenced.

[2019-01-30 20:42] iffy commented on #437
@gabrielschulhof the code that causes that is `console.log("hello world");` (it's the only thing in `foo.js`)  That's what makes me think it's a bug with Node.  Or maybe with valgrind or macOS.  Or a combination of the three.

[2019-01-30 20:44] gabrielschulhof commented on #437
@iffy you might be better off reporting this against the [Node.js issue tracker](https://github.com/nodejs/node/issues/new). Are you getting this error with an official version of Node.js?

[2019-01-30 20:45] iffy commented on #437
@gabrielschulhof v11.7.0 installed with nvm -- okay, I'll report it

[2019-01-30 20:46] gabrielschulhof commented on #437
@iffy does it still happen with v11.8.0?

[2019-01-30 20:49] iffy commented on #437
@gabrielschulhof Yes, it happens with v11.8.0 also (just tested).

[2019-01-30 20:50] iffy commented on #437
I've reported it here: https://github.com/nodejs/node/issues/25830

[2019-01-31 10:24] DaAitch opened #439 "Clarification: node-addon-api scope"
There were a lot of cool discussions about what "node-addon-api" can be in the future, but I think we should make a decision which scope node-addon-api has, because I feel some of the issues are better implemented as another util library than in node-addon-api.

Some questions and examples:

#### A. Will node-addon-api be only a wrapper for napi in C?

If so, we should not implement any "utils", b

[2019-01-31 19:11] mhdawson commented on #439
I think the one thing to add to the discussion is that part of the goal was to make it easy to transition from nan.  Now that does not mean that functionality from nan must be in node-addon-api directly but we would need to plan out where that added functionality might go.

Thinking off the top of my head I wonder if node-addon-api could the parent and then we could have node-addon-api-core which

[2019-01-31 19:21] mhdawson commented on #433
@DaAitch thanks for clarifying that is what I was trying to explain :)

[2019-02-01 11:09] #433 closed

[2019-02-01 18:33] iffy opened #440 "error MSB4019: The imported project "C:\Microsoft.Cpp.Default.props" was not found"
I'm getting the following error when trying to build on a Windows VM with `yarn`:

[code]

I don't see `nothing.vcxproj` anywhere in this repo, so I'm not sure how it's made or why it's made incorrectly.  Line 20 of the file is this:

[code]

- Assuming I need to, how do I set VCTargetsPath to something?
- And what is `nothing.{c,vcxproj}` even for?

[code]

- `msvs_version` is `2015`
- Windows 10

[2019-02-01 21:18] mhdawson commented on #440
@digitalinfinity could ou help since this is windows?

[2019-02-01 22:13] iffy commented on #440
Looks like setting `VCTargetsPath` environment variable to `C:\Program Files (x86)\MSBuild\Microsoft.cpp\v4.0\v140` *and* installing `windows-build-tools` with the `--vs2015` flag made that part work (e.g. `npm install --global --production windows-build-tools --vs2015`)

[2019-02-01 22:13] #440 closed

[2019-02-04 18:13] #375 closed

[2019-02-08 05:15] iffy commented on #432
I guess I should mention that I'm not doing anything asynchronous.  Calls to `emitLogInJS` are always results of synchronous calls initiated by JS.

[2019-02-08 05:35] twoi commented on #432
@iffy That would explain it... So they are always on the JS thread, but still made after the call to `register_logger`, that registered the callback, finished.

[2019-02-08 11:48] Karthick0790 commented on #269
Thanks @stevebaxter , The above solution worked for us.

[2019-02-08 14:27] mhdawson commented on #269
@digitalinfinity could you possibly take a look at this since it affects Windows and help the N-API understand the problem and any way forward?

[2019-02-08 14:34] maierfelix opened #443 "Equivalent to Nan::Persistent<v8::String>"
Hi, I'm trying to add a persistent reference to a javascript string in my class like this:

[code]

[code]

I tried `ObjectReference` as well, but get the same error, what am I missing?

Thanks

[2019-02-08 17:07] gabrielschulhof commented on #443
@maierfelix N-API does not support references to primitive types, because engines other than V8 do not support them. If you want to store a primitive string, you must store it as a `char*` and then convert it back to a JavaScript string by creating a new JavaScript string.

Out of curiosity, what is your use case for storing a persistent reference to a string?

[2019-02-08 17:17] maierfelix commented on #443
Thanks for clarifying! I need to convert a large code generator which currently emits v8 code over to napi and was just fiddling around to collect the differences

[2019-02-08 17:17] #443 closed

[2019-02-10 15:01] maierfelix opened #444 "Error is thrown as "Unknown failure""
I'm throwing an Error like this:
[code]

where `env` is taken from an `ObjectReference` like this:
[code]

but instead of `Test`, the error shows `Unknown failure`.

[2019-02-10 15:03] addaleax commented on #444
Do you think you could share a full reproduction, so that this is easier to debug?

[2019-02-11 14:27] bsrdjan opened #445 "node-gyp Python 3 support"
Considering Python 2 will not be maintained past 2020 and [node-gyp Python 3 support](https://github.com/nodejs/node-gyp/issues/1337) looks unclear, any thoughts here how building N-API modules could look like in a year from now? Any alternatives to start exploring now?

[2019-02-11 14:56] NickNaso commented on #445
@bsrdjan You are right, we start thinking about the problem you reported and in general it's a problem that interests all the Node.js ecosystem.

[2019-02-11 15:44] mhdawson commented on #445
@bsrdjan thanks for adding this to the radar.  It's not specific to N-API as it will affect all modules.  We should probably consider how this aspect should be included in: https://github.com/nodejs/TSC/issues/642

[2019-02-11 15:49] mhdawson commented on #445
Related: https://github.com/nodejs/node-gyp/issues/1337

[2019-02-12 02:21] zombiecong commented on #110
Hi @NickNaso ,
I also have same problem as @marcelman. Do you finish the new example?Is it possible to share it with me?

[2019-02-13 11:28] Yzrsah commented on #445
https://chromium.googlesource.com/experimental/chromium/src/+/refs/wip/bajones/webvr/tools/gn/docs/cookbook.md

[2019-02-13 11:29] Yzrsah commented on #445
[GYP->GN Conversion Cookbook](https://chromium.googlesource.com/experimental/chromium/src/+/refs/wip/bajones/webvr/tools/gn/docs/cookbook.md)

[2019-02-13 11:36] Yzrsah commented on #445
[GYP->GN Conversion Cookbook](https://chromium.googlesource.com/experimental/chromium/src/+/refs/wip/bajones/webvr/tools/gn/docs/cookbook.md)

[The build system](https://fuchsia.googlesource.com/fuchsia/+/master/docs/development/build/overview.md)

[2019-02-13 15:40] maierfelix commented on #444
I had a bug in my code, it's working now

[2019-02-13 15:40] #444 closed

[2019-02-13 20:36] iffy commented on #437
I just learned that Node [uses threads](https://www.future-processing.pl/blog/on-problems-with-threads-in-node-js/).  I wonder if that's the source of my memory problems?

[2019-02-13 20:39] addaleax commented on #437
@iffy Unless your addon code also uses threads, that should not be an issue, no.

[2019-02-13 20:46] iffy commented on #437
@addaleax What if my code does thread-unsafe things?  For instance, I'm using SQLite compiled without thread safety.

[2019-02-13 20:50] addaleax commented on #437
@iffy That is okay so long as you do not run your code on multiple threads. (I’m assuming your not using your addon from multiple `worker_threads.Worker`s here.)

[2019-02-13 20:53] iffy commented on #437
Correct, I am not using any worker threads or doing anything explicit with threads in either my C/C++ or in Javascript.

From the article I linked, it seems to me that Node (libuv) has a threadpool, and that calls to native modules happen in threads of that threadpool.  Or is my native code being executed in the main thread (the one that all the Javascript runs in)?

[2019-02-13 20:55] addaleax commented on #437
It is, yes.

[2019-02-14 01:06] twoi commented on #438
In the meantime, I've switched to the lower-level N-API to get the job done. It would still be great to be able to do this in node-addon-api, though. I find N-API not as easy to use as node-addon-api.

[2019-02-14 06:09] gabrielschulhof commented on #438
@twoi node-addon-api and N-API can be used together. While we don't yet have a node-addon-api wrapper around `napi_threadsafe_function` you can use the rest of node-addon-api together with `napi_*_threadsafe_function()`. You can use things like `info.Env()` from `Napi::CallbackInfo info` to obtain the `napi_env` you need, because a `Napi::Env` is automatically cast to a `napi_env` when you pass it

[2019-02-14 06:10] gabrielschulhof commented on #438
TBH I'm starting to think we should expose `NAPI_THROW_IF_FAILED` and `NAPI_THROW_IF_FAILED_VOID` because they're super-useful for mixing node-addon-api and N-API.

[2019-02-14 06:21] legendecas commented on #438
Is there any discussion on this idea? :P having these two in future n-api would be very helpful.

[2019-02-14 12:47] kevinGodell opened #447 "Buffer::New finalizeHint clarification needed"
I was able to successfully create a buffer from external data inside the AsyncWorker. The array is created on the heap inside Execute() and the Buffer::New is created from the array in OnOK() before being passed in the callback. I have also verified that the finalizeCallback function gets called when node runs garbage collection.

I can't understand what the finalizeHint does. Looking at the tests

[2019-02-15 08:27] legendecas commented on #447
The hint is used as an additional argument on finalization. In some cases it might not be possible to determine what's else that is related to the data pointer since *it's underlying memory would be overwritten*. Thus an additional arbitrary hint that could indicates *how the data pointer could be released* is helpful in the case.

[2019-02-15 20:10] kevinGodell commented on #447
@legendecas Thanks for taking the time to respond. I do appreciate any feedback. Forgive me for not being very clear on my initial request.

What does the hint do, other than giving a hint? What type of information should be given in the hint? Do I have to handle the hint in the finalizeCallback or is that something that happens `automagically` in the node-addon-api/n-api layer? Are there any real

[2019-02-16 06:26] legendecas commented on #447
[code]

`uint16_t* data = new uint16_t[testLength]` doesn't require any additional hint to free `data` since it could be freed directly with `delete`.

[code]
If we used `aComplexStructPointer->data` as the buffer's data pointer, the data pointer could not be freed directly without knowing where `ComplexStruct` is. With an additional hint parameter, finalizers are able to properly release `data` w

[2019-02-16 14:03] kevinGodell commented on #447
@legendecas That is an awesome explanation. It is very clear and concise. Thank you for taking the time to help.

[2019-02-16 14:03] #447 closed

[2019-02-17 21:04] raffaeler opened #449 "Missing module in Init"
With the legacy api, I could obtain the addon module using this code:
[code]
I need the module to obtain the addon filename (and folder) using this code:
[code]
How can I get the **module** and the **filename** at initialization time now?

[2019-02-18 08:34] kaanmehmetaksoy opened #450 "ObjectWrap and destructor"
I'm using global.gc() to call the destructor method of the class derived from ObjectWrap. Isn't it possible to do this automatically? Actually I don't want to use global.gc().

[2019-02-18 09:46] raffaeler opened #451 "Natvis file for debugger variable visualization"
When working with Visual Studio it would be extremely useful to use a natvis file to visualize the internal nodejs structures (this can be used even if debugging on Linux).
The natvis specifications are here: https://docs.microsoft.com/en-us/visualstudio/debugger/create-custom-views-of-native-objects?view=vs-2017

The natvis file is easy to create as long as you have the structures. Since the API

[2019-02-20 03:42] legendecas commented on #450
GC would be triggered once certain criteria were matched. `global.gc` just forced a GC to be ran.

If certain operations must be performed in time, some methods like `close` or `shutdown` could be implemented and be invoked manually instead of waiting for object's to be gc-ed.

[2019-02-20 03:52] gabrielschulhof commented on #450
@kaanmehmetaksoy IMO your code should not have to rely on the destructor getting called. You should move whatever important things the destructor does into a method as @legendecas suggested and call that method instead of `global.gc()`, especially since calling `global.gc()` is no guarantee that the wrapping JavaScript object will be gc-ed, thereby causing the destructor to be called.

If you fact

[2019-02-20 18:53] mhdawson commented on #451
@digitalinfinity, @aruneshchandra could either of you two comment?

[2019-02-20 19:18] mhdawson commented on #449
If I remember correctly there was a discussion around including the module or not and the the decision was to drop the module from the parameters in order to avoid tying N-API to the Node.js module implementation.

It sounds like the main thing you want to figure out is the path as the name itself you probably can already figure out. Right?  What are you using the path for?

[2019-02-20 19:23] raffaeler commented on #449
@mhdawson Thank you Michael.
You are right, the main reason is obtaining the path of the addon itself. How can I get that?
I have a configuration file in that directory that I have to parse to retrieve a number of parameters.

But module can give me access to the require function as well as other symbols. The problem in dropping support for Module is the inability to easily migrate the addon. I su

[2019-02-20 19:28] mhdawson commented on #449
@raffaeler sorry to hear its been a bad start. I wish I better remembered the discussion as I know the concern was raised about not having access to the module and in the end there was an answer as to why it was thought it would not be an issue.  @digitalinfinity any chance you remember?

What other info do you need from the module for the addon?

[2019-02-20 19:46] raffaeler commented on #449
My codebase currently retrieves `dirname`, `filename` and the `require` function.
Filename is easy to replace with a preprocessor definition `__FILE__`.
By recursivly inspecting the global object I am seeing that `require` is also available via `process.mainModule.require` but I didn't test it. Can I replace it with this one?
I know there are also other symbols registered there but I currently can

[2019-02-21 02:38] gabrielschulhof commented on #449
@raffaeler another reason we dropped support for `v8::Local<v8::Object> module` is that most native addons are fronted by a JavaScript module. So, you don't normally have `index.node` in your npm package, but you have `build/Release/addon.node` and `index.js` which basically does
[code]

So, if your addon also uses the `index.js`/`./build/Release/addon.node` setup, you could do a bit of ping-pong:

[2019-02-21 07:47] raffaeler commented on #449
@gabrielschulhof I don't get your solution.
1. I have no control over the js file that will use the addon, so I must minimize all the required javascript code to initialize  the addon
2. I am not looking the module for the main module (I already can get it from `process.mainModule.filename`), but I need the exact path of the native addon at runtime which presumably will be something like `someproj

[2019-02-21 11:07] legendecas commented on #449
If I understand your question correctly, I'd believe [Thread Safe Function](https://nodejs.org/docs/latest/api/n-api.html#n_api_asynchronous_thread_safe_function_calls) is what you expected.

[2019-02-21 11:08] gabrielschulhof commented on #449
@raffaeler can you embed the configuration file into the native addon as part of the build process?

You can use the [N-API thread-safe function](https://docs.nodejs.org/dist/latest/docs/api/n-api.html#n_api_asynchronous_thread_safe_function_calls) to call a JavaScript function from any thread. Although the documentation marks it as experimental, we have [PRs](https://github.com/nodejs/node/pull/2

[2019-02-21 11:19] raffaeler commented on #449
@legendecas @gabrielschulhof Thank you.  I currently manage my own functions queue. When an event handler of any asynchronous function on the CLR side completes, I marshal the results on the Node/C++ side and enqueue the results in my queue. Then, on the main libuv thread, I get the bucket, map it to a function and invoke it.
I have to investigate if I can use those functions to reproduce the same

[2019-02-21 21:13] gabrielschulhof commented on #449
@raffaeler from your description of the "functions queue" it sounds like exactly what the thread-safe function does.

May I ask how you provide the native addon? Do you provide it as an npm package? Given that you said you did not control the JavaScript that loads the addon it sounds like you're providing the binary only, and instructing your users to place the configuration file into the same dir

[2019-02-21 21:43] raffaeler commented on #449
@gabrielschulhof thanks for the answer. I will investigate the threading function as soon as I solve the more basic problems.

Yes, the addon is provided via npm but since it can be used in multiple apps, it would not be wise to use the user's home directory. The configuration file must be kept app-specific.
The user may change the config file to add more "probing paths" that the CLR can load when

[2019-02-21 23:57] gabrielschulhof commented on #449
@raffaeler if the addon is provided via npm and consumed by the various applications as `require('package-name')` then it should always be possible to interject an `index.js` which then loads the addon using the ping-pong method I described earlier.

Each app that uses the addon would then install its own copy with its own config file. If the package is installed globally using `npm install -g` th

[2019-02-22 03:44] jaubourg commented on #231
I was cruising the web for solutions mixing `AsyncWorker` and promises to no avail. So I made my own very hackish subclass and I thought I'd put it here for reference:

[code]

The idea is to feed an unused callback to `AsyncWorker`. `OnError` rejects with the given exception while `OnOK` simply calls a new virtual method called `Resolve` to which the `Deferred` is passed.

So you implement `Execu

[2019-02-22 10:48] raffaeler commented on #449
@gabrielschulhof If the user decides to install it globally, I (and the user) expect the settings are shared too (which is fine if this is what the user wants).
There are many packages that are suggested not to be installed globally, and this is one of them.

With regards to the index.js, it is an additional step just to receive the module information, which is something that existed before N-API

[2019-02-22 15:43] mhdawson commented on #449
I wanted to understand what was needed from the module directory and why they are needed. From what I parse from the discussion the main gap is the ability to get the path for the module.

@gabrielschulhof we should be able to grab the path as part of the module creation and potentially stash in the env, then expose through something like napi_get_addon_path.  @gabrielschulhof does that sound reas

[2019-02-22 16:04] raffaeler commented on #449
@mhdawson thanks for the answer Michael, I was afraid to receive such an answer.
In addition to the addon folder module, I would suggest to add the other 'important' folders:
- the project root where the package.json of the app is found
- the node_modules folder
Of course the addon folder is important because, during development time, native folders are found in the `build/debug` or `build/release

[2019-02-22 16:11] jaubourg commented on #443
@gabrielschulhof I'm hitting the same issue. I'd like to keep the reference to the underlying `const char *` alive for the duration of an AsyncWorker so that I can inspect the value in another thread. No cigars because of this Reference limitation. When Execute starts, there's only garbage in of course. I actually have to duplicate the buffer and free it in the destructor of the AsyncWorker. Prett

[2019-02-22 17:22] gabrielschulhof commented on #443
@jaubourg we couldn't support references to primitive types because not all engines support such references.

AFAIK accessing a JavaScript value from another thread is not supported in V8 either, so that would include dereferencing a persistent reference to a string.

You can save yourself the allocation/destruction by adding a `std::string` member to your class and storing the string in there. It

[2019-02-22 17:23] mhdawson commented on #443
@gabrielschulhof I was just about to suggest something along the same lines :)

[2019-02-22 17:54] jaubourg commented on #443
Thanks for the tip @gabrielschulhof :) It just saddens me any time there unnecessary allocation and duplication of memory :(

[2019-02-23 08:21] gabrielschulhof commented on #449
@mhdawson adding stuff to `env` wouldn't work because `env` is shared among addons, unless we update the fields of `env` at all points before ceding control to the addon. That, in turn would add to the cost of each callback.

@raffaeler we intentionally didn't create a one-to-one mapping of pre-existing API to N-API. Another consequence, had we sent the `Napi::Object module` into the initializer,

[2019-02-23 09:28] kaanmehmetaksoy commented on #450
@legendecas and @gabrielschulhof Thanks for solution. I have designed all the classes in my library like as your suggested. now all of them have shutdown function triggering the destructor. and I will call it manually when needed. i want to avoid memory leak. my raspberrypi should be working long time without stopping.

[2019-02-23 10:37] raffaeler commented on #449
@gabrielschulhof Thanks for the example, but I want to exclude any requirement in terms of a javascript initializer as the initial require can also be made from another native addon. I really don't understand why I can 'expand' `__dirname` for my module inside C++. It looke like a discordant note.

I am not asking to restore the Module object but just an addon specific object containing the inform

[2019-02-23 16:47] raffaeler commented on #449
An additional consideration. I remember to have seen different results (even in javascript) when the addon is packed from `webpack`.
I strongly believe that:
- the documentation should give more info about the possible change of the variable/objects values depending on all these situations (pure node, electron, webpack, etc.)
- add to the runtime a number of values that are always available and tr

[2019-02-23 19:16] gabrielschulhof commented on #449
@raffaeler Node.js wraps CommonJS modules in the following:
[code]
and then passes `exports`, `require`, `module`, `__filename`, and `__dirname` to the resulting function when executing the module.

AFAIK it does no such thing for native modules, and also AFAIK there is no way to retrieve values of variables that are in scope. I guess it's setting `__filename` on `module` and passing that into the

[2019-02-23 19:20] gabrielschulhof commented on #449
We also need to keep in mind that `dlopen()` may follow symlinks when loading a module, so the path given to `dlopen()` may not be the path where the module actually resides, and `dlopen()` doesn't report back the results of its traversal – at least not in a portable way. In this case, if we were to report that path to the module, it would be incorrect.

[2019-02-23 19:52] raffaeler commented on #449
@gabrielschulhof got it, now I get why `__dirname` is not available, thanks for the explanation.

I expect my addon can be loaded from other native addons. On my side I did it in other addons by getting `process.mainModule.require` from C++, but my addon is not currently doing it.

Said that, my addon do load other dlls shipped as part of the addon package (no need for `require` in this case).
The

[2019-02-25 18:17] gabrielschulhof commented on #449
Hey! Can you unmute me? I joined by phone.

[2019-02-25 19:02] raffaeler commented on #449
@gabrielschulhof I can't ... you only can do it via web interface. Sorry

[2019-02-26 05:03] ameetgohil opened #453 "trying to return BigInt type doesn't work"
I'm using this https://github.com/nodejs/node-addon-api/blob/master/doc/bigint.md document as a reference to return a  bigint from c++ but I'm getting the following error:
[code]

Here is the source code:
[code]

I tried to add a compile define NAPI_VERSION=3147483700 which is larger the #if (NAPI_VERSION > 2147483646) but now i get this error

[code]

[2019-02-26 05:25] ameetgohil commented on #453
I tried to add a compile define NAPI_VERSION=3147483700 which is larger the #if (NAPI_VERSION > 2147483646) but now i get this error
[code]

[2019-02-26 21:02] mhdawson commented on #453
I think you need to use

I think you need to use #define NAPI_EXPERIMENTAL as opposed to directly setting the NAPI_VERSION

[2019-02-26 21:10] ameetgohil commented on #453
@mhdawson Thanks, that worked!

[2019-02-26 21:11] #453 closed

[2019-02-28 21:21] mhdawson commented on #453
:)

[2019-03-04 14:36] asfernandes commented on #265
I have a situation that JS code is passing `0` as argument, I received it in C++ and `info[2].IsNumber() == true` but when I call `info[2].Int32Value()` it throws `Invalid argument` error.

Why `0` is not an integer?

[2019-03-04 14:57] NickNaso commented on #265
Hi @asfernandes,
could you try this `info[2].As<Napi::Number>().Int32Value()` ?

[2019-03-04 16:29] addaleax commented on #265
Btw, there’s the related threads: https://github.com/nodejs/node/issues/26323 and, to lesser degree, https://github.com/nodejs/node-addon-examples/issues/91.

*tl;dr*: If you want to check whether a number is an integer, you can use `DoubleValue()` and check for integer-ness by casting back and forth once: `(double)((int64_t)(double_value)) == double_value`.

[2019-03-04 20:01] jlipps commented on #405
Just wanted to follow up and say that these pointers were what I needed to get going. It's all working now. Thanks again!

[2019-03-04 20:20] NickNaso commented on #405
I'm glad to hear that it worked for you.

[2019-03-04 21:30] mhdawson commented on #438
@legendecas just landed as: https://github.com/nodejs/node-addon-api/pull/448

[2019-03-04 21:31] mhdawson commented on #438
@legendecas any remaining questions that need to be addressed in this issue.  If not can you close it?

[2019-03-04 21:33] mhdawson commented on #450
@kaanmehmetaksoy I see you closed and re-opened.  It looks like your questions were answered discussion that needs to take place before the issue is closed?

[2019-03-04 21:34] mhdawson commented on #449
@raffaeler @gabrielschulhof we've discussed in the recent N-API team meetings and @gabrielschulhof is trying out some different options and will post an update once he's done that.

[2019-03-04 21:37] mhdawson commented on #437
@iffy just wondering if your questions have been answered and this issue can be closed?

[2019-03-04 21:39] mhdawson commented on #427
Closing this issue as a PR to fix has landed (Thanks @DuBistKomisch).

[2019-03-04 21:39] #427 closed

[2019-03-04 21:43] mhdawson commented on #408
@GhostFlying is this something you still need help with?

[2019-03-04 21:43] mhdawson commented on #404
@sudhakar3697 is this something you still need help with?

[2019-03-04 21:45] mhdawson commented on #378
@bsrdjan did @NickNaso's answer solve your question?

[2019-03-04 21:47] iffy commented on #437
I haven't had any memory-related issues lately (since changing some of the C code) so I'd consider this closed.  Thank you so much for your help!

[2019-03-04 21:47] #437 closed

[2019-03-04 21:59] twoi commented on #438
Let me close this. My question has been answered as "currently not possible with (pure) node-addon-api
"

[2019-03-04 21:59] #438 closed

[2019-03-04 22:39] asfernandes commented on #265
@NickNaso it seems my problem was another but my logs wasn't working properly. My usage of `ToNumber()` seems to work as I was expecting.

[2019-03-05 01:36] GhostFlying commented on #408
sorry to miss this, I've no problems. Thx.

[2019-03-05 01:36] #408 closed

[2019-03-05 07:56] jorangreef commented on #265
@bsrdjan We had the same requirements as you. This is what we ended up using to get an argument as an integer, rejecting NaN, +/-Infinity and floats:

It's not engine dependent, but it is tricky, you have to check for undefined behavior before casting the double to an integer. I'm not sure even this is right and would appreciate feedback. Perhaps it makes sense to have this in N-API to get more ey

[2019-03-05 10:20] bsrdjan commented on #378
I could not apply pkg-config in my use-case. To my understanding, it simplifies the build process and my problem is shipping an nodejs addon, depending on binary libraries which must be download and installed separately, so their path may differ on macOS systems of node addon users.

For the time being I provide a shell script to "patch" the binaries and node addon, by adding that "remote path" (m

[2019-03-05 10:20] #378 closed

[2019-03-05 14:46] mhdawson opened #454 "Time for a new release?"
It might be time for a new release. The last one was just over 3 months ago.

Some PRs/issues we might want to address first:
- [x] nodejs/node-addon-api#407
- [x] https://github.com/nodejs/node-addon-api/pull/458
- [x] https://github.com/nodejs/node-addon-api/pull/459
- [x] https://github.com/nodejs/node-addon-api/pull/460
@nodejs/n-api Please suggest others if you think we should address them be

[2019-03-06 15:40] ReggaePanda opened #455 "napi_invalid_arg on ObjectWrap by Constructor"
I try to create an Object in JS and pass it to a function

[code]

but unwrapping throws an `Napi_invalid_arg` error on line
`LeptonicaPix *pixImage = LeptonicaPix::Unwrap(info[0].As<Napi::Object>());` and
`LeptonicaPix *pixImage = Napi::ObjectWrap<LeptonicaPix>::Unwrap(info[0].As<Napi::Object>());`

[code]

I find only examples by create instances by a function, but not by a constructor. 🥺

Repo:

[2019-03-06 18:05] ReggaePanda commented on #455
I recognized that `LeptonicaPix::LeptonicaPix` run two times
first time `_image`is null 👍🏼
second time it's `<invalid_address>` 😓

<img width="1303" alt="bildschirmfoto 2019-03-06 um 19 03 42" src="https://user-images.githubusercontent.com/2183135/53903005-d231a980-4042-11e9-925c-8cb2a59f0c20.png">

[2019-03-06 19:11] sudhakar3697 commented on #404
@mhdawson  Thank you.

Kindly go through the code.
I have used FunctionReference also but not working.
Maybe I am doing FunctionReference stuff wrong or something.

#include <napi.h>
#include <msclr\marshal_cppstd.h>
using namespace System;
using namespace Management;
using namespace Threading;

#pragma managed

Napi::Function emit;
Napi::FunctionReference f;

int x = 1;
void Watcher_EventArrived(

[2019-03-06 22:01] ReggaePanda commented on #455
😓 it was an mistake in my TypeScript
My Class definition defined the Instance to an Class property

[2019-03-06 22:01] #455 closed

[2019-03-08 05:16] k2la opened #457 "Promise::Deferred in C callback function"
I'm trouble about the following code:

[code]

This code:
1. `MyClass::Do` is called by Nodejs code directly.
2. After `do_async` ends in another thread,  `my_callback` begins.
3. `my_callback` sees `res` and executes `deferred->Resolve` or `deferred->Reject`.

I want to run this code as above but segmentation fault occurs in `my_callback`.

With the following restriction, How should I use `deferr

[2019-03-11 17:29] mhdawson commented on #454
Possibly https://github.com/nodejs/node-addon-api/pull/442 if it is ready.

[2019-03-15 13:33] mhdawson commented on #457
I think we need to see the implementation of do_async. My first guess is that you might need to use https://github.com/nodejs/node-addon-api/blob/master/doc/async_worker.md

and ensure that  my_callback is invoked in the OnOK method to ensure it runs on the main thread.

[2019-03-15 13:34] mhdawson commented on #457
The key point above is that node-addon-api code interacting with JavaScript must run on the main thread, not on any other thread.

[2019-03-21 22:47] Aerrus opened #461 "Cannot get callbacks to trigger immediately in long running call"
I have a button in Javascript that passes in a function that modifies the UI to my NAPI module, which will use it multiple times over a long running task.

Basic setup:

Javascript:
[code]
In my NAPI wrapper:

[code]
When I run the code, upon clicking the button, it simply freezes for the full 5 seconds, and then prints `Immediate` and `Post delay` together.

How do I make it print `Immediate` imm

[2019-03-22 08:28] p3x-robot opened #462 "async thread that emittes data"
Hello!

How are you?
I am trying to use a video stream and then detect faces using OpenCV.

My problem is, that there is the `AsyncWorker`, but it is just 1 execution, not a stream that is continuous.

Now, for the face detection is kind of like a stream, that is emitting to NodeJS the data it sends to NodeJs the faces data, so, keep the thread running and every like about 30 FPS and emitting.

Is

[2019-03-22 11:20] NickNaso commented on #462
Hi @p3x-robot,
you cannot do this with `node-addon-api` with actual version so for now you need to use the C api of N-API. This until this this PR https://github.com/nodejs/node-addon-api/pull/442 will be landed.

[2019-03-22 22:46] NickNaso commented on #462
Hi @p3x-robot,
my example was on how to use the event emitter, but all the execution happen in the main thread and it's not ideal for what you want to do. Now I'm at a conference when I will came back I will try to write an example that could help you.

[2019-03-22 22:49] NickNaso commented on #461
I see the `jquery` code which is your execution runtime?

[2019-03-23 00:03] Aerrus commented on #461
Electron app (Node.js)

[2019-03-23 15:37] NickNaso commented on #462
@p3x-robot Could you post your code or an example that emulate your code?

[2019-03-25 01:15] k2la commented on #457
Thank you for your reply.

I want to use the following `Producer::SendAsync` as `do_async`.

[code]

We register `pulsarProducerSendCallbackProxy` which operates `deferred` with [pulsar_producer_send_async](https://github.com/apache/pulsar/blob/dd5d05197a9352aba392ae30e7c60e05fc52be0b/pulsar-client-cpp/lib/c/c_Producer.cc#L44-L49) in [Pulsar C++ client library](https://github.com/apache/pulsar/tre

[2019-03-25 17:37] mlangwell commented on #425
Hey @mhdawson @NickNaso! I'm back again lol. I had some more time to invest into this again and with this code I am getting a 0 response

`std::cout << "Is there a pending exception: " << env.Env::IsExceptionPending() << std::endl;`

However, I am now getting a npm error:

[code]

Any idea what this could be from? From my initial search I could not find anything. Thanks!

[2019-03-27 13:22] #462 closed

[2019-03-27 17:56] mlangwell commented on #425
Hey @NickNaso @mhdawson  guys, sorry to bug you again just have not heard from you in a couple of days. Here are some additional logs if this helps. I am still getting the same issue:

[code]

[2019-03-27 23:32] simonbuchan commented on #225
I implemented something like `IsExternalOf` (actually for unwrap, but the same idea) with code like:

[code]

But note that the `inline static` trick requires C++17. Otherwise the user has to have a `NapiWrappedTypeObject NapiWrapped<Foo>::type_object;` declaration in a `.cxx` file for each `Foo`.

Since this reserves and associates a unique memory address with each `T`, you can trust this at leas

[2019-03-28 09:49] legraphista commented on #425
By the looks of it, your test script is failing
[code]
either `tsc ./src/project.ts` has an error while compiling or `node ./src/project.js` has an error executing.

[2019-03-28 11:47] mlangwell commented on #425
Hi @legraphista! Thanks for the comment. As described above the error only happens at the return statement in my C++ function wrapped by NAPI. After some long scouring of the W3 I realized that the error code I am receiving is due to a stack overflow.

I do not know how reliable this source is, but I figured it was a decent place to start looking until someone else had a suggestion: [cmd/dos error

[2019-03-28 12:38] legraphista commented on #425
Have you tried running the code under a debugging environment like `gdb` (or `lldb` for MacOS).
It's extremely helpful writing native C++ code for node.
[code]
and when there's a crash, it'll break on exception. `bt` command will print a backtrace of the stack and from there you could look into the frames of why/where the issue occurred.

Don't forget to build your native code under debug mode to

[2019-03-28 12:41] mlangwell commented on #425
@legraphista I will give that a try now. Thanks for the suggestion!

[2019-03-28 12:45] legraphista commented on #425
Unfortunately, I'm not familiar with windows tools for debugging native code.
I just noticed by the logs that you're running in a windows environment.

[2019-03-29 09:22] extmchristensen commented on #312
Is this ready for release ?

[2019-03-29 09:30] extmchristensen opened #463 "Bundles node_api.h is outdated"
I am writing a large C++ addon and would like to use the node-addon-api but it lacks some of the "C" API's features (thread safe functions in particular) so I need to fallback on the "C" N-API.

Unfortunately, the node-addon-api bundles a too old version of "node_api.h", so I can't mix and match.

Could node-addon-api be updated to use latest N-API C header files ?

[2019-03-29 09:42] vweevers commented on #269
Does this only apply to Windows (and not any other platform)?

[2019-03-29 10:01] legendecas commented on #463
AFAIK, you could directly include `node-api.h` in `/usr/local/include/node` (assuming installed node.js with headers).

[2019-03-29 10:01] Mattyzero commented on #432
Is there a way to call the saved callback from another thread? I always get the same error as @twoi

[2019-03-29 10:55] extmchristensen commented on #463
@legendecas But I would like to do this in a platform independent way (that also works on Windows).

[2019-03-29 10:58] extmchristensen commented on #454
Would really be super nice with an update soon for #442 + update the bundled N-API headers for "C" (#463).

[2019-03-29 11:03] extmchristensen commented on #463
@legendecas Also, I suspect the linker might yield problems if the same c++ code is using two different versions of the same header file in the same build ?

[2019-03-29 16:29] gabrielschulhof commented on #463
@extmchristensen you only need the bundled N-API implementation if you're planning on building against a version of Node.js which does not itself have an implementation of N-API (i.e. pre-6.14.2, IIRC). node-addon-api avoids using the built-in headers if the version of Node.js against which it's building has its own headers.

The reason node-addon-api does not have thread-safe function is not that

[2019-03-29 16:39] gabrielschulhof commented on #269
@vweevers I'm pretty sure it's Windows-specific, because on Windows the source of the symbols required by the native addon matters. If the native addon specifies that the symbols have to come from "node.exe", then the loader will only use "node.exe" to resolve the symbols. "node.dll" will not satisfy the requirement. However, the [workaround](https://github.com/nodejs/node-addon-api/issues/269#iss

[2019-03-30 10:47] stevebaxter commented on #269
I think that's correct, AFAIK it's only on Windows that the symbols are exported from different DSOs depending on how everything is linked (or at least this hasn't been a problem on macOS).

[2019-03-30 10:50] stevebaxter commented on #269
The right way to do this on Windows is probably to repackage node.exe into node.exe (a small executable that just acts as a command-line handler for node.dll), and node.dll (the main DLL that exports all the symbols). This way, NAPI modules would always link to node.dll, executables that use node (e.g. Electron) would also link to node.dll.

This might be too big a change for the node team though,

[2019-03-30 10:53] vweevers commented on #269
Yes, I've confirmed that with tests.

I could not reproduce the issue though on Windows with Electron 4, only Electron 3.

[2019-03-30 17:06] abhi11210646 commented on #340
Hi @NickNaso @rivertam,
I also facing the problem with arrays. I already have a **C++ implemented library** which accepts an array.
but "node-addon-api" have Napi::Array. I didn't find the conversion method for this.
if I create new int array then assign all element from **Napi::Array** will be expensive. so what do you suggest?

[2019-03-31 18:33] gabrielschulhof commented on #340
@abhi11210646 converting from a JavaScript array to a native array is an expensive operation. OTOH you can use a JavaScript [Int32Array](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Int32Array) as in the following example: https://github.com/gabrielschulhof/node-addon-examples/blob/array_buffer_to_native/array_buffer_to_native/node-addon-api/index.js. On the nat

[2019-04-01 12:19] extmchristensen commented on #463
@gabrielschulhof I don't understand  the point that node-addon-api is unneeded for recent node versions.... If I don't add node-addon-api to package.json + binding.gyp, I get compilation errors about napi.h being missing.

[2019-04-01 18:51] gabrielschulhof commented on #463
@extmchristensen  node-addon-api is needed if you wish to use `Napi::*` in your native addon. On recent versions of Node.js, `src/node_api.h`, `src/node_api.cc` and all other files under node-addon-api's `src/` directory are unneeded, because they are part of Node.js itself.

What versions of Node.js do you plan to support with your native addon?

[2019-04-02 09:33] BotellaA opened #464 "Unresolved external symbol with napi"
I built a library `foo` that depends on node-addon-api. It compiles and links with VS2017 without any issues. Then, I want to create a test executable `bar` that depends on `foo`. This executable compiles but does not link. I do not understand why.

I get a lot of errors like this one
[code]

Thanks a lot for your help

[2019-04-02 09:43] BotellaA commented on #464
My mistake, missing basic cmake-js configuration... 😢
`target_link_libraries(${PROJECT_NAME} ${CMAKE_JS_LIB})`

[2019-04-02 09:43] #464 closed

[2019-04-02 18:28] gabrielschulhof commented on #461
@Aerrus AFAICT you end up passing the string "Immediate" to jQuery so that it might append it to the DOM. The DOM may not be updating itself synchronously, meaning that `$('#outputTxt').prepend(msg + "<br/>") // h3` returns before the DOM actually reflects the change that was made to it. Since it returns early, it immediately goes to sleep, so that the change in the DOM is reflected only after it

[2019-04-02 18:45] mhdawson commented on #340
Landed the example in node-addon-examples.  Let is know if that resolves your questions.

[2019-04-02 18:47] mhdawson commented on #269
@codebytere was there something changed in electron4 that would have helped on this front?

[2019-04-02 18:54] mhdawson commented on #457
I think you'll need to use AsyncWorker or more likely https://nodejs.org/dist/latest-v11.x/docs/api/n-api.html#n_api_asynchronous_thread_safe_function_calls to ensure that you are only making the N-API calls on the main thread.   We don't have a wrapper in node-addon-api yet but you can mix node-addon-api and the native C calls to N-API

[2019-04-02 18:57] NickNaso commented on #454
Hi everyone like discussed in the last meeting I will provide to make a new release (v1.6.3).

[2019-04-02 19:02] refack commented on #269
BTW that's what `node-gyp` does by adding [`win_delay_load_hook.cc`](https://github.com/nodejs/node-gyp/blob/master/src/win_delay_load_hook.cc) to every addon in
https://github.com/nodejs/node-gyp/blob/bb8b294ae76ed16d6633344ff06f6dc5d5ddbe02/addon.gypi#L67-L89

/CC @unbornchikken @cmake-js

[2019-04-02 20:09] vweevers commented on #269
It may be a separate issue. I get the `A dynamic link library (DLL) initialization routine failed` error with `node-gyp` in fact. To reproduce (pairing Electron 3 with `leveldown@5`):

[code]

[2019-04-03 04:19] abhi11210646 commented on #340
Hi @gabrielschulhof, it worked this way. thank you.

[2019-04-03 08:32] extmchristensen commented on #463
@gabrielschulhof On my node 11 windows installation, I can not find the headers in the node installation. itself, but they are present under node-gyp at  <homedir>\.node-gyp\version\include\node

As for your question, I need to support at minimum v10 and v11 with additional support for v8 and v9 as nice to have. I am currently using the C++ node-addon wrapper + a 3rd party napi-thread-safe-callbac

[2019-04-03 15:11] rivertam commented on #340
For those (like myself) who want a link to the example @mhdawson is referencing: https://github.com/nodejs/node-addon-examples/commit/7124e5f34d98a3a64e2eb2d2500eaf7cb4be8457#diff-36c91849c5180ea4227b8c709138a26b

[2019-04-03 16:20] NickNaso commented on #340
@rivertam I want update you that the example has been landed in the example repo and eveyone can find it here: https://github.com/nodejs/node-addon-examples/tree/master/array_buffer_to_native/node-addon-api and @gabrielschulhof added some explanations in the array documentation https://github.com/nodejs/node-addon-api/pull/465
What do you think? Do we need to do more?

[2019-04-03 17:07] rivertam commented on #340
Yeah, I think this is exactly what I was looking for at the time. I can't test it or anything because we essentially dropped that project (we had to move to Python for unrelated reasons -- I'm still bitter), but this definitely seems like it covers the concern I had initially.

I suppose I'll close this, but I'm not sure what the exact protocol here is so anyone can feel free to reopen.

[2019-04-03 17:07] #340 closed

[2019-04-03 21:51] NickNaso commented on #454
I'm closing the issue because the new version v1.6.3 has been released.
@extmchristensen this is a minor release, but in the next we will add the implementation of thread safe function that is currently on progress.

[2019-04-03 21:51] #454 closed

[2019-04-04 08:55] mythicsr opened #466 "node-addon-api Call js Object's method fail"
I pass a javascript object to c++ code, c++ code call this object's method "readdata1", but the object's second method (readdata2) didnt called;

the console tell me that "readdata2" is undefined;

js code:

    const testfunc = require('./index').testfunc;

    class reader{
        constructor(){
            this.readdata2=function(){
                console.log('js:readdata2')
                r

[2019-04-05 16:20] mlangwell commented on #425
hey @legraphista, I have not had much luck implementing any debugging with VSCode. I am using third party DLL's in my N-API logic and whenever it goes to call a function in one of the DLL's it just crashes. Any thoughts?

[2019-04-06 21:34] NickNaso commented on #466
Hi @mythicsr,
the problem here is that you need to specify the `this` object so your code will became something like this:
[code]
See at `Napi::Function` documentation`  [here](https://github.com/nodejs/node-addon-api/blob/master/doc/function.md#call-3)

Furthermore I post here a full example that I created based on your reported problem.
[issue466.zip](https://github.com/nodejs/node-addon-api/fil

[2019-04-08 17:31] mhdawson commented on #231
* Discussion in latest N-API meeting - Unsafe Self-Destructing Behavior
  * To be consistent with nan we should add
[code]

[2019-04-09 01:27] k2la commented on #457
I understood that.
Thank you. I'll do some more research.

[2019-04-10 23:22] Aerrus commented on #461
@gabrielschulhof you're right, it's just sleeping before the change is reflected. The console updates before the sleep. Not sure how to avoid this though. Since my long running task has to be on the UI thread as well. I used usleep to simulate the UI thread being taken up by my long task.

This relates to another problem that I've been having actually, I have a C++ function in a library that pops

[2019-04-11 19:50] mathiask88 opened #467 "Array subscript operator question"
Hey, I do programming for fun, and while I wrote something like this
[code]
MSVS complains about `class "Napi::Object::PropertyLValue<uint32_t>" has no member "IsObject"`
The compiler uses the non-const lvalue overload which is correct I think?!
And I was wondering what is the intended solution for this case?
[code]

[code]

[code]

[2019-04-11 20:07] gabrielschulhof commented on #467
@mathiask88 I believe the simplest way around this error is to do
[code]

[2019-04-11 20:11] gabrielschulhof commented on #467
@mathiask88 AFAICT the `static_cast<Value>(data_arr[i])` also works.

[2019-04-11 23:27] gabrielschulhof commented on #463
@extmchristensen for this range of Node.js versions N-API is built-in. Therefore node-addon-api will not compile the version of N-API it ships. This means that the files in its `src/ ` subdirectory are OK to be out-of-date because they will not be compiled and linked into your add-on. Rather, your addon will link to the N-API implementation provided by Node.js.

[2019-04-11 23:44] gabrielschulhof commented on #461
@Aerrus if you have control over the long-running task, you should re-factor it to run as an idle loop.

You should actually be OK to capture the `napi_env` if the call to the C++ function is synchronous, because synchronous execution should be like this:
[code]

[2019-04-11 23:45] gabrielschulhof commented on #461
Of course, if the C++ UI takes over the event loop, the Node.js event loop will hang, so some things may be unresponsive.

[2019-04-12 01:34] daihy8759 opened #468 "Napi::Object in AsyncWorker"
[code]
i  get nothing from scanConfig，anything wrong？

[2019-04-12 05:06] gabrielschulhof commented on #468
@daihy8759 what do you mean "i get nothing from scanConfig"?

[2019-04-12 05:43] daihy8759 commented on #468
scanConfig.Get("xx") is undefined

[2019-04-12 18:13] gabrielschulhof commented on #468
@daihy8759 AFAICT that can only happen if you haven't defined the `"xx"` property on the JavaScript side before passing `scanConfig` into the binding. Can you check that `"xx"` is set on the object in JavaScript?

[2019-04-13 14:31] daihy8759 commented on #468
yes

[2019-04-15 17:00] gabrielschulhof commented on #468
@daihy8759 you should also be able to retrieve `"xx"` in the constructor for the `ScanAsyncWorker` class.

If you want to access `scanConfig` and its properties from the `OnOK` and/or `OnError` callbacks of the `ScanAsyncWorker` class, you must store `scanConfig` as a `Napi::ObjectReference`, not a `Napi::Object`, because a `Napi::Object` becomes invalid as soon as control returns to JavaScript, w

[2019-04-15 17:09] NickNaso commented on #466
@mythicsr any  news?

[2019-04-15 17:52] cclauss opened #469 ".travis.yml: The 'sudo' tag is now deprecated in Travis CI"
[Travis are now recommending removing the __sudo__ tag](https://blog.travis-ci.com/2018-11-19-required-linux-infrastructure-migration).

"_If you currently specify __sudo: false__ in your __.travis.yml__, we recommend removing that configuration_"

[2019-04-15 17:59] mhdawson commented on #231
* Hard-coded Javascript Function Callbacks, solution discussed:
  * Static member in AsyncWorker that define Function that is empty
  * OnOK and OnError check if function is empty and if not, then don't try to call it
  * Create new contructors that don't take parameter and calls the others using the empty function

[2019-04-15 18:01] mhdawson commented on #231
* No Support for Promises
  * Based on earlier discussion, suggestion would be to create an npm module as it goes beyond just
     wrapping N-API functions.

[2019-04-16 22:50] arutr opened #471 ""expected initializer before InitAll""
I am working through the object wrap example in `node-addon-examples`. I have the following code:
[code]
The compiler does not seem to like it though:
[code]

[2019-04-17 09:55] NickNaso commented on #471
Hi @arutr,
does the original example work? Which version of Node.js are you using? Could you post your code or a stub of it or if it's public maybe you ca post the link.
Could you try to change:
`NODE_API_MODULE(xcb, InitAll)` to `NODE_API_MODULE(NODE_GYP_MODULE_NAME, InitAll)`?
keep me updated about this.

[2019-04-17 14:31] arutr commented on #471
Nevermind. Turns out I was missing a semicolon at the end of a header file.
The compiler failed to pick it up, oddly enough.

[2019-04-17 14:31] #471 closed

[2019-04-19 18:44] markandrus opened #472 "Feature Request: Support for Map and Set"
I'm converting a module from v8/NAN to N-API/node-addon-api and it would be very useful to have support for Map and Set. I see I can get Map's constructor from `env.Global()`, but first-class support would be nice. Perhaps this should first be added to/requested from N-API first?